<div class="custom-faqs-section__content--item">
  <details>
    <summary>
      {{ title }}
      
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
        <path d="M6.00049 8H1.00049C0.717155 8 0.479655 7.90417 0.287988 7.7125C0.0963216 7.52083 0.000488281 7.28333 0.000488281 7C0.000488281 6.71667 0.0963216 6.47917 0.287988 6.2875C0.479655 6.09583 0.717155 6 1.00049 6H6.00049V1C6.00049 0.716667 6.09632 0.479167 6.28799 0.2875C6.47965 0.0958333 6.71715 0 7.00049 0C7.28382 0 7.52132 0.0958333 7.71299 0.2875C7.90465 0.479167 8.00049 0.716667 8.00049 1V6H13.0005C13.2838 6 13.5213 6.09583 13.713 6.2875C13.9047 6.47917 14.0005 6.71667 14.0005 7C14.0005 7.28333 13.9047 7.52083 13.713 7.7125C13.5213 7.90417 13.2838 8 13.0005 8H8.00049V13C8.00049 13.2833 7.90465 13.5208 7.71299 13.7125C7.52132 13.9042 7.28382 14 7.00049 14C6.71715 14 6.47965 13.9042 6.28799 13.7125C6.09632 13.5208 6.00049 13.2833 6.00049 13V8Z" fill="#931E31"/>
      </svg>
    </summary>
    <p>
      {{content }}
    </p>
  </details>
</div>