<details>
  <summary>
    {{ title }}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <mask id="mask0_14067_7286" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
        <rect width="24" height="24" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask0_14067_7286)">
        <path d="M11 13.0001H6C5.71667 13.0001 5.47917 12.9042 5.2875 12.7126C5.09583 12.5209 5 12.2834 5 12.0001C5 11.7167 5.09583 11.4792 5.2875 11.2876C5.47917 11.0959 5.71667 11.0001 6 11.0001H11V6.00006C11 5.71673 11.0958 5.47923 11.2875 5.28756C11.4792 5.09589 11.7167 5.00006 12 5.00006C12.2833 5.00006 12.5208 5.09589 12.7125 5.28756C12.9042 5.47923 13 5.71673 13 6.00006V11.0001H18C18.2833 11.0001 18.5208 11.0959 18.7125 11.2876C18.9042 11.4792 19 11.7167 19 12.0001C19 12.2834 18.9042 12.5209 18.7125 12.7126C18.5208 12.9042 18.2833 13.0001 18 13.0001H13V18.0001C13 18.2834 12.9042 18.5209 12.7125 18.7126C12.5208 18.9042 12.2833 19.0001 12 19.0001C11.7167 19.0001 11.4792 18.9042 11.2875 18.7126C11.0958 18.5209 11 18.2834 11 18.0001V13.0001Z" fill="#931E31"/>
      </g>
    </svg>
  </summary>
  <p>
    {{ content }}
  </p>
</details>