{% comment %} card {% endcomment %}
<div class="inner-card">
  <div class="inner-card__labels">
    <div class="inner-card__labels--heading">Keio Fibra</div>
    <div class="inner-card__labels--body">
      <ul>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_12853_5662" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_12853_5662)">
              <path d="M11.9997 13.8655C11.315 13.8655 10.6503 13.9552 10.0055 14.1345C9.36063 14.314 8.7523 14.5897 8.18046 14.9615C7.9958 15.068 7.79905 15.1203 7.59021 15.1183C7.38121 15.1164 7.19655 15.0353 7.03621 14.875C6.88888 14.7275 6.8203 14.5544 6.83046 14.3558C6.8408 14.1571 6.92988 14.0026 7.09771 13.8923C7.81705 13.3936 8.59463 13.0144 9.43046 12.7548C10.2663 12.4953 11.1227 12.3655 11.9997 12.3655C12.8767 12.3655 13.7331 12.4953 14.569 12.7548C15.4048 13.0144 16.1824 13.3936 16.9017 13.8923C17.0695 14.0026 17.1586 14.1571 17.169 14.3558C17.1791 14.5544 17.1105 14.7275 16.9632 14.875C16.8029 15.0353 16.6182 15.1164 16.4092 15.1183C16.2004 15.1203 16.0036 15.068 15.819 14.9615C15.2471 14.5897 14.6388 14.314 13.994 14.1345C13.3491 13.9552 12.6844 13.8655 11.9997 13.8655ZM11.9997 6.48075C10.2869 6.48075 8.63655 6.75125 7.04871 7.29225C5.46088 7.83325 4.00413 8.62875 2.67846 9.67875C2.51063 9.82242 2.32313 9.89325 2.11596 9.89125C1.90896 9.88942 1.72538 9.81475 1.56521 9.66725C1.41771 9.51992 1.34488 9.34267 1.34671 9.1355C1.34871 8.9285 1.4318 8.75958 1.59596 8.62875C3.0818 7.44425 4.71188 6.54333 6.48621 5.926C8.26055 5.30867 10.0984 5 11.9997 5C13.901 5 15.7389 5.30542 17.5132 5.91625C19.2875 6.52725 20.9176 7.43142 22.4035 8.62875C22.5676 8.75958 22.6507 8.92533 22.6527 9.126C22.6545 9.32667 22.5817 9.50067 22.4342 9.648C22.274 9.7955 22.0905 9.87342 21.8835 9.88175C21.6763 9.89008 21.4888 9.82242 21.321 9.67875C19.9953 8.62875 18.5385 7.83325 16.9507 7.29225C15.3629 6.75125 13.7125 6.48075 11.9997 6.48075ZM12.019 10.173C10.8266 10.173 9.66955 10.3522 8.54771 10.7105C7.42605 11.0688 6.38571 11.6044 5.42671 12.3173C5.25871 12.4443 5.07121 12.5068 4.86421 12.5048C4.65705 12.5029 4.47338 12.4283 4.31321 12.2808C4.16955 12.1333 4.10188 11.9602 4.11021 11.7615C4.11855 11.5628 4.2048 11.4 4.36896 11.273C5.47146 10.4167 6.67371 9.7725 7.97571 9.3405C9.27755 8.90833 10.6272 8.69225 12.0247 8.69225C13.4094 8.69225 14.7517 8.90833 16.0517 9.3405C17.3517 9.7725 18.553 10.4083 19.6555 11.248C19.8196 11.375 19.9068 11.5388 19.917 11.7395C19.9273 11.9402 19.8587 12.1142 19.7112 12.2615C19.551 12.4218 19.3665 12.5029 19.1575 12.5048C18.9485 12.5068 18.76 12.4443 18.592 12.3173C17.6458 11.6173 16.6109 11.0849 15.4872 10.7203C14.3635 10.3554 13.2075 10.173 12.019 10.173ZM11.9997 19.0577C11.5779 19.0577 11.216 18.9068 10.9142 18.6048C10.6122 18.3029 10.4612 17.9411 10.4612 17.5192C10.4612 17.0974 10.6122 16.7388 10.9142 16.4433C11.216 16.1478 11.5779 16 11.9997 16C12.4215 16 12.7834 16.1478 13.0852 16.4433C13.3872 16.7388 13.5382 17.0974 13.5382 17.5192C13.5382 17.9411 13.3872 18.3029 13.0852 18.6048C12.7834 18.9068 12.4215 19.0577 11.9997 19.0577Z" fill="#AFA26F"/>
            </g>
          </svg>
          Fibra 600MB
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_12853_5665" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_12853_5665)">
              <path d="M7.6155 22C7.168 22 6.78683 21.8427 6.472 21.528C6.15733 21.2132 6 20.832 6 20.3845V3.6155C6 3.15517 6.15417 2.77083 6.4625 2.4625C6.77083 2.15417 7.15517 2 7.6155 2H16.4615C16.909 2 17.2901 2.15733 17.6048 2.472C17.9196 2.78683 18.077 3.168 18.077 3.6155V6.83075C18.3257 6.85775 18.5417 6.961 18.725 7.1405C18.9083 7.31983 19 7.53583 19 7.7885V9.55775C19 9.81025 18.9083 10.0262 18.725 10.2057C18.5417 10.3852 18.3257 10.4885 18.077 10.5155V20.3845C18.077 20.832 17.9196 21.2132 17.6048 21.528C17.2901 21.8427 16.909 22 16.4615 22H7.6155ZM7.6155 21H16.4615C16.641 21 16.7884 20.9423 16.9038 20.827C17.0193 20.7115 17.077 20.564 17.077 20.3845V3.6155C17.077 3.436 17.0193 3.2885 16.9038 3.173C16.7884 3.05767 16.641 3 16.4615 3H7.6155C7.436 3 7.2885 3.05767 7.173 3.173C7.05767 3.2885 7 3.436 7 3.6155V20.3845C7 20.564 7.05767 20.7115 7.173 20.827C7.2885 20.9423 7.436 21 7.6155 21ZM9.8845 19.2307H14.1923C14.3346 19.2307 14.4535 19.183 14.549 19.0875C14.6445 18.992 14.6923 18.8731 14.6923 18.7307C14.6923 18.5884 14.6445 18.4695 14.549 18.374C14.4535 18.2785 14.3346 18.2307 14.1923 18.2307H9.8845C9.74233 18.2307 9.6235 18.2785 9.528 18.374C9.43233 18.4695 9.3845 18.5884 9.3845 18.7307C9.3845 18.8731 9.43233 18.992 9.528 19.0875C9.6235 19.183 9.74233 19.2307 9.8845 19.2307Z" fill="#AFA26F"/>
            </g>
          </svg>
          Datos y llamadas ilimitadas
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_12853_5668" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_12853_5668)">
              <path d="M3.6155 20C3.15517 20 2.77083 19.8458 2.4625 19.5375C2.15417 19.2292 2 18.8448 2 18.3845V5.6155C2 5.15517 2.15417 4.77083 2.4625 4.4625C2.77083 4.15417 3.15517 4 3.6155 4H20.3845C20.8448 4 21.2292 4.15417 21.5375 4.4625C21.8458 4.77083 22 5.15517 22 5.6155V18.3845C22 18.8448 21.8458 19.2292 21.5375 19.5375C21.2292 19.8458 20.8448 20 20.3845 20H3.6155ZM3.6155 19H20.3845C20.5385 19 20.6796 18.9359 20.8078 18.8077C20.9359 18.6796 21 18.5385 21 18.3845V5.6155C21 5.4615 20.9359 5.32042 20.8078 5.19225C20.6796 5.06408 20.5385 5 20.3845 5H3.6155C3.4615 5 3.32042 5.06408 3.19225 5.19225C3.06408 5.32042 3 5.4615 3 5.6155V18.3845C3 18.5385 3.06408 18.6796 3.19225 18.8077C3.32042 18.9359 3.4615 19 3.6155 19ZM14.1155 16.5H16.8845C17.332 16.5 17.7132 16.3427 18.028 16.028C18.3427 15.7132 18.5 15.332 18.5 14.8845V12.3077C18.5 12.0756 18.4234 11.8829 18.2703 11.7298C18.1171 11.5766 17.9244 11.5 17.6923 11.5H16.5C16.3577 11.5 16.2387 11.5478 16.1432 11.6433C16.0477 11.7388 16 11.8577 16 12C16 12.1423 16.0477 12.2612 16.1432 12.3567C16.2387 12.4522 16.3577 12.5 16.5 12.5H17.5V14.8845C17.5 15.064 17.4423 15.2115 17.327 15.327C17.2115 15.4423 17.064 15.5 16.8845 15.5H14.1155C13.936 15.5 13.7885 15.4423 13.673 15.327C13.5577 15.2115 13.5 15.064 13.5 14.8845V9.1155C13.5 8.936 13.5577 8.7885 13.673 8.673C13.7885 8.55767 13.936 8.5 14.1155 8.5H18.5C18.3975 8.19367 18.2113 7.95042 17.9413 7.77025C17.6714 7.59008 17.3705 7.5 17.0385 7.5H14.1155C13.668 7.5 13.2868 7.65733 12.972 7.972C12.6573 8.28683 12.5 8.668 12.5 9.1155V14.8845C12.5 15.332 12.6573 15.7132 12.972 16.028C13.2868 16.3427 13.668 16.5 14.1155 16.5ZM8.8845 16.5C9.332 16.5 9.71317 16.3427 10.028 16.028C10.3427 15.7132 10.5 15.332 10.5 14.8845V13.1155C10.5 12.668 10.3427 12.2868 10.028 11.972C9.71317 11.6573 9.332 11.5 8.8845 11.5H6.5V8.5H10C10.1423 8.5 10.2612 8.45225 10.3567 8.35675C10.4522 8.26125 10.5 8.14233 10.5 8C10.5 7.85767 10.4522 7.73875 10.3567 7.64325C10.2612 7.54775 10.1423 7.5 10 7.5H6.30775C6.07558 7.5 5.88292 7.57658 5.72975 7.72975C5.57658 7.88292 5.5 8.07558 5.5 8.30775V11.6923C5.5 11.9244 5.57658 12.1171 5.72975 12.2703C5.88292 12.4234 6.07558 12.5 6.30775 12.5H8.8845C9.064 12.5 9.2115 12.5577 9.327 12.673C9.44233 12.7885 9.5 12.936 9.5 13.1155V14.8845C9.5 15.064 9.44233 15.2115 9.327 15.327C9.2115 15.4423 9.064 15.5 8.8845 15.5H6C5.85767 15.5 5.73875 15.5478 5.64325 15.6433C5.54775 15.7388 5.5 15.8577 5.5 16C5.5 16.1423 5.54775 16.2612 5.64325 16.3567C5.73875 16.4522 5.85767 16.5 6 16.5H8.8845Z" fill="#AFA26F"/>
            </g>
          </svg>
          1 línea extra 30GB
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_12853_5671" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_12853_5671)">
              <path d="M10.6213 15.173L15.0423 12.348C15.1666 12.2608 15.2288 12.1448 15.2288 12C15.2288 11.8552 15.1666 11.7392 15.0423 11.652L10.6213 8.827C10.4801 8.736 10.3412 8.72767 10.2048 8.802C10.0683 8.87633 10 8.99425 10 9.15575V14.8442C10 15.0057 10.0683 15.1237 10.2048 15.198C10.3412 15.2723 10.4801 15.264 10.6213 15.173ZM4.6155 19C4.15517 19 3.77083 18.8458 3.4625 18.5375C3.15417 18.2292 3 17.8448 3 17.3845V6.6155C3 6.15517 3.15417 5.77083 3.4625 5.4625C3.77083 5.15417 4.15517 5 4.6155 5H19.3845C19.8448 5 20.2292 5.15417 20.5375 5.4625C20.8458 5.77083 21 6.15517 21 6.6155V17.3845C21 17.8448 20.8458 18.2292 20.5375 18.5375C20.2292 18.8458 19.8448 19 19.3845 19H4.6155ZM4.6155 18H19.3845C19.5385 18 19.6796 17.9359 19.8078 17.8077C19.9359 17.6796 20 17.5385 20 17.3845V6.6155C20 6.4615 19.9359 6.32042 19.8078 6.19225C19.6796 6.06408 19.5385 6 19.3845 6H4.6155C4.4615 6 4.32042 6.06408 4.19225 6.19225C4.06408 6.32042 4 6.4615 4 6.6155V17.3845C4 17.5385 4.06408 17.6796 4.19225 17.8077C4.32042 17.9359 4.4615 18 4.6155 18Z" fill="#AFA26F"/>
            </g>
          </svg>
          Netflix o Amazon incluido
        </li>
      </ul>
    </div>
  </div>
  <div class="inner-card__actions">
    <button>Activar</button>
  </div>
</div>
{% comment %} card {% endcomment %}
 {% comment %} card {% endcomment %}
<div class="inner-card">
  <div class="inner-card__labels">
    <div class="inner-card__labels--heading">Keio Unlimited</div>
    <div class="inner-card__labels--body">
      <ul>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_12853_5662" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_12853_5662)">
              <path d="M11.9997 13.8655C11.315 13.8655 10.6503 13.9552 10.0055 14.1345C9.36063 14.314 8.7523 14.5897 8.18046 14.9615C7.9958 15.068 7.79905 15.1203 7.59021 15.1183C7.38121 15.1164 7.19655 15.0353 7.03621 14.875C6.88888 14.7275 6.8203 14.5544 6.83046 14.3558C6.8408 14.1571 6.92988 14.0026 7.09771 13.8923C7.81705 13.3936 8.59463 13.0144 9.43046 12.7548C10.2663 12.4953 11.1227 12.3655 11.9997 12.3655C12.8767 12.3655 13.7331 12.4953 14.569 12.7548C15.4048 13.0144 16.1824 13.3936 16.9017 13.8923C17.0695 14.0026 17.1586 14.1571 17.169 14.3558C17.1791 14.5544 17.1105 14.7275 16.9632 14.875C16.8029 15.0353 16.6182 15.1164 16.4092 15.1183C16.2004 15.1203 16.0036 15.068 15.819 14.9615C15.2471 14.5897 14.6388 14.314 13.994 14.1345C13.3491 13.9552 12.6844 13.8655 11.9997 13.8655ZM11.9997 6.48075C10.2869 6.48075 8.63655 6.75125 7.04871 7.29225C5.46088 7.83325 4.00413 8.62875 2.67846 9.67875C2.51063 9.82242 2.32313 9.89325 2.11596 9.89125C1.90896 9.88942 1.72538 9.81475 1.56521 9.66725C1.41771 9.51992 1.34488 9.34267 1.34671 9.1355C1.34871 8.9285 1.4318 8.75958 1.59596 8.62875C3.0818 7.44425 4.71188 6.54333 6.48621 5.926C8.26055 5.30867 10.0984 5 11.9997 5C13.901 5 15.7389 5.30542 17.5132 5.91625C19.2875 6.52725 20.9176 7.43142 22.4035 8.62875C22.5676 8.75958 22.6507 8.92533 22.6527 9.126C22.6545 9.32667 22.5817 9.50067 22.4342 9.648C22.274 9.7955 22.0905 9.87342 21.8835 9.88175C21.6763 9.89008 21.4888 9.82242 21.321 9.67875C19.9953 8.62875 18.5385 7.83325 16.9507 7.29225C15.3629 6.75125 13.7125 6.48075 11.9997 6.48075ZM12.019 10.173C10.8266 10.173 9.66955 10.3522 8.54771 10.7105C7.42605 11.0688 6.38571 11.6044 5.42671 12.3173C5.25871 12.4443 5.07121 12.5068 4.86421 12.5048C4.65705 12.5029 4.47338 12.4283 4.31321 12.2808C4.16955 12.1333 4.10188 11.9602 4.11021 11.7615C4.11855 11.5628 4.2048 11.4 4.36896 11.273C5.47146 10.4167 6.67371 9.7725 7.97571 9.3405C9.27755 8.90833 10.6272 8.69225 12.0247 8.69225C13.4094 8.69225 14.7517 8.90833 16.0517 9.3405C17.3517 9.7725 18.553 10.4083 19.6555 11.248C19.8196 11.375 19.9068 11.5388 19.917 11.7395C19.9273 11.9402 19.8587 12.1142 19.7112 12.2615C19.551 12.4218 19.3665 12.5029 19.1575 12.5048C18.9485 12.5068 18.76 12.4443 18.592 12.3173C17.6458 11.6173 16.6109 11.0849 15.4872 10.7203C14.3635 10.3554 13.2075 10.173 12.019 10.173ZM11.9997 19.0577C11.5779 19.0577 11.216 18.9068 10.9142 18.6048C10.6122 18.3029 10.4612 17.9411 10.4612 17.5192C10.4612 17.0974 10.6122 16.7388 10.9142 16.4433C11.216 16.1478 11.5779 16 11.9997 16C12.4215 16 12.7834 16.1478 13.0852 16.4433C13.3872 16.7388 13.5382 17.0974 13.5382 17.5192C13.5382 17.9411 13.3872 18.3029 13.0852 18.6048C12.7834 18.9068 12.4215 19.0577 11.9997 19.0577Z" fill="#AFA26F"/>
            </g>
          </svg>
          Fibra 600MB
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_12853_5665" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_12853_5665)">
              <path d="M7.6155 22C7.168 22 6.78683 21.8427 6.472 21.528C6.15733 21.2132 6 20.832 6 20.3845V3.6155C6 3.15517 6.15417 2.77083 6.4625 2.4625C6.77083 2.15417 7.15517 2 7.6155 2H16.4615C16.909 2 17.2901 2.15733 17.6048 2.472C17.9196 2.78683 18.077 3.168 18.077 3.6155V6.83075C18.3257 6.85775 18.5417 6.961 18.725 7.1405C18.9083 7.31983 19 7.53583 19 7.7885V9.55775C19 9.81025 18.9083 10.0262 18.725 10.2057C18.5417 10.3852 18.3257 10.4885 18.077 10.5155V20.3845C18.077 20.832 17.9196 21.2132 17.6048 21.528C17.2901 21.8427 16.909 22 16.4615 22H7.6155ZM7.6155 21H16.4615C16.641 21 16.7884 20.9423 16.9038 20.827C17.0193 20.7115 17.077 20.564 17.077 20.3845V3.6155C17.077 3.436 17.0193 3.2885 16.9038 3.173C16.7884 3.05767 16.641 3 16.4615 3H7.6155C7.436 3 7.2885 3.05767 7.173 3.173C7.05767 3.2885 7 3.436 7 3.6155V20.3845C7 20.564 7.05767 20.7115 7.173 20.827C7.2885 20.9423 7.436 21 7.6155 21ZM9.8845 19.2307H14.1923C14.3346 19.2307 14.4535 19.183 14.549 19.0875C14.6445 18.992 14.6923 18.8731 14.6923 18.7307C14.6923 18.5884 14.6445 18.4695 14.549 18.374C14.4535 18.2785 14.3346 18.2307 14.1923 18.2307H9.8845C9.74233 18.2307 9.6235 18.2785 9.528 18.374C9.43233 18.4695 9.3845 18.5884 9.3845 18.7307C9.3845 18.8731 9.43233 18.992 9.528 19.0875C9.6235 19.183 9.74233 19.2307 9.8845 19.2307Z" fill="#AFA26F"/>
            </g>
          </svg>
          Datos y llamadas ilimitadas
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_12853_5668" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_12853_5668)">
              <path d="M3.6155 20C3.15517 20 2.77083 19.8458 2.4625 19.5375C2.15417 19.2292 2 18.8448 2 18.3845V5.6155C2 5.15517 2.15417 4.77083 2.4625 4.4625C2.77083 4.15417 3.15517 4 3.6155 4H20.3845C20.8448 4 21.2292 4.15417 21.5375 4.4625C21.8458 4.77083 22 5.15517 22 5.6155V18.3845C22 18.8448 21.8458 19.2292 21.5375 19.5375C21.2292 19.8458 20.8448 20 20.3845 20H3.6155ZM3.6155 19H20.3845C20.5385 19 20.6796 18.9359 20.8078 18.8077C20.9359 18.6796 21 18.5385 21 18.3845V5.6155C21 5.4615 20.9359 5.32042 20.8078 5.19225C20.6796 5.06408 20.5385 5 20.3845 5H3.6155C3.4615 5 3.32042 5.06408 3.19225 5.19225C3.06408 5.32042 3 5.4615 3 5.6155V18.3845C3 18.5385 3.06408 18.6796 3.19225 18.8077C3.32042 18.9359 3.4615 19 3.6155 19ZM14.1155 16.5H16.8845C17.332 16.5 17.7132 16.3427 18.028 16.028C18.3427 15.7132 18.5 15.332 18.5 14.8845V12.3077C18.5 12.0756 18.4234 11.8829 18.2703 11.7298C18.1171 11.5766 17.9244 11.5 17.6923 11.5H16.5C16.3577 11.5 16.2387 11.5478 16.1432 11.6433C16.0477 11.7388 16 11.8577 16 12C16 12.1423 16.0477 12.2612 16.1432 12.3567C16.2387 12.4522 16.3577 12.5 16.5 12.5H17.5V14.8845C17.5 15.064 17.4423 15.2115 17.327 15.327C17.2115 15.4423 17.064 15.5 16.8845 15.5H14.1155C13.936 15.5 13.7885 15.4423 13.673 15.327C13.5577 15.2115 13.5 15.064 13.5 14.8845V9.1155C13.5 8.936 13.5577 8.7885 13.673 8.673C13.7885 8.55767 13.936 8.5 14.1155 8.5H18.5C18.3975 8.19367 18.2113 7.95042 17.9413 7.77025C17.6714 7.59008 17.3705 7.5 17.0385 7.5H14.1155C13.668 7.5 13.2868 7.65733 12.972 7.972C12.6573 8.28683 12.5 8.668 12.5 9.1155V14.8845C12.5 15.332 12.6573 15.7132 12.972 16.028C13.2868 16.3427 13.668 16.5 14.1155 16.5ZM8.8845 16.5C9.332 16.5 9.71317 16.3427 10.028 16.028C10.3427 15.7132 10.5 15.332 10.5 14.8845V13.1155C10.5 12.668 10.3427 12.2868 10.028 11.972C9.71317 11.6573 9.332 11.5 8.8845 11.5H6.5V8.5H10C10.1423 8.5 10.2612 8.45225 10.3567 8.35675C10.4522 8.26125 10.5 8.14233 10.5 8C10.5 7.85767 10.4522 7.73875 10.3567 7.64325C10.2612 7.54775 10.1423 7.5 10 7.5H6.30775C6.07558 7.5 5.88292 7.57658 5.72975 7.72975C5.57658 7.88292 5.5 8.07558 5.5 8.30775V11.6923C5.5 11.9244 5.57658 12.1171 5.72975 12.2703C5.88292 12.4234 6.07558 12.5 6.30775 12.5H8.8845C9.064 12.5 9.2115 12.5577 9.327 12.673C9.44233 12.7885 9.5 12.936 9.5 13.1155V14.8845C9.5 15.064 9.44233 15.2115 9.327 15.327C9.2115 15.4423 9.064 15.5 8.8845 15.5H6C5.85767 15.5 5.73875 15.5478 5.64325 15.6433C5.54775 15.7388 5.5 15.8577 5.5 16C5.5 16.1423 5.54775 16.2612 5.64325 16.3567C5.73875 16.4522 5.85767 16.5 6 16.5H8.8845Z" fill="#AFA26F"/>
            </g>
          </svg>
          1 línea extra 30GB
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_12853_5671" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_12853_5671)">
              <path d="M10.6213 15.173L15.0423 12.348C15.1666 12.2608 15.2288 12.1448 15.2288 12C15.2288 11.8552 15.1666 11.7392 15.0423 11.652L10.6213 8.827C10.4801 8.736 10.3412 8.72767 10.2048 8.802C10.0683 8.87633 10 8.99425 10 9.15575V14.8442C10 15.0057 10.0683 15.1237 10.2048 15.198C10.3412 15.2723 10.4801 15.264 10.6213 15.173ZM4.6155 19C4.15517 19 3.77083 18.8458 3.4625 18.5375C3.15417 18.2292 3 17.8448 3 17.3845V6.6155C3 6.15517 3.15417 5.77083 3.4625 5.4625C3.77083 5.15417 4.15517 5 4.6155 5H19.3845C19.8448 5 20.2292 5.15417 20.5375 5.4625C20.8458 5.77083 21 6.15517 21 6.6155V17.3845C21 17.8448 20.8458 18.2292 20.5375 18.5375C20.2292 18.8458 19.8448 19 19.3845 19H4.6155ZM4.6155 18H19.3845C19.5385 18 19.6796 17.9359 19.8078 17.8077C19.9359 17.6796 20 17.5385 20 17.3845V6.6155C20 6.4615 19.9359 6.32042 19.8078 6.19225C19.6796 6.06408 19.5385 6 19.3845 6H4.6155C4.4615 6 4.32042 6.06408 4.19225 6.19225C4.06408 6.32042 4 6.4615 4 6.6155V17.3845C4 17.5385 4.06408 17.6796 4.19225 17.8077C4.32042 17.9359 4.4615 18 4.6155 18Z" fill="#AFA26F"/>
            </g>
          </svg>
          Netflix o Amazon incluido
        </li>
      </ul>
    </div>
  </div>
  <div class="inner-card__actions">
    <button>Activar</button>
  </div>
</div>
{% comment %} card {% endcomment %}
 {% comment %} card {% endcomment %}
<div class="inner-card">
  <div class="inner-card__labels">
    <div class="inner-card__labels--heading">Keio Energy+</div>
    <div class="inner-card__labels--body">
      <ul>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_12853_5662" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_12853_5662)">
              <path d="M11.9997 13.8655C11.315 13.8655 10.6503 13.9552 10.0055 14.1345C9.36063 14.314 8.7523 14.5897 8.18046 14.9615C7.9958 15.068 7.79905 15.1203 7.59021 15.1183C7.38121 15.1164 7.19655 15.0353 7.03621 14.875C6.88888 14.7275 6.8203 14.5544 6.83046 14.3558C6.8408 14.1571 6.92988 14.0026 7.09771 13.8923C7.81705 13.3936 8.59463 13.0144 9.43046 12.7548C10.2663 12.4953 11.1227 12.3655 11.9997 12.3655C12.8767 12.3655 13.7331 12.4953 14.569 12.7548C15.4048 13.0144 16.1824 13.3936 16.9017 13.8923C17.0695 14.0026 17.1586 14.1571 17.169 14.3558C17.1791 14.5544 17.1105 14.7275 16.9632 14.875C16.8029 15.0353 16.6182 15.1164 16.4092 15.1183C16.2004 15.1203 16.0036 15.068 15.819 14.9615C15.2471 14.5897 14.6388 14.314 13.994 14.1345C13.3491 13.9552 12.6844 13.8655 11.9997 13.8655ZM11.9997 6.48075C10.2869 6.48075 8.63655 6.75125 7.04871 7.29225C5.46088 7.83325 4.00413 8.62875 2.67846 9.67875C2.51063 9.82242 2.32313 9.89325 2.11596 9.89125C1.90896 9.88942 1.72538 9.81475 1.56521 9.66725C1.41771 9.51992 1.34488 9.34267 1.34671 9.1355C1.34871 8.9285 1.4318 8.75958 1.59596 8.62875C3.0818 7.44425 4.71188 6.54333 6.48621 5.926C8.26055 5.30867 10.0984 5 11.9997 5C13.901 5 15.7389 5.30542 17.5132 5.91625C19.2875 6.52725 20.9176 7.43142 22.4035 8.62875C22.5676 8.75958 22.6507 8.92533 22.6527 9.126C22.6545 9.32667 22.5817 9.50067 22.4342 9.648C22.274 9.7955 22.0905 9.87342 21.8835 9.88175C21.6763 9.89008 21.4888 9.82242 21.321 9.67875C19.9953 8.62875 18.5385 7.83325 16.9507 7.29225C15.3629 6.75125 13.7125 6.48075 11.9997 6.48075ZM12.019 10.173C10.8266 10.173 9.66955 10.3522 8.54771 10.7105C7.42605 11.0688 6.38571 11.6044 5.42671 12.3173C5.25871 12.4443 5.07121 12.5068 4.86421 12.5048C4.65705 12.5029 4.47338 12.4283 4.31321 12.2808C4.16955 12.1333 4.10188 11.9602 4.11021 11.7615C4.11855 11.5628 4.2048 11.4 4.36896 11.273C5.47146 10.4167 6.67371 9.7725 7.97571 9.3405C9.27755 8.90833 10.6272 8.69225 12.0247 8.69225C13.4094 8.69225 14.7517 8.90833 16.0517 9.3405C17.3517 9.7725 18.553 10.4083 19.6555 11.248C19.8196 11.375 19.9068 11.5388 19.917 11.7395C19.9273 11.9402 19.8587 12.1142 19.7112 12.2615C19.551 12.4218 19.3665 12.5029 19.1575 12.5048C18.9485 12.5068 18.76 12.4443 18.592 12.3173C17.6458 11.6173 16.6109 11.0849 15.4872 10.7203C14.3635 10.3554 13.2075 10.173 12.019 10.173ZM11.9997 19.0577C11.5779 19.0577 11.216 18.9068 10.9142 18.6048C10.6122 18.3029 10.4612 17.9411 10.4612 17.5192C10.4612 17.0974 10.6122 16.7388 10.9142 16.4433C11.216 16.1478 11.5779 16 11.9997 16C12.4215 16 12.7834 16.1478 13.0852 16.4433C13.3872 16.7388 13.5382 17.0974 13.5382 17.5192C13.5382 17.9411 13.3872 18.3029 13.0852 18.6048C12.7834 18.9068 12.4215 19.0577 11.9997 19.0577Z" fill="#AFA26F"/>
            </g>
          </svg>
          Fibra 600MB
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_12853_5665" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_12853_5665)">
              <path d="M7.6155 22C7.168 22 6.78683 21.8427 6.472 21.528C6.15733 21.2132 6 20.832 6 20.3845V3.6155C6 3.15517 6.15417 2.77083 6.4625 2.4625C6.77083 2.15417 7.15517 2 7.6155 2H16.4615C16.909 2 17.2901 2.15733 17.6048 2.472C17.9196 2.78683 18.077 3.168 18.077 3.6155V6.83075C18.3257 6.85775 18.5417 6.961 18.725 7.1405C18.9083 7.31983 19 7.53583 19 7.7885V9.55775C19 9.81025 18.9083 10.0262 18.725 10.2057C18.5417 10.3852 18.3257 10.4885 18.077 10.5155V20.3845C18.077 20.832 17.9196 21.2132 17.6048 21.528C17.2901 21.8427 16.909 22 16.4615 22H7.6155ZM7.6155 21H16.4615C16.641 21 16.7884 20.9423 16.9038 20.827C17.0193 20.7115 17.077 20.564 17.077 20.3845V3.6155C17.077 3.436 17.0193 3.2885 16.9038 3.173C16.7884 3.05767 16.641 3 16.4615 3H7.6155C7.436 3 7.2885 3.05767 7.173 3.173C7.05767 3.2885 7 3.436 7 3.6155V20.3845C7 20.564 7.05767 20.7115 7.173 20.827C7.2885 20.9423 7.436 21 7.6155 21ZM9.8845 19.2307H14.1923C14.3346 19.2307 14.4535 19.183 14.549 19.0875C14.6445 18.992 14.6923 18.8731 14.6923 18.7307C14.6923 18.5884 14.6445 18.4695 14.549 18.374C14.4535 18.2785 14.3346 18.2307 14.1923 18.2307H9.8845C9.74233 18.2307 9.6235 18.2785 9.528 18.374C9.43233 18.4695 9.3845 18.5884 9.3845 18.7307C9.3845 18.8731 9.43233 18.992 9.528 19.0875C9.6235 19.183 9.74233 19.2307 9.8845 19.2307Z" fill="#AFA26F"/>
            </g>
          </svg>
          Datos y llamadas ilimitadas
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_12853_5668" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_12853_5668)">
              <path d="M3.6155 20C3.15517 20 2.77083 19.8458 2.4625 19.5375C2.15417 19.2292 2 18.8448 2 18.3845V5.6155C2 5.15517 2.15417 4.77083 2.4625 4.4625C2.77083 4.15417 3.15517 4 3.6155 4H20.3845C20.8448 4 21.2292 4.15417 21.5375 4.4625C21.8458 4.77083 22 5.15517 22 5.6155V18.3845C22 18.8448 21.8458 19.2292 21.5375 19.5375C21.2292 19.8458 20.8448 20 20.3845 20H3.6155ZM3.6155 19H20.3845C20.5385 19 20.6796 18.9359 20.8078 18.8077C20.9359 18.6796 21 18.5385 21 18.3845V5.6155C21 5.4615 20.9359 5.32042 20.8078 5.19225C20.6796 5.06408 20.5385 5 20.3845 5H3.6155C3.4615 5 3.32042 5.06408 3.19225 5.19225C3.06408 5.32042 3 5.4615 3 5.6155V18.3845C3 18.5385 3.06408 18.6796 3.19225 18.8077C3.32042 18.9359 3.4615 19 3.6155 19ZM14.1155 16.5H16.8845C17.332 16.5 17.7132 16.3427 18.028 16.028C18.3427 15.7132 18.5 15.332 18.5 14.8845V12.3077C18.5 12.0756 18.4234 11.8829 18.2703 11.7298C18.1171 11.5766 17.9244 11.5 17.6923 11.5H16.5C16.3577 11.5 16.2387 11.5478 16.1432 11.6433C16.0477 11.7388 16 11.8577 16 12C16 12.1423 16.0477 12.2612 16.1432 12.3567C16.2387 12.4522 16.3577 12.5 16.5 12.5H17.5V14.8845C17.5 15.064 17.4423 15.2115 17.327 15.327C17.2115 15.4423 17.064 15.5 16.8845 15.5H14.1155C13.936 15.5 13.7885 15.4423 13.673 15.327C13.5577 15.2115 13.5 15.064 13.5 14.8845V9.1155C13.5 8.936 13.5577 8.7885 13.673 8.673C13.7885 8.55767 13.936 8.5 14.1155 8.5H18.5C18.3975 8.19367 18.2113 7.95042 17.9413 7.77025C17.6714 7.59008 17.3705 7.5 17.0385 7.5H14.1155C13.668 7.5 13.2868 7.65733 12.972 7.972C12.6573 8.28683 12.5 8.668 12.5 9.1155V14.8845C12.5 15.332 12.6573 15.7132 12.972 16.028C13.2868 16.3427 13.668 16.5 14.1155 16.5ZM8.8845 16.5C9.332 16.5 9.71317 16.3427 10.028 16.028C10.3427 15.7132 10.5 15.332 10.5 14.8845V13.1155C10.5 12.668 10.3427 12.2868 10.028 11.972C9.71317 11.6573 9.332 11.5 8.8845 11.5H6.5V8.5H10C10.1423 8.5 10.2612 8.45225 10.3567 8.35675C10.4522 8.26125 10.5 8.14233 10.5 8C10.5 7.85767 10.4522 7.73875 10.3567 7.64325C10.2612 7.54775 10.1423 7.5 10 7.5H6.30775C6.07558 7.5 5.88292 7.57658 5.72975 7.72975C5.57658 7.88292 5.5 8.07558 5.5 8.30775V11.6923C5.5 11.9244 5.57658 12.1171 5.72975 12.2703C5.88292 12.4234 6.07558 12.5 6.30775 12.5H8.8845C9.064 12.5 9.2115 12.5577 9.327 12.673C9.44233 12.7885 9.5 12.936 9.5 13.1155V14.8845C9.5 15.064 9.44233 15.2115 9.327 15.327C9.2115 15.4423 9.064 15.5 8.8845 15.5H6C5.85767 15.5 5.73875 15.5478 5.64325 15.6433C5.54775 15.7388 5.5 15.8577 5.5 16C5.5 16.1423 5.54775 16.2612 5.64325 16.3567C5.73875 16.4522 5.85767 16.5 6 16.5H8.8845Z" fill="#AFA26F"/>
            </g>
          </svg>
          1 línea extra 30GB
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_12853_5671" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_12853_5671)">
              <path d="M10.6213 15.173L15.0423 12.348C15.1666 12.2608 15.2288 12.1448 15.2288 12C15.2288 11.8552 15.1666 11.7392 15.0423 11.652L10.6213 8.827C10.4801 8.736 10.3412 8.72767 10.2048 8.802C10.0683 8.87633 10 8.99425 10 9.15575V14.8442C10 15.0057 10.0683 15.1237 10.2048 15.198C10.3412 15.2723 10.4801 15.264 10.6213 15.173ZM4.6155 19C4.15517 19 3.77083 18.8458 3.4625 18.5375C3.15417 18.2292 3 17.8448 3 17.3845V6.6155C3 6.15517 3.15417 5.77083 3.4625 5.4625C3.77083 5.15417 4.15517 5 4.6155 5H19.3845C19.8448 5 20.2292 5.15417 20.5375 5.4625C20.8458 5.77083 21 6.15517 21 6.6155V17.3845C21 17.8448 20.8458 18.2292 20.5375 18.5375C20.2292 18.8458 19.8448 19 19.3845 19H4.6155ZM4.6155 18H19.3845C19.5385 18 19.6796 17.9359 19.8078 17.8077C19.9359 17.6796 20 17.5385 20 17.3845V6.6155C20 6.4615 19.9359 6.32042 19.8078 6.19225C19.6796 6.06408 19.5385 6 19.3845 6H4.6155C4.4615 6 4.32042 6.06408 4.19225 6.19225C4.06408 6.32042 4 6.4615 4 6.6155V17.3845C4 17.5385 4.06408 17.6796 4.19225 17.8077C4.32042 17.9359 4.4615 18 4.6155 18Z" fill="#AFA26F"/>
            </g>
          </svg>
          Netflix o Amazon incluido
        </li>
      </ul>
    </div>
  </div>
  <div class="inner-card__actions">
    <button>Activar</button>
  </div>
</div>
{% comment %} card {% endcomment %}