{% comment %} card {% endcomment %}
<div class="main-custom-keio-x__content--benefits__body--card">
  <div class="inner-card">
    <div class="inner-card__icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
        <mask id="mask0_13713_10915" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="56" height="56">
          <rect width="56" height="56" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_13713_10915)">
          <path d="M23.3739 45.3203L38.5272 27.1478H28.3416L30.329 11.3843L16.6481 31.1856H25.3841L23.3739 45.3203ZM22.3467 33.8333H14.4314C13.8411 33.8333 13.4019 33.5671 13.1137 33.0348C12.8255 32.502 12.8654 31.9814 13.2333 31.4732L30.1902 6.93292C30.4414 6.59497 30.7554 6.3632 31.1323 6.23759C31.5091 6.11197 31.8861 6.13142 32.2634 6.29592C32.6402 6.44525 32.9385 6.69978 33.1582 7.0595C33.3779 7.41923 33.4565 7.79275 33.3939 8.18009L31.3434 24.5H40.9369C41.6 24.5 42.0612 24.7856 42.3206 25.3569C42.5796 25.9286 42.5057 26.4686 42.0989 26.9768L23.4189 49.3903C23.1505 49.7006 22.8225 49.9038 22.4348 49.9998C22.0471 50.0959 21.684 50.0568 21.3457 49.8826C20.993 49.7231 20.7202 49.477 20.5273 49.1441C20.3344 48.8108 20.2619 48.4412 20.3097 48.0352L22.3467 33.8333Z" fill="#AFA26F"/>
        </g>
      </svg>
    </div>
    <div class="inner-card__labels">
      <div>Invitaciones exclusivas</div>
      <div>Invitaciones especiales en fibra y móvil, reservadas solo para ti.</div>
    </div>
  </div>
</div>
{% comment %} card {% endcomment %}
 {% comment %} card {% endcomment %}
<div class="main-custom-keio-x__content--benefits__body--card">
  <div class="inner-card">
    <div class="inner-card__icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
        <mask id="mask0_13713_10915" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="56" height="56">
          <rect width="56" height="56" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_13713_10915)">
          <path d="M23.3739 45.3203L38.5272 27.1478H28.3416L30.329 11.3843L16.6481 31.1856H25.3841L23.3739 45.3203ZM22.3467 33.8333H14.4314C13.8411 33.8333 13.4019 33.5671 13.1137 33.0348C12.8255 32.502 12.8654 31.9814 13.2333 31.4732L30.1902 6.93292C30.4414 6.59497 30.7554 6.3632 31.1323 6.23759C31.5091 6.11197 31.8861 6.13142 32.2634 6.29592C32.6402 6.44525 32.9385 6.69978 33.1582 7.0595C33.3779 7.41923 33.4565 7.79275 33.3939 8.18009L31.3434 24.5H40.9369C41.6 24.5 42.0612 24.7856 42.3206 25.3569C42.5796 25.9286 42.5057 26.4686 42.0989 26.9768L23.4189 49.3903C23.1505 49.7006 22.8225 49.9038 22.4348 49.9998C22.0471 50.0959 21.684 50.0568 21.3457 49.8826C20.993 49.7231 20.7202 49.477 20.5273 49.1441C20.3344 48.8108 20.2619 48.4412 20.3097 48.0352L22.3467 33.8333Z" fill="#AFA26F"/>
        </g>
      </svg>
    </div>
    <div class="inner-card__labels">
      <div>Acceso anticipado</div>
      <div>Sé de los primeros en descubrir nuevas promociones y descuentos únicos.</div>
    </div>
  </div>
</div>
{% comment %} card {% endcomment %}
 {% comment %} card {% endcomment %}
<div class="main-custom-keio-x__content--benefits__body--card">
  <div class="inner-card">
    <div class="inner-card__icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
        <mask id="mask0_13713_10923" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="56" height="56">
          <rect width="56" height="56" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_13713_10923)">
          <path d="M8.48076 39.3033V44.4681C8.48076 44.6474 8.55542 44.8119 8.70476 44.9616C8.85448 45.1109 9.01898 45.1856 9.19826 45.1856H46.8011C46.9804 45.1856 47.1449 45.1109 47.2946 44.9616C47.4439 44.8119 47.5186 44.6474 47.5186 44.4681V39.3033H8.48076ZM9.19826 15.2116H17.2308C17.0363 14.8616 16.8695 14.4428 16.7303 13.9551C16.591 13.4674 16.5214 13.0066 16.5214 12.5726C16.5214 11.0271 17.0602 9.71951 18.1378 8.64967C19.2158 7.57984 20.5108 7.04492 22.0228 7.04492C23.0149 7.04492 23.9389 7.29906 24.7948 7.80734C25.6508 8.31562 26.3276 8.95903 26.8254 9.73759L27.9758 11.4783L29.1261 9.73759C29.6585 8.92986 30.3322 8.27906 31.1473 7.78517C31.9628 7.29167 32.8516 7.04492 33.8138 7.04492C35.3821 7.04492 36.7032 7.57595 37.7769 8.63801C38.851 9.70006 39.3881 11.0217 39.3881 12.6029C39.3881 13.0019 39.3282 13.4153 39.2084 13.8431C39.0886 14.2709 38.9241 14.727 38.7149 15.2116H46.8011C47.7161 15.2116 48.5058 15.5437 49.17 16.2079C49.8342 16.8721 50.1663 17.6618 50.1663 18.5768V44.4681C50.1663 45.3831 49.8342 46.1728 49.17 46.837C48.5058 47.5012 47.7161 47.8333 46.8011 47.8333H9.19826C8.2832 47.8333 7.49356 47.5012 6.82934 46.837C6.16512 46.1728 5.83301 45.3831 5.83301 44.4681V18.5768C5.83301 17.6618 6.16512 16.8721 6.82934 16.2079C7.49356 15.5437 8.2832 15.2116 9.19826 15.2116ZM8.48076 33.8468H47.5186V18.5768C47.5186 18.3976 47.4439 18.2331 47.2946 18.0833C47.1449 17.9336 46.9804 17.8588 46.8011 17.8588H32.1413L36.8261 24.388C37.0621 24.6793 37.1428 25.0042 37.0682 25.3628C36.9935 25.7209 36.8103 26.0106 36.5187 26.2319C36.227 26.4532 35.9019 26.5347 35.5433 26.4763C35.1852 26.4176 34.8991 26.23 34.6853 25.9134L27.9548 16.6297L21.2243 25.9134C21.0197 26.23 20.742 26.4176 20.3913 26.4763C20.0401 26.5347 19.7126 26.4532 19.4089 26.2319C19.1052 26.0106 18.9197 25.7209 18.8524 25.3628C18.7851 25.0042 18.8623 24.6793 19.084 24.388L23.7909 17.8588H9.19826C9.01898 17.8588 8.85448 17.9336 8.70476 18.0833C8.55542 18.2331 8.48076 18.3976 8.48076 18.5768V33.8468ZM22.0561 15.4718C22.8537 15.4718 23.535 15.19 24.1001 14.6265C24.6655 14.063 24.9483 13.3824 24.9483 12.5848C24.9483 11.7872 24.6665 11.1057 24.103 10.5403C23.5395 9.9752 22.859 9.69267 22.0613 9.69267C21.2637 9.69267 20.5822 9.97442 20.0168 10.5379C19.4517 11.1014 19.1692 11.782 19.1692 12.5796C19.1692 13.3772 19.4509 14.0585 20.0144 14.6236C20.5779 15.189 21.2585 15.4718 22.0561 15.4718ZM33.8149 15.4718C34.6328 15.4718 35.3248 15.19 35.891 14.6265C36.4572 14.063 36.7403 13.3824 36.7403 12.5848C36.7403 11.7872 36.4572 11.1057 35.891 10.5403C35.3248 9.9752 34.6328 9.69267 33.8149 9.69267C33.0492 9.69267 32.3821 9.97442 31.8135 10.5379C31.2453 11.1014 30.9613 11.782 30.9613 12.5796C30.9613 13.3772 31.2453 14.0585 31.8135 14.6236C32.3821 15.189 33.0492 15.4718 33.8149 15.4718Z" fill="#AFA26F"/>
        </g>
      </svg>
    </div>
    <div class="inner-card__labels">
      <div>Promociones privadas</div>
      <div>Disfruta de descuentos únicos y ofertas diseñadas en exclusiva.</div>
    </div>
  </div>
</div>
{% comment %} card {% endcomment %}
 {% comment %} card {% endcomment %}
<div class="main-custom-keio-x__content--benefits__body--card">
  <div class="inner-card">
    <div class="inner-card__icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
        <mask id="mask0_13713_10931" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="56" height="56">
          <rect width="56" height="56" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_13713_10931)">
          <path d="M14.0848 45.5C13.71 45.5 13.3955 45.3721 13.1416 45.1162C12.888 44.8603 12.7613 44.5432 12.7613 44.1648C12.7613 43.7864 12.888 43.4732 13.1416 43.225C13.3955 42.9765 13.71 42.8523 14.0848 42.8523H41.9145C42.2894 42.8523 42.6038 42.9804 42.8578 43.2367C43.1113 43.4926 43.2381 43.8095 43.2381 44.1875C43.2381 44.5659 43.1113 44.8792 42.8578 45.1273C42.6038 45.3758 42.2894 45.5 41.9145 45.5H14.0848ZM15.4761 37.8852C14.6563 37.8852 13.9365 37.619 13.3166 37.0866C12.6967 36.5539 12.3142 35.8883 12.1692 35.0899L9.38667 19.0529C9.22217 19.1155 9.0637 19.1528 8.91126 19.1649C8.75881 19.1769 8.60034 19.183 8.43584 19.183C7.71523 19.183 7.10137 18.9292 6.59426 18.4217C6.08676 17.9142 5.83301 17.298 5.83301 16.5731C5.83301 15.842 6.08734 15.2132 6.59601 14.6866C7.10467 14.1601 7.72067 13.8968 8.44401 13.8968C9.16695 13.8968 9.79345 14.1577 10.3235 14.6796C10.854 15.2011 11.1192 15.8346 11.1192 16.5801C11.1192 16.836 11.0855 17.0847 11.0183 17.3262C10.9506 17.5677 10.8421 17.7828 10.6928 17.9714L18.5409 21.3273C18.6903 21.3872 18.8398 21.3948 18.9895 21.35C19.1392 21.3053 19.2664 21.2155 19.371 21.0805L26.8552 10.8413C26.3858 10.6379 26.0119 10.3248 25.7334 9.90212C25.4554 9.47979 25.3163 9.00613 25.3163 8.48113C25.3163 7.75935 25.5761 7.13751 26.0957 6.61562C26.6152 6.09412 27.246 5.83337 27.988 5.83337C28.73 5.83337 29.3647 6.09374 29.892 6.61446C30.4193 7.13518 30.683 7.75585 30.683 8.47646C30.683 9.01196 30.544 9.48912 30.2659 9.90796C29.9875 10.3268 29.621 10.6379 29.1663 10.8413L36.6283 21.0805C36.733 21.2155 36.8601 21.3053 37.0098 21.35C37.1596 21.3948 37.3091 21.3872 37.4584 21.3273L45.3066 17.9714C45.1751 17.7882 45.0713 17.5733 44.9951 17.3268C44.9185 17.0802 44.8802 16.828 44.8802 16.5702C44.8802 15.8391 45.1345 15.2107 45.6432 14.6849C46.1518 14.1595 46.7752 13.8968 47.5133 13.8968C48.2293 13.8968 48.8503 14.1575 49.3765 14.679C49.9031 15.2002 50.1663 15.8331 50.1663 16.5778C50.1663 17.3077 49.905 17.9243 49.3823 18.4275C48.8597 18.9312 48.225 19.183 47.4783 19.183C47.3232 19.183 47.1775 19.1672 47.0414 19.1357C46.9049 19.1042 46.7583 19.0645 46.6016 19.0167L43.8529 35.0899C43.6978 35.8883 43.3165 36.5539 42.709 37.0866C42.1016 37.619 41.3806 37.8852 40.546 37.8852H15.4761ZM15.4983 35.238H40.5233C40.6878 35.238 40.8336 35.1857 40.9608 35.0811C41.0879 34.9761 41.1741 34.8414 41.2192 34.6769L43.5344 21.6685L38.5353 23.7954C37.8026 24.1154 37.0608 24.1679 36.3098 23.9529C35.5593 23.7374 34.9446 23.311 34.4659 22.6736L27.9997 13.744L21.5334 22.6736C21.0547 23.311 20.4401 23.7374 19.6895 23.9529C18.9386 24.1679 18.1968 24.1154 17.4641 23.7954L12.4649 21.6685L14.8029 34.6769C14.8329 34.8414 14.9114 34.9761 15.0386 35.0811C15.1658 35.1857 15.319 35.238 15.4983 35.238Z" fill="#AFA26F"/>
        </g>
      </svg>
    </div>
    <div class="inner-card__labels">
      <div>Eventos y experiencias</div>
      <div>Vive experiencias únicas y participa en eventos exclusivos para miembros.</div>
    </div>
  </div>
</div>
{% comment %} card {% endcomment %}
 {% comment %} card {% endcomment %}
<div class="main-custom-keio-x__content--benefits__body--card">
  <div class="inner-card">
    <div class="inner-card__icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
        <mask id="mask0_13713_10939" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="56" height="56">
          <rect width="56" height="56" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_13713_10939)">
          <path d="M13.2647 38.7152L22.6382 29.3416C22.9011 29.0962 23.2128 28.9759 23.5733 28.9805C23.9338 28.9848 24.2519 29.1172 24.5277 29.3778C24.7727 29.6461 24.8952 29.9592 24.8952 30.317C24.8952 30.6747 24.7651 30.9837 24.5049 31.2439L14.4669 41.2819C14.1293 41.6171 13.7352 41.7847 13.2845 41.7847C12.8342 41.7847 12.4416 41.6171 12.1067 41.2819L6.74474 35.9199C6.48418 35.6597 6.35779 35.3523 6.36557 34.9976C6.37296 34.6434 6.50674 34.3359 6.76691 34.0754C7.02707 33.8152 7.33566 33.6912 7.69266 33.7032C8.04966 33.7153 8.35591 33.8393 8.61141 34.0754L13.2647 38.7152ZM13.2647 20.9463L22.6382 11.5727C22.9011 11.3273 23.2128 11.2068 23.5733 11.211C23.9338 11.2157 24.2519 11.3481 24.5277 11.6083C24.7727 11.8766 24.8952 12.1899 24.8952 12.548C24.8952 12.9058 24.7651 13.2148 24.5049 13.475L14.4669 23.513C14.1293 23.8478 13.7352 24.0152 13.2845 24.0152C12.8342 24.0152 12.4416 23.8478 12.1067 23.513L6.74474 18.1504C6.48418 17.8902 6.35779 17.583 6.36557 17.2287C6.37296 16.874 6.50674 16.5666 6.76691 16.3065C7.02707 16.0463 7.33566 15.9222 7.69266 15.9343C8.04966 15.946 8.35591 16.07 8.61141 16.3065L13.2647 20.9463ZM31.6799 38.2083C31.3046 38.2083 30.9902 38.0804 30.7367 37.8245C30.4827 37.5686 30.3557 37.2514 30.3557 36.873C30.3557 36.4947 30.4827 36.1814 30.7367 35.9333C30.9902 35.6852 31.3046 35.5611 31.6799 35.5611H48.8655C49.2408 35.5611 49.5552 35.6891 49.8087 35.945C50.0623 36.2009 50.1891 36.5178 50.1891 36.8958C50.1891 37.2742 50.0623 37.5874 49.8087 37.8355C49.5552 38.084 49.2408 38.2083 48.8655 38.2083H31.6799ZM31.6799 20.4388C31.3046 20.4388 30.9902 20.3109 30.7367 20.055C30.4827 19.7991 30.3557 19.4821 30.3557 19.1041C30.3557 18.7257 30.4827 18.4125 30.7367 18.1644C30.9902 17.9159 31.3046 17.7916 31.6799 17.7916H48.8655C49.2408 17.7916 49.5552 17.9196 49.8087 18.1755C50.0623 18.4314 50.1891 18.7485 50.1891 19.1269C50.1891 19.5053 50.0623 19.8185 49.8087 20.0666C49.5552 20.3147 49.2408 20.4388 48.8655 20.4388H31.6799Z" fill="#AFA26F"/>
        </g>
      </svg>
    </div>
    <div class="inner-card__labels">
      <div>Vota y opina sobre Keio</div>
      <div>Haz oír tu voz y ayuda a decidir el futuro de nuestros productos.</div>
    </div>
  </div>
</div>
{% comment %} card {% endcomment %}