<div class="main-custom-qty">
  <button class="less disabled">
    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="2" viewBox="0 0 6 2" fill="none">
      <path d="M5.85 0V1.2675H0V0H5.85Z" fill="#5C5E5C"/>
    </svg>
  </button>
  <span>0</span>
  <button class="more">
    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
      <path d="M3.731 6.097H2.366V3.64975H0V2.44725H2.366V0H3.731V2.44725H6.097V3.64975H3.731V6.097Z" fill="#5C5E5C"/>
    </svg>
  </button>
</div>