.main-custom-categories {
  display: flex;
  width: 100%;
  padding: var(--Space-2400, 96px);
  flex-direction: column;
  align-items: flex-start;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 20px;

    &--card {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 34%;
      aspect-ratio: 2 / 2;
      text-decoration: none;
      cursor: pointer;

      &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: var(--Corner-Large, 16px);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: var(--Corner-Large, 16px);
          -webkit-transition: all .45s cubic-bezier(.77,0,.175,1);
          -moz-transition: all .45s cubic-bezier(.77,0,.175,1);
          -o-transition: all .45s cubic-bezier(.77,0,.175,1);
          transition: all .45s cubic-bezier(.77,0,.175,1);
        }
      }
      &__text {
        display: flex;
        padding: var(--Space-800, 32px);
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 7.99px;
        color: var(--Colors-White, var(--Colors-white, #FFF));
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-Display-XL, 61px);
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        z-index: 2;
        text-transform: uppercase;

        @media only screen and (max-width: 1024px) {
          font-size: 31px;
          position: absolute;
          bottom: 0px;
        }
      }

      &:hover {
        .main-custom-categories__container--card__image img {
          transform: scale(1.1);
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    padding-left: 0px !important;
    padding-right: 0px !important;

    .slick-list {
      padding: 0 16px;
    }

    .slick-track {
      box-sizing: border-box;
      .slick-slide {
        padding: 0 8px;
      }
    }
  }
}