.main-custom-header {
  position: relative;
  display: flex;
  height: 122px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;

  @media only screen and (max-width: 1024px) {
    height: 56px;
  }

  &__top {
    display: flex;
    width: 100%;
    height: 82px;
    padding: var(--Space-400, 16px) var(--Space-2400, 96px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--Colors-white, #FFF);

    @media only screen and (max-width: 1024px) {
      padding: var(--Space-400, 16px);
    }

    &--container {
      display: flex;
      height: 50px;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      align-self: stretch;

      &__logo {
        display: flex;
        align-items: center;
        gap: var(--Space-1600, 64px);

        @media only screen and (max-width: 1024px) {
          height: auto;
          width: 60px;
        }

        a {
          display: block;

          img {
            display: block;

            @media only screen and (max-width: 1024px) {
              width: 100%;
              height: auto;
            }
          }
        }
      }
      &__icons {
        display: flex;
        align-items: center;
        gap: var(--Space-300, 12px);
        @media only screen and (max-width: 1024px) {
          position: relative;
          top: 4px;
        }

        div {
          cursor: pointer;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    width: 100%;
    height: 40px;
    padding: var(--Space-0, 0) var(--Space-2400, 96px);
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-top: 1px solid var(--Colors-ligth_grey, #CDCDCD);
    background: var(--Colors-white, #FFF);

    @media only screen and (max-width: 1024px) {
      display: none !important;
    }

    &--container {
      display: flex;
      max-height: 40px;
      padding: 8px 0;
      align-items: center;

      &__list {
        display: flex;
        align-items: flex-end;
        gap: 48px;
        margin: 0px;
        padding: 0px;

        &--item {
          display: flex;
          width: auto;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          list-style: none;

          a {
            display: block;
            color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
            font-family: var(--Family-Font---Body, Nohemi);
            font-size: var(--Typo-Body-M, 16px);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            text-decoration: none;
            text-transform: uppercase;
          }

          &.level-2 {
            a {
              color: var(--Colors-500, var(--Colors-500, #931E31));
            }
          }
        }
      }
    }
  }
}