.main-custom-blog-feed {
  display: flex;
  width: 100%;
  padding: var(--Space-2400, 96px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-1200, 48px);

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;

    h2 {
      margin: 0px;
      color: #000;
      font-family: var(--Family-Font, Nohemi);
      font-size: var(--Typo-H2, 39px);
      font-style: normal;
      font-weight: 400;
      line-height: 120%;

      @media only screen and (max-width: 1024px) {
        font-size: 25px;
        padding: 0 16px;

        svg {
          width: 52px;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          top: -4px;
          margin-left: 3px;
        }
      }
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;

    &--slider {
      display: flex;
      align-items: flex-start;
      gap: var(--Space-600, 24px);
      align-self: stretch;
      align-items: stretch;

      &__post {
        display: flex;
        width: 414px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: var(--Corner-Large, 16px);
        border: var(--Strokes-Small, 1px) solid var(--Colors-ligth_grey, #CDCDCD);

        &--thumnbail {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          align-self: stretch;
          position: relative;
          aspect-ratio: 2 / 1.7;
          width: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            -webkit-border-top-left-radius: 8px;
            -webkit-border-top-right-radius: 8px;
            -moz-border-radius-topleft: 8px;
            -moz-border-radius-topright: 8px;
            border-top-left-radius: 8px;
          }
        }
        &--labels {
          display: flex;
          width: 100%;
          padding: 24px var(--Space-400, 16px);
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;

          &__inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--Space-400, 16px);
            align-self: stretch;

            h3 {
              color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
              font-family: var(--Family-Font---Body, Nohemi);
              font-size: var(--Typo-Body-M, 16px);
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              margin: 0px;

              @media only screen and (max-width: 1024px) {
                font-size: 14px;
              }
            }
            h2 {
              color: var(--Colors-1000, var(--Colors-1000, #000));
              font-family: var(--Family-Font, Nohemi);
              font-size: var(--Typo-Body-XL, 25px);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin: 0px;

              @media only screen and (max-width: 1024px) {
                font-size: 18px;
              }
            }
            p {
              margin: 0px;
              color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
              font-family: var(--Family-Font---Body, Nohemi);
              font-size: var(--Typo-Body-M, 16px);
              font-style: normal;
              font-weight: 400;
              line-height: 24px;

              @media only screen and (max-width: 1024px) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .main-custom-button {
      text-align: center;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 1024px) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    gap: 22px;

    .main-custom-button {
      line-height: 42px !important;
    }

    .slick-track {
      padding: 0 8px;
      box-sizing: border-box;
      .slick-slide {
        padding: 0 8px;
      }
    }

    .main-arrows .slick-arrow {
      top: -41px;
    }
  }
}

.template-article {
  .main-custom-blog-feed {
    padding-top: 70px;

    @media only screen and (max-width: 1024px) {
      padding-top: 28px;
      padding-bottom: 60px;
    }
  }
}
