.account-global-page {
  position: relative;

  shop-login-button {
    display: none;
  }

  &.login {
    padding: var(--Space-4000, 160px) 0;
    width: 440px;
  }

  &.register {
    padding: var(--Space-4000, 160px) 0;
    width: 440px;
  }

  h1 {
    color: var(--Colors-1000, var(--Colors-1000, #000));
    text-align: center;
    font-family: var(--Family-Font, Nohemi);
    font-size: var(--Typo-H2, 36px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  button.main-global-button {
    margin: 24px 0px !important;
  }

  &.account {
    width: 100%;
    padding: 96px var(--Space-2400, 96px);
    max-width: 100%;

    .customer__title {
      text-align: left;
      margin-bottom: 56px;
    }

    .account-global-page__content {
      display: flex;
      align-items: flex-start;
      gap: 34px;
      align-self: stretch;
      &--sidebar {
        display: flex;
        width: 30%;
        height: 636px;
        padding: var(--Space-600, 24px);
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: var(--Corner-Large, 16px);
        border: 1px solid var(--Colors-ligth_grey, #CDCDCD);
        background: var(--Colors-white, #FFF);

        &__links {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: var(--Space-400, 14px);
          align-self: stretch;

          a {
            display: flex;
            padding: var(--Space-400, 16px) var(--Space-300, 12px);
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            border-radius: var(--Corner-Small, 8px);
            color: var(--Colors-800, var(--Colors-800, #3C1518));
            font-family: var(--Family-Font---Body, Nohemi);
            font-size: var(--Typo-Body-L, 19px);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            text-decoration: none;

            &.active {
              background: var(--Colors-100, #FAFAFA);
            }
          }
        }
        &__close {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: var(--Space-100, 4px);
          a {
            color: var(--Colors-500, var(--Colors-500, #931E31));
            text-align: center;
            font-family: var(--Family-Font---Body, Nohemi);
            font-size: var(--Typo-Body-M, 16px);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
      &--content {
        display: flex;
        width: 70%;
        padding: var(--Space-1200, 48px);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--Space-1200, 48px);
        border-radius: var(--Corner-Large, 16px);
        border: 1px solid var(--Colors-ligth_grey, #CDCDCD);
        background: var(--Colors-white, #FFF);

        &__row {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 32px;
          align-self: stretch;
          &--heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;

            h3 {
              color: var(--Colors-1000, var(--Colors-1000, #000));
              font-family: var(--Family-Font, Nohemi);
              font-size: var(--Typo-Body-XL, 25px);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin: 0px;
            }
          }
          &--body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--Space-800, 32px);
            align-self: stretch;

            &__content {
              display: flex;
              align-items: baseline;
              gap: var(--Space-400, 16px);
              align-self: stretch;

              div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--Space-600, 18px);
                flex: 1 0 0;
                h4 {
                  margin: 0px;
                  color: var(--Colors-Grey, var(--Colors-grey, #4E4E4E));
                  font-family: var(--Family-Font---Body, Nohemi);
                  font-size: var(--Typo-Body-M, 16px);
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                }
                p {
                  margin: 0px;
                  color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
                  leading-trim: both;
                  text-edge: cap;
                  font-family: var(--Family-Font---Body, Nohemi);
                  font-size: var(--Typo-Body-M, 16px);
                  font-style: normal;
                  font-weight: 300;
                  line-height: 24px;
                }
              }
            }
          }
        }
      }
    }
  }

  .form-error-msg {
    border-radius: var(--Corner-Small, 8px);
    background: var(--Colors-200, #EED2D2);
    position: relative;
    display: inline-flex;
    padding: 10px 14px;
    align-items: center;
    gap: var(--Space-200, 8px);
    svg {

    }
    .errors {
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          color: var(--Colors-500, var(--Colors-500, #931E31));
          font-family: var(--Family-Font---Body, Nohemi);
          font-size: var(--Typo-Body-S, 13px);
          font-style: normal;
          font-weight: 400;
          line-height: 20px
        }
      }
    }
  }
}