.account-global-page {
  position: relative;

  shop-login-button {
    display: none;
  }

  &.login {
    padding: var(--Space-4000, 160px) 0;
    width: 440px;

    @media only screen and (max-width: 1024px) {
      width: 100%;
      padding: 80px 16px;
    }
  }

  &.register {
    padding: var(--Space-4000, 160px) 0;
    width: 440px;

    @media only screen and (max-width: 1024px) {
      width: 100%;
      padding: 80px 16px;
    }
  }

  h1 {
    color: var(--Colors-1000, var(--Colors-1000, #000));
    text-align: center;
    font-family: var(--Family-Font, Nohemi);
    font-size: var(--Typo-H2, 36px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @media only screen and (max-width: 1024px) {
      font-size: 25px;
    }
  }

  button.main-global-button {
    margin: 24px 0px !important;
  }

  &.account {
    width: 100%;
    padding: 96px var(--Space-2400, 96px);
    max-width: 100%;

    @media only screen and (max-width: 1024px) {
      padding: 50px 16px;
    }

    .customer__title {
      text-align: left;
      margin-bottom: 56px;

      @media only screen and (max-width: 1024px) {
        margin-bottom: 24px;
      }
    }

    .account-global-page__content {
      display: flex;
      align-items: flex-start;
      gap: 34px;
      align-self: stretch;

      @media only screen and (max-width: 1024px) {
        gap: 24px;
        flex-direction: column;
        flex-wrap: wrap;
      }

      &--sidebar {
        display: flex;
        width: 30%;
        height: 636px;
        padding: var(--Space-600, 24px);
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: var(--Corner-Large, 16px);
        border: 1px solid var(--Colors-ligth_grey, #CDCDCD);
        background: var(--Colors-white, #FFF);

        @media only screen and (max-width: 1024px) {
          width: 100%;
          padding: 20px;
          height: auto;
        }

        &__links {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: var(--Space-400, 14px);
          align-self: stretch;

          @media only screen and (max-width: 1024px) {
            gap: 8px;
            margin-bottom: 30px;
          }

          a {
            display: flex;
            padding: var(--Space-400, 16px) var(--Space-300, 12px);
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            border-radius: var(--Corner-Small, 8px);
            color: var(--Colors-800, var(--Colors-800, #3C1518));
            font-family: var(--Family-Font---Body, Nohemi);
            font-size: var(--Typo-Body-L, 19px);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            text-decoration: none;

            @media only screen and (max-width: 1024px) {
              font-size: 16px;
              line-height: 20px;
              padding: 12px 8px;
            }

            &.active {
              background: var(--Colors-100, #FAFAFA);
            }

            &.last-link {
              border-top: 1px solid #CDCDCD;
              border-radius: 0px;
              padding-top: 24px;
            }
          }
        }
        &__close {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: var(--Space-100, 4px);
          a {
            color: var(--Colors-500, var(--Colors-500, #931E31));
            text-align: center;
            font-family: var(--Family-Font---Body, Nohemi);
            font-size: var(--Typo-Body-M, 16px);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
      &--content {
        display: flex;
        width: 70%;
        padding: var(--Space-1200, 48px);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--Space-1200, 48px);
        border-radius: var(--Corner-Large, 16px);
        border: 1px solid var(--Colors-ligth_grey, #CDCDCD);
        background: var(--Colors-white, #FFF);

        &.show-edit {
          .account-global-page__content--content__row--body__content.view {
            display: none !important;
          }
          .account-global-page__content--content__row--body__content.edit {
            display: flex !important;
          }
          .account-global-page__content--content__row--heading {
            .global-edit-button {
              display: none !important;
            }
          }
        }

        @media only screen and (max-width: 1024px) {
          width: 100%;
          padding: 24px;
          height: auto;
        }

        &__row {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 32px;
          align-self: stretch;
          &--heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;

            h3 {
              color: var(--Colors-1000, var(--Colors-1000, #000));
              font-family: var(--Family-Font, Nohemi);
              font-size: var(--Typo-Body-XL, 25px);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin: 0px;

              @media only screen and (max-width: 1024px) {
                font-size: 18px;
              }
            }
          }
          &--body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--Space-800, 32px);
            align-self: stretch;

            &__content {
              display: flex;
              align-items: baseline;
              gap: var(--Space-400, 16px);
              align-self: stretch;

              &.edit {
                display: none;
                form {
                  width: 100%;
                  margin: 0;

                  display: flex;
                  align-items: baseline;
                  gap: var(--Space-400, 16px);
                  align-self: stretch;
                  position: relative;
                  padding-bottom: 68px;

                  .main-custom-button {
                    margin: 0;
                    position: absolute;
                    bottom: 0;
                    line-height: 20px;
                  }
                }
              }

              @media only screen and (max-width: 1024px) {
                flex-direction: column;
              }

              div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--Space-600, 10px);
                flex: 1 0 0;

                @media only screen and (max-width: 1024px) {
                  width: 100%;
                  gap: 8px;
                  margin-bottom: 12px;
                }

                h4 {
                  margin: 0px;
                  color: var(--Colors-Grey, var(--Colors-grey, #4E4E4E));
                  font-family: var(--Family-Font---Body, Nohemi);
                  font-size: var(--Typo-Body-M, 16px);
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                }
                p {
                  margin: 0px;
                  color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
                  leading-trim: both;
                  text-edge: cap;
                  font-family: var(--Family-Font---Body, Nohemi);
                  font-size: var(--Typo-Body-M, 16px);
                  font-style: normal;
                  font-weight: 300;
                  line-height: 24px;
                }
              }

              .support-content {
                display: flex;
                flex-direction: column;
                gap: var(--Space-800, 16px);

                .tag-message {
                  display: flex;
                  padding: var(--Space-400, 16px);
                  align-items: center;
                  gap: var(--Space-400, 16px);
                  border-radius: var(--Corner-Small, 8px);
                  border: 1px solid var(--Colors-400, #AE5155);
                  background: var(--Colors-100, #FAFAFA);
                  flex-direction: row;

                  span {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    color: var(--Colors-500, var(--Colors-500, #931E31));
                    font-family: var(--Family-Font---Body, Nohemi);
                    font-size: var(--Typo-Body-S, 13px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                  }
                }

                @media only screen and (max-width: 1024px) {
                  .main-custom-button {
                    line-height: 41px !important;
                    width: 100%;
                    text-align: center;
                  }
                }
              }

              .keio-x-content {
                display: flex;
                flex-direction: column;
                gap: var(--Space-800, 16px);
              }

              .products-content {
                display: flex;
                flex-direction: column;
                gap: var(--Space-800, 16px);

                .order-card {
                  width: 100%;

                  .order-items {
                    width: 100%;

                    .order-items-item {
                      display: flex;
                      width: 100%;
                      padding: var(--Space-800, 32px);
                      flex-direction: column;
                      align-items: flex-start;
                      gap: var(--Space-800, 32px);
                      border-radius: var(--Corner-Large, 16px);
                      background: #F7F7F7;
                      box-sizing: border-box;
                      position: relative;

                      @media only screen and (max-width: 1024px) {
                        padding: 20px;
                        gap: 18px;
                      }

                      .order-items-item-heading {
                        color: var(--Colors-1000, var(--Colors-1000, #000));
                        font-family: var(--Family-Font, Nohemi);
                        font-size: var(--Typo-Body-XL, 25px);
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        flex-direction: row;
                        position: relative;
                        width: 100%;
                        box-sizing: border-box;

                        @media only screen and (max-width: 1024px) {
                          font-size: 18px;
                          align-items: center;
                        }

                        span {
                          display: flex;
                          padding: var(--Space-150, 6px) var(--Space-200, 8px);
                          flex-direction: column;
                          align-items: flex-start;
                          gap: 6.378px;
                          color: #1F7B01;
                          font-family: var(--Family-Font---Body, Nohemi);
                          font-size: var(--Typo-Body-S, 13px);
                          font-style: normal;
                          font-weight: 400;
                          line-height: 12px;
                          border-radius: var(--Corner-Full, 10000px);
                          background: #C2EEB4;
                        }
                        button {
                          position: absolute;
                          right: 0;
                          top: 5px;
                          background: transparent;
                          border: 0;
                          margin: 0;
                          -webkit-transition: all .25s cubic-bezier(.77,0,.175,1);
                          -moz-transition: all .25s cubic-bezier(.77,0,.175,1);
                          -o-transition: all .25s cubic-bezier(.77,0,.175,1);
                          transition: all .25s cubic-bezier(.77,0,.175,1);
                          cursor: pointer;
                        }
                      }
                      .order-items-item-body {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-end;
                        gap: 20px;
                        align-self: stretch;
                        display: none;

                        .order-items-item-body-inner {
                          display: flex;
                          flex-direction: column;
                          align-items: flex-start;
                          gap: var(--Space-600, 20px);
                          align-self: stretch;

                          @media only screen and (max-width: 1024px) {
                            gap: 4px;
                            margin-bottom: -10px !important;
                          }

                          .order-items-item-body-inner-summary {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            align-self: stretch;
                            flex-direction: initial;
                            
                            div {
                              &:nth-child(1) {
                                color: var(--Colors-1000, var(--Colors-1000, #000));
                                font-family: var(--Family-Font---Body, Nohemi);
                                font-size: var(--Typo-Body-M, 16px);
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                              }
                              &:nth-child(2) {
                                color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
                                text-align: right;
                                font-family: var(--Family-Font---Body, Nohemi);
                                font-size: var(--Typo-Body-S, 13px);
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                                align-items: end;
                              }
                            }
                          }
                        }

                        .order-items-item-body-actions {
                          display: flex;
                          justify-content: space-between;
                          align-items: flex-start;
                          align-self: stretch;

                          @media only screen and (max-width: 1024px) {
                            a {
                              width: 100%;
                              text-align: center;
                              line-height: 40px;
                            }
                          }
                        }
                      }

                      &.active {
                        .order-items-item-body {
                          display: flex;
                        }
                        .order-items-item-heading button {
                          transform: rotate(180deg);
                          top: 3px;
                        }
                      }
                    }
                  }
                }
              }

            }
          }
        }
      }
    }
  }

  .form-error-msg {
    border-radius: var(--Corner-Small, 8px);
    background: var(--Colors-200, #EED2D2);
    position: relative;
    display: inline-flex;
    padding: 10px 14px;
    align-items: center;
    gap: var(--Space-200, 8px);
    position: absolute;
    top: 534px;
    left: 10px;
    right: 10px;
    .errors {
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          color: var(--Colors-500, var(--Colors-500, #931E31));
          font-family: var(--Family-Font---Body, Nohemi);
          font-size: var(--Typo-Body-S, 13px);
          font-style: normal;
          font-weight: 400;
          line-height: 20px
        }
      }
    }
  }

  .customer {
    form {
      position: relative;
    }
  }
}