.main-custom-energy {
  position: relative;

  .full-banner {
    width: 100%;
    height: auto;
    display: block;
  }
  &__banner {
    position: relative;
    &--frame {
      position: absolute;
      left: 20px;
      right: 20px;
      top: 0px;
      bottom: 0px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--Space-800, 24px);
      display: flex;
      justify-content: center;
      margin: auto;
      width: 1100px;
      h1 {
        margin: 0px;
        color: #FFF;
        text-align: center;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-Display-XL, 61px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
      }
      p {
        margin: 0px;
        color: #FFF;
        text-align: center;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-H3, 31px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0px;
      }
      button {
        width: 270px;
      }
    }
  }
}