.main-custom-comparer {
  position: relative;

  .full-banner {
    width: 100%;
    height: auto;
    display: block;
  }
  &__banner {
    position: relative;
    &--frame {
      position: absolute;
      left: 20px;
      right: 20px;
      top: 0px;
      bottom: 0px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--Space-800, 24px);
      display: flex;
      justify-content: center;
      margin: auto;
      width: 1100px;
      h1 {
        margin: 0px;
        color: #FFF;
        text-align: center;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-Display-XL, 61px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
      }
      p {
        margin: 0px;
        color: #FFF;
        text-align: center;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-H3, 31px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0px;
      }
      button {
        width: 270px;
        line-height: 19px;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    padding: var(--Space-2400, 96px);
    flex-direction: column;
    align-items: center;
    gap: 16px;

    h2 {
      color: var(--Colors-1000, var(--Colors-1000, #000));
      font-family: var(--Family-Font, Nohemi);
      font-size: var(--Typo-H2, 39px);
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      margin: 0px;
    }
    p {
      margin: 0;
      color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
      font-family: var(--Family-Font---Body, Nohemi);
      font-size: var(--Typo-Body-L, 20px);
      font-style: normal;
      font-weight: 400;
      line-height: 35px;
    }
  }
}

.main-custom-comparer-canvas {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  margin-top: 38px;
  &__filter {
    display: flex;
    width: 437px;
    padding: var(--Space-600, 24px) var(--Space-600, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Space-600, 24px);
    border-radius: var(--Corner-Large, 16px);
    border: var(--Strokes-Small, 1px) solid var(--Colors-ligth_grey, #CDCDCD);
    background: #FFF;

    &--item {
      width: 100%;
    }
  }
  &__results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Space-600, 24px);
    width: 60%;
    &--item {
      display: flex;
      width: 100%;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--Space-600, 24px);
      border-radius: 12px;
      border: 1px solid var(--Colors-ligth_grey, #CDCDCD);
      background: var(--Colors-white, #FFF);
      position: relative;
      &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        h2 {
          margin: 0px;
          color: var(--Colors-1000, var(--Colors-1000, #000));
          font-family: var(--Family-Font, Nohemi);
          font-size: var(--Typo-Body-XL, 25px);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        div {
          display: flex;
          align-items: flex-end;
          gap: var(--Space-050, 2px);
          color: var(--Colors-1000, var(--Colors-1000, #000));
          font-family: var(--Family-Font, Nohemi);
          font-size: var(--Typo-H3, 31px);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          span {
            color: #000;
            font-family: var(--Family-Font---Body, Nohemi);
            font-size: var(--Typo-Body-S, 13px);
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
          }
        }
      }
      &__body {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        &--inner {
          display: flex;
          width: 50%;
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;
          flex-shrink: 0;
          ul {
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;
            li {
              display: flex;
              align-items: center;
              gap: var(--Space-200, 8px);
              list-style: none;
              color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
              font-family: var(--Family-Font---Body, Nohemi);
              font-size: var(--Typo-Body-M, 16px);
              font-style: normal;
              font-weight: 400;
              line-height: 24px;

              img {
                position: relative;
                top: -2px;
              }
            }
          }
        }
      }
      a.anchor {
        color: var(--Colors-500, var(--Colors-500, #931E31));
        font-family: var(--Family-Font---Body, Nohemi);
        font-size: var(--Typo-Body-M, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        display: block;
        margin-top: -6px;
        cursor: pointer;
        display: none;
      }
      .main-custom-button {
        position: absolute;
        right: 22px;
        bottom: 32px;
        display: none;
      }

      &.is-KEIO {
        border: var(--Strokes-Medium, 2px) solid var(--Colors-500, #931E31) !important;
        background: var(--Colors-white, #FFF);

        a {
          display: block;
        }
      }
    }
  }
}