.main-custom-header {
  position: relative;
  display: flex;
  height: 122px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;

  @media only screen and (max-width: 1024px) {
    height: 56px;
    z-index: 9;
  }

  &__top {
    display: flex;
    width: 100%;
    height: 82px;
    padding: var(--Space-400, 16px) var(--Space-2400, 96px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--Colors-white, #FFF);

    @media only screen and (max-width: 1600px) {
      padding: 16px 56px;
    }
    @media only screen and (max-width: 1400px) {
      padding: 16px 46px;
    }

    @media only screen and (max-width: 1024px) {
      padding: var(--Space-400, 16px);
      padding-bottom: 0;
    }

    &--container {
      display: flex;
      height: 50px;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      align-self: stretch;

      &__logo {
        display: flex;
        align-items: center;
        gap: var(--Space-1600, 64px);

        @media only screen and (max-width: 1024px) {
          height: auto;
          width: 60px;
          position: relative;
          left: 46px;
          top: -3px;
        }

        a {
          display: block;

          img {
            display: block;

            @media only screen and (max-width: 1024px) {
              width: 100%;
              height: auto;
            }
          }
        }
      }
      &__mobile-menu {
        position: absolute;
        cursor: pointer;
      }
      &__icons {
        display: flex;
        align-items: center;
        gap: var(--Space-300, 12px);
        @media only screen and (max-width: 1024px) {
          position: relative;
          top: 4px;
        }

        div {
          cursor: pointer;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    width: 100%;
    height: 40px;
    padding: var(--Space-0, 0) var(--Space-2400, 96px);
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-top: 1px solid var(--Colors-ligth_grey, #CDCDCD);
    background: var(--Colors-white, #FFF);

    @media only screen and (max-width: 1600px) {
      padding: 0 56px;
    }
    @media only screen and (max-width: 1400px) {
      padding: 0 46px;
    }
    

    @media only screen and (max-width: 1024px) {
      position: absolute;
      z-index: 2;
      bottom: auto;
      top: 56px;
      padding: 0px 16px;
      height: auto;
      display: none;
    }

    &--container {
      display: flex;
      max-height: 40px;
      padding: 8px 0;
      align-items: center;

      @media only screen and (max-width: 1024px) {
        display: block;
        max-height: 100% !important;
        padding: 22px 0;
      }

      &__list {
        display: flex;
        align-items: flex-end;
        gap: 48px;
        margin: 0px;
        padding: 0px;

        @media only screen and (max-width: 1024px) {
          flex-direction: column;
          flex-wrap: wrap;
          gap: 22px;
          align-items: baseline;
        }

        &--item {
          display: flex;
          width: auto;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          list-style: none;

          a {
            display: block;
            color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
            font-family: var(--Family-Font---Body, Nohemi);
            font-size: var(--Typo-Body-M, 16px);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            text-decoration: none;
            text-transform: uppercase;
          }

          &.level-2 {
            a {
              color: var(--Colors-500, var(--Colors-500, #931E31));
            }
          }
        }
      }
    }
  }
}

.float-whatsapp {
  position: fixed;
  right: 50px;
  bottom: 100px;
  z-index: 2;
  animation: float 2s ease-in-out infinite;

  @media only screen and (max-width: 1024px) {
    right: 16px;
    bottom: 16px;
  }

  a {
    display: block;
    display: flex;
    padding: var(--Space-600, 24px);
    justify-content: flex-end;
    align-items: center;
    gap: var(--Space-400, 16px);
    border-radius: var(--Corner-Extra-large, 28px);
    background: var(--Colors-500, #931E31);

    @media only screen and (max-width: 1024px) {
      padding: var(--Space-600, 20px);

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-8px);
	}
	100% {
		transform: translatey(0px);
	}
}

body.show-mobile-menu {
  .main-custom-header__bottom {
    display: block !important;
  }
}