.main-custom-energy {
  position: relative;

  .full-banner {
    width: 100%;
    height: auto;
    display: block;
  }
  &__banner {
    position: relative;
    &--frame {
      position: absolute;
      left: 20px;
      right: 20px;
      top: 0px;
      bottom: 0px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--Space-800, 24px);
      display: flex;
      justify-content: center;
      margin: auto;
      width: 1100px;

      @media only screen and (max-width: 1024px) {
        left: 16px;
        right: 16px;
        width: auto;
        gap: 18px;
      }

      h1 {
        margin: 0px;
        color: #FFF;
        text-align: center;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-Display-XL, 61px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        @media only screen and (max-width: 1024px) {
          font-size: 30px;
          margin-top: -50px;
        }
      }
      p {
        margin: 0px;
        color: #FFF;
        text-align: center;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-H3, 31px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0px;

        @media only screen and (max-width: 1024px) {
          font-size: 16px;
          line-height: 22px;
          font-weight: 300;
        }
      }
      button {
        width: 270px;

        @media only screen and (max-width: 1024px) {
          width: 150px;
        }
      }
    }
  }

  &__content {
    &--grid {
      display: flex;
      width: 100%;
      padding: 0;
      align-items: center;
      gap: 24px;
      box-sizing: border-box;

      @media only screen and (max-width: 1024px) {
        flex-wrap: wrap;
        gap: 20px;
      }
      .main-custom-energy-image {
        display: flex;
        width: 55%;
        height: auto;
        padding: 0;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;

        @media only screen and (max-width: 1024px) {
          width: 100%;
        }

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
      .main-custom-energy-items {
        display: flex;
        width: 45%;
        align-items: flex-start;
        align-content: flex-start;
        gap: 24px;
        flex-shrink: 0;
        flex-wrap: wrap;

        @media only screen and (max-width: 1690px) {
          gap: 18px;
        }
        @media only screen and (max-width: 1024px) {
          width: 100%;
          gap: 12px;
        }
        &__item {
          display: flex;
          width: calc(50% - 20px);
          padding: var(--Space-800, 32px);
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          gap: 10px;
          flex-shrink: 0;
          box-sizing: border-box;
          border-radius: var(--Corner-Large, 16px);
          border: var(--Strokes-Medium, 2px) solid rgba(0, 0, 0, 0.05);
          background: var(--Colors-100, #FAFAFA);
          aspect-ratio: 3 / 2.64;
          min-height: 10px;

          @media only screen and (max-width: 1690px) {
            padding: 22px;
          }
          @media only screen and (max-width: 1024px) {
            padding: 22px 12px;
            aspect-ratio: 3 / 4;
            width: calc(50% - 6px);
          }

          &--item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            flex: 1 0 0;
            align-self: stretch;
            &__text {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 23px;
              align-self: stretch;

              @media only screen and (max-width: 1400px) {
                gap: 18px;
              }

              h3 {
                margin: 0px;
                color: var(--Colors-1000, var(--Colors-1000, #000));
                font-family: var(--Family-Font, Nohemi);
                font-size: var(--Typo-Body-XL, 25px);
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                @media only screen and (max-width: 1690px) {
                  font-size: 22px;
                }
                @media only screen and (max-width: 1400px) {
                  font-size: 19px;
                }
                @media only screen and (max-width: 1024px) {
                  font-size: 16px;
                }
              }
              p {
                margin: 0px;
                color: var(--Colors-1000, var(--Colors-1000, #000));
                font-family: var(--Family-Font---Body, Nohemi);
                font-size: var(--Typo-Body-M, 16px);
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                opacity: 0.6;

                @media only screen and (max-width: 1690px) {
                  font-size: 14px;
                  line-height: 20px;
                }
                @media only screen and (max-width: 1024px) {
                  font-size: 12px;
                  line-height: 18px;
                }
              }
            }
          }
        }
      }
    }
    &--table {
      display: flex;
      width: 100%;
      padding: var(--Space-2400, 96px) 0 var(--Space-4000, 160px) 0;
      flex-direction: column;
      align-items: center;
      gap: 64px;
      box-sizing: border-box;

      @media only screen and (max-width: 1024px) {
        gap: 14px;
        padding-top: 56px;
        padding-bottom: 46px;
      }

      h2 {
        color: var(--Colors-1000, var(--Colors-1000, #000));
        text-align: center;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-H1, 49px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        span {
          color: var(--Colors-500, var(--Colors-500, #931E31));
        }

        @media only screen and (max-width: 1400px) {
          font-size: 36px;
        }
        @media only screen and (max-width: 1024px) {
          font-size: 30px;
        }
      }
      .main-custom-table {
        position: relative;
        width: 874px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 34px;
        margin-top: 35px;
        @media only screen and (max-width: 1024px) {
          width: 100%;
          margin-top: 0px;
        }
        &__row {
          color: var(--Colors-800, var(--Colors-800, #1E1E1E));
          font-family: var(--Family-Font---Body, Nohemi);
          font-size: var(--Typo-Body-L, 22px);
          font-style: normal;
          font-weight: 400;
          line-height: 35px;

          @media only screen and (max-width: 1024px) {
            display: none;
          }
        }

        svg {
          position: absolute;
          right: 0;
          bottom: -53px;
          width: 500px;
          height: auto;

          @media only screen and (max-width: 1024px) {
            width: 100%;
            bottom: 0px;
            position: relative;
          }
        }
      }
    }
    &--activation {
      background: var(--Colors-1000, #000);
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      gap: 64px;
      margin-left: -96px;
      margin-right: -96px;
      width: auto;
      padding: var(--Space-4000, 160px) var(--Space-2400, 96px);

      h2 {
        color: var(--Colors-White, var(--Colors-white, #FFF));
        text-align: center;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-H1, 49px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        margin: 0px;

        @media only screen and (max-width: 1400px) {
          font-size: 36px;
        }
      }
      .main-custom-energy-activacion {
        display: flex;
        align-items: center;
        gap: 24px;

        @media only screen and (max-width: 1500px) {
          gap: 20px;
        }

        &--item {
          display: flex;
          max-width: 560px;
          width: 33%;
          height: 264px;
          padding: 32px;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          gap: 10px;
          border-radius: var(--Corner-Large, 16px);
          border: 1px solid var(--Colors-900, #220F0E);
          background: linear-gradient(180deg, rgba(60, 21, 24, 0.25) 0%, rgba(147, 30, 49, 0.38) 100%);

          @media only screen and (max-width: 1500px) {
            padding: 22px;
          }

          &__inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            flex: 1 0 0;
            align-self: stretch;
            &--head {
              display: flex;
              align-items: center;
              gap: 16px;
              align-self: stretch;
              @media only screen and (max-width: 1500px) {
                svg {
                  width: 30px;
                  height: 30px;
                }
              }
              span {
                color: var(--Colors-White, var(--Colors-white, #FFF));
                font-family: var(--Family-Font, Nohemi);
                font-size: var(--Typo-Body-XL, 25px);
                font-style: normal;
                font-weight: 300;
                line-height: normal;

                @media only screen and (max-width: 1500px) {
                  font-size: 20px;
                }
              }
            }
            &--body {
              display: flex;
              align-items: flex-start;
              gap: var(--Space-600, 24px);
              align-self: stretch;

              @media only screen and (max-width: 1500px) {
                gap: 20px;
              }

              &__text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--Space-800, 22px);
                flex: 1 0 0;

                h3 {
                  margin: 0px;
                  color: var(--Colors-White, var(--Colors-white, #FFF));
                  font-family: var(--Family-Font, Nohemi);
                  font-size: var(--Typo-H3, 29px);
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;

                  @media only screen and (max-width: 1500px) {
                    font-size: 24px;
                  }
                }
                p {
                  margin: 0px;
                  color: var(--Colors-White, var(--Colors-white, #FFF));
                  font-family: var(--Family-Font---Body, Nohemi);
                  font-size: var(--Typo-Body-M, 16px);
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;

                  @media only screen and (max-width: 1500px) {
                    font-size: 14px;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
    &--contract {
      width: 532px;
      margin: 0 auto;
      display: block;
      padding-top: 160px;
      padding-bottom: 160px;

      h2 {
        color: var(--Colors-1000, var(--Colors-1000, #000));
        text-align: center;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-H1, 49px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        margin: 0px;
        margin-bottom: 64px;
      }

      .main-input-field-container {
        display: flex;
        gap: 20px;

        .main-input-field {
          width: 50%;
        }
      }
      .main-checkbox-field-container {
        margin-bottom: 20px;
        .main-checkbox-field {
          margin-bottom: 6px;
          position: relative;

          input {
            display: block;
            position: absolute;
            z-index: 2;
            top: 3px;
            left: -2px;
            opacity: 0;
          }
          label {
            letter-spacing: 0px;
          }
        }
      }
      .main-input-field {
        margin-bottom: 20px;
      }
      .main-custom-button {
        width: 100%;
      }
    }
  }
}