.main-hero-title {
  position: relative;

  .full-banner {
    width: 100%;
    height: auto;
    display: block;
  }
  &__banner {
    position: relative;

    .banner-tag {
      position: absolute;
      right: 32px;
      top: 32px;

      @media only screen and (max-width: 1024px) {
        display: none;
      }
    }

    &--frame {
      position: absolute;
      left: 20px;
      right: 20px;
      top: 0px;
      bottom: 0px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--Space-800, 24px);
      display: flex;
      justify-content: center;
      margin: auto;
      width: 1100px;
      max-width: 100%;

      @media only screen and (max-width: 1024px) {
        width: auto;
      }
      h1 {
        margin: 0px;
        color: #FFF;
        text-align: center;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-Display-XL, 61px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        @media only screen and (max-width: 1400px) {
          font-size: 50px;
        }
        @media only screen and (max-width: 1300px) {
          font-size: 44px;
        }
        @media only screen and (max-width: 1024px) {
          font-size: 39px;
        }
      }
      p {
        margin: 0px;
        color: #FFF;
        text-align: center;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-H3, 31px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0px;

        @media only screen and (max-width: 1400px) {
          font-size: 26px;
        }
        @media only screen and (max-width: 1300px) {
          font-size: 22px;
        }
        @media only screen and (max-width: 1024px) {
          font-size: 20px;
        }
      }
      button {
        width: 270px;
      }
    }
  }
}