.main-custom-text-image {
  display: flex;
  width: 100%;
  padding: var(--Space-2400, 96px);
  flex-direction: column;
  align-items: flex-start;
  background: var(--Colors-1000, #000);

  @media only screen and (max-width: 1024px) {
    padding-top: 36px !important;
    padding-bottom: 36px !important;

    .main-custom-button {
      line-height: 43px;
    }
  }

  &--content {
    display: flex;
    align-items: center;
    gap: var(--Space-600, 24px);
    align-self: stretch;
    &__text {
      display: flex;
      padding: var(--Space-0, 0) 0;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--Space-600, 24px);
      flex: 1 0 0;
      align-self: stretch;
      width: 50%;
      justify-content: center;
      @media only screen and (max-width: 1024px) {
        width: 100%;
        gap: 8px;
      }
      &--title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--Space-400, 0px);
        align-self: stretch;
        h3 {
          margin: 0px;
          color: var(--Colors-White, var(--Colors-white, #FFF));
          font-family: var(--Family-Font, Nohemi);
          font-size: var(--Typo-H2, 39px);
          font-style: normal;
          font-weight: 300;
          line-height: 120%;

          @media only screen and (max-width: 1024px) {
            font-size: 25px;
          }
        }
        p {
          margin: 0px;
          color: var(--Colors-LigthGrey, var(--Colors-ligth_grey, #CDCDCD));
          font-family: var(--Family-Font---Body, Nohemi);
          font-size: var(--Typo-Body-L, 20px);
          font-style: normal;
          font-weight: 400;
          line-height: 35px;

          @media only screen and (max-width: 1024px) {
            font-size: 16px;
          }
        }
      }
      ul {
        margin: 0px;
        padding: 0px;
        display: block;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        li {
          display: block;
          border-bottom: 1px solid var(--Colors-grey, #5C5E5C);
          color: var(--Colors-White, var(--Colors-white, #FFF));
          font-family: var(--Family-Font---Body, Nohemi);
          font-size: var(--Typo-Body-L, 20px);
          font-style: normal;
          font-weight: 600;
          line-height: 26px;
          padding: 32px 0;
          letter-spacing: 0;

          @media only screen and (max-width: 1024px) {
            font-size: 16px;
            padding: 14px 0;
          }
          span {
            color: var(--Colors-LigthGrey, var(--Colors-ligth_grey, #CDCDCD));
            font-family: var(--Family-Font---Body, Nohemi);
            font-size: var(--Typo-Body-M, 16px);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;

            @media only screen and (max-width: 1024px) {
              display: none !important;
            }
          }
        }
      }
    }
    &__image {
      width: 50%;

      @media only screen and (max-width: 1024px) {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--Corner-Large, 16px);
      }
    }

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &.is-transparent_bg {
    background-color: transparent;
    padding-top: 64px !important;
    padding-bottom: 64px !important;

    @media only screen and (max-width: 1024px) {
      padding-bottom: 10px !important;
    }

    .main-custom-text-image--content__text--title h3 {
      color: #000 !important;
    }
    .main-custom-text-image--content__text ul li {
      color: var(--Colors-Grey, var(--Colors-grey, #4E4E4E));
      font-family: var(--Family-Font---Body, Nohemi);
      font-size: var(--Typo-Body-L, 20px);
      font-style: normal;
      font-weight: 400;
      line-height: 35px;
      padding-top: 18px;
      padding-bottom: 18px;

      @media only screen and (max-width: 1024px) {
        font-size: 16px;
        line-height: 24px;
      }

      svg {
        margin-right: 6px;
        position: relative;
        top: 4px;
      }
    }
  }
}

.main-custom-reviews__body--actions {
  @media only screen and (max-width: 1024px) {
    .main-custom-button {
      height: 40px !important;
      padding: 11px 24px !important;
    }
  }
}