.main-custom-marquee {
  display: flex;
  height: 136px;
  padding: var(--Space-1200, 48px) var(--Space-2400, 96px);
  align-items: center;
  gap: var(--Space-2400, 96px);
  flex-shrink: 0;
  align-self: stretch;

  @media only screen and (max-width: 1024px) {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  &__logos {
    display: flex;
    align-items: center;
    gap: 160px;
    width: 100%;

    svg {
      height: 40px;
      width: auto;
      display: block;

      @media only screen and (max-width: 1024px) {
        &.logo-2 {
          width: 50px !important;
          display: block !important;
          margin: 0 auto;
        }
      }
    }

    .slick-list {
      width: 100% !important;
    }

    @media only screen and (max-width: 1024px) {
      .slick-slide {
        padding: 0 18px;
      }
    }
  }
}