.main-custom-hero {
  position: relative;
  display: flex;
  aspect-ratio: 10 / 4.6;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  width: 100%;
  background-color: gray;

  @media only screen and (max-width: 1024px) {
    aspect-ratio: 10 / 11;
  }

  &--container {
    width: 100%;
    height: 100%;
    
    &__image {
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      position: absolute;
      top: 0px;
      right: 0px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__texts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: var(--Space-1200, 48px);
      z-index: 2;
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      width: 62%;

      @media only screen and (max-width: 1024px) {
        width: 100%;
        padding: 0 16px !important;
        gap: 12px;

        button {
          margin: 0 auto;
          margin-top: 8px;
        }
      }

      &--title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

        @media only screen and (max-width: 1024px) {
          gap: 0px;
        }

        div {
          color: #FFF;
          font-family: var(--Family-Font, Nohemi);
          font-size: var(--Typo-Display-XL, 61px);
          font-style: normal;
          font-weight: 400;
          line-height: 120%;

          @media only screen and (max-width: 1400px) {
            font-size: 48px;
          }
          @media only screen and (max-width: 1360px) {
            font-size: 40px;
          }
          @media only screen and (max-width: 1024px) {
            font-size: 36px;
            text-align: center;
            width: 100%;
          }
        }
      }
      &--subtitle {
        display: flex;
        align-items: flex-start;
        gap: var(--Space-200, 8px);

        div {
          color: #FFF;
          font-family: var(--Family-Font, Nohemi);
          font-size: var(--Typo-H3, 31px);
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          @media only screen and (max-width: 1024px) {
            font-size: 18px;
            text-align: center;
            line-height: 22px;
          }

          &:nth-child(2) {
            font-weight: 700;
          }
        }
      }
      &--icons {
        display: flex;
        align-items: center;
        gap: 24px;

        @media only screen and (max-width: 1024px) {
          width: 250px;
          margin: 0 auto;
        }

        svg {
          
        }
      }
    }
  }
}