.main-custom-reviews {
  display: flex;
  padding: var(--Space-1200, 48px) var(--Space-2400, 96px) var(--Space-2400, 96px) var(--Space-2400, 96px);
  flex-direction: column;
  align-items: center;
  gap: 38px;

  @media only screen and (max-width: 1024px) {
    gap: 20px;
    overflow: hidden;

    .slick-arrow {
      display: none !important;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      gap: var(--Space-600, 0px);

      h2 {
        color: #000;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-H2, 39px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        margin: 0px;

        @media only screen and (max-width: 1024px) {
          font-size: 25px;
        }
      }
      p {
        color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
        font-family: var(--Family-Font---Body, Nohemi);
        font-size: var(--Typo-Body-L, 20px);
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        margin: 0px;

        @media only screen and (max-width: 1024px) {
          font-size: 16px;
          line-height: 24px;
          margin-top: 8px;
        }
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Space-1200, 48px);
    align-self: stretch;
    width: 100%;

    @media only screen and (max-width: 1024px) {
      gap: 20px;
    }

    &--list {
      display: flex;
      align-items: center;
      gap: 24px;
      align-self: stretch;
      margin-left: -8px;
      margin-right: -8px;

      .slick-list {
        width: 100%;
        .slick-slide {
          padding: 9px;
          box-sizing: border-box;
        }
      }
      &__item {
        display: flex !important;
        padding: var(--Space-800, 32px);
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: var(--Corner-Extra-small, 4px);
        border: var(--Strokes-Small, 1px) solid var(--Colors-ligth_grey, #CDCDCD);
        background: #FFF;
        gap: 20px;

        @media only screen and (max-width: 1024px) {
          gap: 16px;
          padding: 28px;
        }

        h3 {
          margin: 0px;
          color: var(--Colors-1000, var(--Colors-1000, #000));
          font-family: var(--Family-Font, Nohemi);
          font-size: var(--Typo-Body-XL, 25px);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          height: 52px;

          @media only screen and (max-width: 1024px) {
            font-size: 18px;
            height: 32px;
          }
        }
        p {
          overflow: hidden;
          color: var(--Gray, #868686);
          leading-trim: both;
          text-edge: cap;
          text-overflow: ellipsis;
          font-family: var(--Family-Font---Body, Nohemi);
          font-size: var(--Typo-Body-L, 20px);
          font-style: normal;
          font-weight: 400;
          line-height: 35px;
          margin: 0px;
          height: 170px;

          @media only screen and (max-width: 1024px) {
            color: var(--Gray, #868686);
            font-family: var(--Family-Font---Body, Nohemi);
            font-size: var(--Typo-Body-L, 16px);
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            height: 102px;
          }
        }
        .review-data {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 11.958px;

          svg {

          }
          span {
            color: var(--Dark, #050505);
            font-family: var(--Family-Font---Body, Nohemi);
            font-size: var(--Typo-Body-M, 16px);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }

    &--actions {
      a {
        border-radius: var(--Corner-Extra-small, 4px);
        background: var(--Colors-500, #931E31);
        text-decoration: none;
        display: flex;
        height: var(--Buttons-D-H, 50px);
        padding: var(--Space-400, 16px) var(--Space-800, 32px);
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--Colors-White, var(--Colors-white, #FFF));
        font-family: var(--Family-Font---Body, Nohemi);
        font-size: var(--Typo-Body-M, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}