.main-custom-product-list {
  display: flex;
  width: 100%;
  padding: var(--Space-0, 0) var(--Space-2400, 96px) var(--Space-2400, 96px) var(--Space-2400, 96px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-1600, 64px);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Space-800, 32px);
    align-self: stretch;

    &--row {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: var(--Space-600, 24px);
      align-self: stretch;

      @media only screen and (max-width: 1024px) {
        flex-wrap: wrap;
        row-gap: 48px;
      }

      .main-custom-product-card {
        position: relative;
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    padding-left: 0px !important;
    padding-right: 0px !important;

    .slick-track {
      padding: 0 8px;
      box-sizing: border-box;
      .slick-slide {
        padding: 0 8px;
      }
    }
  }
}