.main-custom-simple-banner {
  width: 100%;
  flex-shrink: 0;
  aspect-ratio: 10 / 2;
  position: relative;

  &.isLast {
    .main-custom-simple-banner__container--title {
      color: #FFF;
      font-family: var(--Family-Font, Nohemi);
      font-size: var(--Typo-H2, 39px);
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
    .main-custom-link-white {
      border-radius: var(--Corner-Extra-small, 4px);
      border: var(--Strokes-Small, 1px) solid var(--Colors-500, #931E31);
      background: var(--Colors-white, #FFF);
      color: var(--Colors-500, var(--Colors-500, #931E31));
      font-family: var(--Family-Font---Body, Nohemi);
      font-size: var(--Typo-Body-M, 16px);
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none;
      display: flex;
      height: var(--Buttons-D-H, 50px);
      padding: var(--Space-400, 16px) var(--Space-800, 32px);
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }

  &__container {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    &--title {
      color: var(--Colors-White, var(--Colors-white, #FFF));
      font-family: var(--Family-Font, Nohemi);
      font-size: var(--Typo-Display-XL, 61px);
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      margin-bottom: 16px;
    }
  }
}