.main-custom-comparer {
  position: relative;

  .full-banner {
    width: 100%;
    height: auto;
    display: block;
  }
  &__banner {
    position: relative;
    &--frame {
      position: absolute;
      left: 20px;
      right: 20px;
      top: 0px;
      bottom: 0px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--Space-800, 24px);
      display: flex;
      justify-content: center;
      margin: auto;
      width: 1100px;

      @media only screen and (max-width: 1024px) {
        width: auto;
        gap: 20px;
      }

      h1 {
        margin: 0px;
        color: #FFF;
        text-align: center;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-Display-XL, 61px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        @media only screen and (max-width: 1024px) {
          font-size: 38px;
        }
      }
      p {
        margin: 0px;
        color: #FFF;
        text-align: center;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-H3, 31px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0px;

        @media only screen and (max-width: 1024px) {
          font-size: 20px;
        }
      }
      button {
        width: 270px;
        line-height: 19px;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    padding: var(--Space-2400, 96px);
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media only screen and (max-width: 1024px) {
      padding-top: 40px !important;
    }

    h2 {
      color: var(--Colors-1000, var(--Colors-1000, #000));
      font-family: var(--Family-Font, Nohemi);
      font-size: var(--Typo-H2, 39px);
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      margin: 0px;

      @media only screen and (max-width: 1024px) {
        font-size: 20px;
        width: 100%;
        text-align: center;
      }
    }
    p {
      margin: 0;
      color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
      font-family: var(--Family-Font---Body, Nohemi);
      font-size: var(--Typo-Body-L, 20px);
      font-style: normal;
      font-weight: 400;
      line-height: 35px;

      @media only screen and (max-width: 1024px) {
        font-size: 16px;
        text-align: center;
        line-height: 32px;
      }
    }
  }

  &__reviews {
    display: flex;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: center;
    gap: var(--Space-1200, 48px);
    box-sizing: border-box;

    @media only screen and (max-width: 1024px) {
      padding-left: 0px !important;
      padding-right: 0px !important;
      padding-bottom: 46px !important;
      gap: 32px;
    }
    &--head {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--Space-1200, 12px);

      @media only screen and (max-width: 1024px) {
        padding-left: 16px !important;
        padding-right: 16px !important;
      }
      h2 {
        margin: 0px;
        color: #000;
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-H3, 31px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media only screen and (max-width: 1024px) {
          font-size: 20px;
        }
      }
      p {
        margin: 0px;
        color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
        text-align: center;
        font-family: var(--Family-Font---Body, Nohemi);
        font-size: var(--Typo-Body-L, 20px);
        font-style: normal;
        font-weight: 400;
        line-height: 35px;

        @media only screen and (max-width: 1024px) {
          font-size: 16px;
          text-align: center;
          line-height: 32px;
        }
      }
      svg {
        margin-top: 38px;
        margin-bottom: -26px;

        @media only screen and (max-width: 1024px) {
          margin-top: 20px;
          margin-bottom: -16px;
        }
      }
    }
    &--table {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--Space-600, 24px);
      width: 90%;

      @media only screen and (max-width: 1024px) {
        width: 100%;
        overflow: auto;
        align-items: normal;
        box-sizing: border-box;
        padding: 0 16px;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #CDCDCD;

        @media only screen and (max-width: 1024px) {
          width: 900px;
        }

        tr {
          display: none;

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            display: table-row;
          }
        }
      }

      tr th {
        background-color: #FAFAFA;
        color: var(--Colors-1000, var(--Colors-1000, #000));
        font-family: var(--Family-Font---Body, Nohemi);
        font-size: var(--Typo-Body-M, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

        @media only screen and (max-width: 1024px) {
          font-size: 14px;
        }
      }

      td, th {
        border-bottom: 1px solid #dddddd;
        text-align: left;
        padding: 13px 24px;

        @media only screen and (max-width: 1024px) {
          font-size: 14px;
        }
      }
      .link {
        color: var(--Colors-500, var(--Colors-500, #931E31));
        font-family: var(--Family-Font---Body, Nohemi);
        font-size: var(--Typo-Body-M, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

        @media only screen and (max-width: 1024px) {
          font-size: 14px;
        }
      }
    }
    &--footer {
      button {
        line-height: 100%;
      }
    }

    &.show-all {
      .main-custom-comparer__reviews--table table tr {
        display: table-row;
      }
      .main-custom-comparer__reviews--footer button {
        display: none;
      }
    }
  }
}

.main-custom-comparer-canvas {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  margin-top: 38px;

  @media only screen and (max-width: 1024px) {
    margin-top: 20px;
    flex-direction: column;
  }

  &__filter {
    display: flex;
    width: 437px;
    padding: var(--Space-600, 24px) var(--Space-600, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Space-600, 24px);
    border-radius: var(--Corner-Large, 16px);
    border: var(--Strokes-Small, 1px) solid var(--Colors-ligth_grey, #CDCDCD);
    background: #FFF;

    @media only screen and (min-width: 1025px) {
      position: sticky;
      top: 25px;
    }

    @media only screen and (max-width: 1024px) {
      width: 100%;
      padding: 24px 14px;
    }

    &--item {
      width: 100%;

      .main-custom-button {
        line-height: 19px;
      }
    }
  }
  &__results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Space-600, 24px);
    width: 60%;

    @media only screen and (max-width: 1024px) {
      width: 100%;
    }

    &--item {
      display: flex;
      width: 100%;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--Space-600, 24px);
      border-radius: 12px;
      border: 1px solid var(--Colors-ligth_grey, #CDCDCD);
      background: var(--Colors-white, #FFF);
      position: relative;

      &.show {
        display: flex;
      }

      @media only screen and (max-width: 1024px) {
        padding: 22px;
        gap: 18px;
      }

      &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        @media only screen and (max-width: 1024px) {
          align-items: baseline;
        }
        h2 {
          margin: 0px;
          color: var(--Colors-1000, var(--Colors-1000, #000));
          font-family: var(--Family-Font, Nohemi);
          font-size: var(--Typo-Body-XL, 25px);
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          @media only screen and (max-width: 1024px) {
            font-size: 18px;
            text-align: left;
            padding-right: 16px;
            line-height: 22px;
          }
        }
        div {
          display: flex;
          align-items: flex-end;
          gap: var(--Space-050, 2px);
          color: var(--Colors-1000, var(--Colors-1000, #000));
          font-family: var(--Family-Font, Nohemi);
          font-size: var(--Typo-H3, 31px);
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          @media only screen and (max-width: 1024px) {
            font-size: 20px;
          }
          span {
            color: #000;
            font-family: var(--Family-Font---Body, Nohemi);
            font-size: var(--Typo-Body-S, 13px);
            font-style: normal;
            font-weight: 400;
            line-height: 20px;

            @media only screen and (max-width: 1024px) {
              font-size: 14px;
            }
          }
        }
      }
      &__body {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        &--inner {
          display: flex;
          width: 50%;
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;
          flex-shrink: 0;

          @media only screen and (max-width: 1024px) {
            width: 100%;
          }
          ul {
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;
            li {
              display: flex;
              align-items: center;
              gap: var(--Space-200, 8px);
              list-style: none;
              color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
              font-family: var(--Family-Font---Body, Nohemi);
              font-size: var(--Typo-Body-M, 16px);
              font-style: normal;
              font-weight: 400;
              line-height: 24px;

              @media only screen and (max-width: 1024px) {
                font-size: 14px;
              }

              img {
                position: relative;
                top: -2px;
              }
            }
          }
        }
      }
      a.anchor {
        color: var(--Colors-500, var(--Colors-500, #931E31));
        font-family: var(--Family-Font---Body, Nohemi);
        font-size: var(--Typo-Body-M, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        display: block;
        margin-top: -6px;
        cursor: pointer;
        display: none;
      }
      .main-custom-button {
        position: absolute;
        right: 22px;
        bottom: 32px;
        display: none;
      }

      &.is-KEIO {
        border: var(--Strokes-Medium, 2px) solid var(--Colors-500, #931E31) !important;
        background: var(--Colors-white, #FFF);

        a {
          display: block;

          @media only screen and (max-width: 1024px) {
            bottom: 20px;
            right: 20px;
            left: 20px;
            text-align: center;
            line-height: 41px;
          }
        }
      }
    }
  }
}