.blog-page {
  display: flex;
  width: 100%;
  padding: var(--Space-2400, 96px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-1200, 48px);

  &__heading {
    color: #000;
    font-family: var(--Family-Font, Nohemi);
    font-size: var(--Typo-H2, 39px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0px;
  }
  &__filter {
    display: flex;
    padding: var(--Space-150, 6px);
    align-items: center;
    gap: var(--Space-300, 12px);
    border-radius: var(--Corner-Full, 10000px);
    background: var(--Colors-100, #FAFAFA);
    button {
      display: flex;
      height: var(--sds-size-icon-large);
      max-width: var(--Buttons-D-MaxW, 300px);
      padding: var(--Space-400, 10px) var(--Space-800, 32px);
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: var(--Corner-Full, 10000px);
      color: var(--Colors-500, var(--Colors-500, #931E31));
      font-family: var(--Family-Font---Body, Nohemi);
      font-size: var(--Typo-Body-M, 16px);
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      border: 0px;
      cursor: pointer;
      background-color: transparent;
      &.active {
        border-radius: var(--Corner-Full, 10000px);
        border: var(--Strokes-Medium, 2px) solid var(--Colors-500, #931E31);
        background: var(--Colors-500, #931E31);
        color: var(--Colors-White, var(--Colors-white, #FFF));
        font-family: var(--Family-Font---Body, Nohemi);
        font-size: var(--Typo-Body-M, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
  &__posts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    &--inner {
      display: flex;
      align-items: flex-start;
      gap: var(--Space-600, 24px);
      align-self: stretch;

      &__article {
        display: flex;
        width: 25%;
        flex-direction: column;
        align-items: flex-start;
        border-radius: var(--Corner-Large, 16px);
        border: var(--Strokes-Small, 1px) solid var(--Colors-ligth_grey, #CDCDCD);
        text-decoration: none;
        overflow: hidden;
        &--image {
          width: 100%;
          img {
            width: 100%;
            display: block;
            height: auto;
            -webkit-border-top-left-radius: 16px;
            -webkit-border-top-right-radius: 16px;
            -moz-border-radius-topleft: 16px;
            -moz-border-radius-topright: 16px;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
          }
        }
        &--labels {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: var(--Space-600, 18px);
          align-self: stretch;
          padding: 24px var(--Space-400, 16px);

          div {
            &:nth-child(1) {
              color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
              font-family: var(--Family-Font---Body, Nohemi);
              font-size: var(--Typo-Body-M, 16px);
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              text-decoration: none;
            }
            &:nth-child(2) {
              color: var(--Colors-1000, var(--Colors-1000, #000));
              font-family: var(--Family-Font, Nohemi);
              font-size: var(--Typo-Body-XL, 25px);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-decoration: none;
            }
            &:nth-child(3) {
              color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
              font-family: var(--Family-Font---Body, Nohemi);
              font-size: var(--Typo-Body-M, 16px);
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              text-decoration: none;
            }
            &:nth-child(4) {
              color: var(--Colors-500, var(--Colors-500, #931E31));
              font-family: var(--Family-Font---Body, Nohemi);
              font-size: var(--Typo-Body-M, 16px);
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}