body.template-product {
  .i-container-product {
    padding: 0px 96px;

    .product {
      display: flex;
      gap: 80px;

      .product__media-wrapper {
        display: flex;
        width: 50%;
        max-width: 50%;
        min-width: 10px;
        height: auto;
        padding: 64px 0;
        justify-content: center;
        align-items: baseline;
        flex-shrink: 0;
        padding: 0px;
        padding-top: 60px;

        .product__media-wrapper-container {
          width: 100%;
          position: relative;

          .product__media-wrapper-master {
            border-radius: var(--Corner-Large-increased, 20px);
            overflow: hidden;
            .product__media-wrapper-master__item {
              img {
                display: block;
                width: 100%;
                border-radius: var(--Corner-Large-increased, 20px);
              }
            }
          }
          .product__media-wrapper-thumbnails {
            display: none !important;
          }

          .product__media-wrapper-master--tooltip {
              position: absolute;
              -webkit-backdrop-filter: blur(10.4499998093px);
              backdrop-filter: blur(10.4499998093px);
              border-radius: var(--Corner-Large, 16px);
              background: #fff9;
              box-shadow: 1px 1px 10px 1px #00000014;
              display: flex;
              padding: var(--Space-600, 24px);
              flex-direction: column;
              align-items: flex-start;
              gap: var(--Space-1200, 48px);
              align-self: stretch;
              z-index: 2;
              top: 0;
              left: 28px;
              margin: auto;
              transform: translate(0, 34%);

              .product__media-wrapper-master--tooltip__heading {
                color: var(--Colors-700, var(--Colors-700, #000));
                font-family: var(--Family-Font, Nohemi);
                font-size: var(--Typo-H3, 31px);
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0px;
                z-index: 2;

                strong {
                  display: block;
                }
              }
              .product__media-wrapper-master--tooltip__features {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                align-self: stretch;
                ul {
                  padding: 0px;
                  margin: 0px;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 12px;
                  align-self: stretch;

                  li {
                    list-style: none;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    gap: var(--Space-200, 8px);
                    color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
                    font-family: var(--Family-Font---Body, Nohemi);
                    font-size: var(--Typo-Body-M, 16px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;

                    img {
                      position: relative;
                      top: -1px;
                    }
                  }
                }
              }
          }

        }
      }
      .product__info-wrapper {
        display: flex;
        width: 50%;
        max-width: 50%;
        min-width: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--Space-800, 32px);
        padding: 0px;
        padding-top: 60px;

        .product__info-container {
          max-width: 600px;
          width: 100%;
          &.product__column-sticky {

          }
          .product__title {
            position: relative;
            h1 {
              color: var(--Colors-800, var(--Colors-800, #3C1518));
              font-family: var(--Family-Font, Nohemi);
              font-size: var(--Typo-Body-XL, 25px);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin: 0px;
              padding-right: 120px;
            }
            .product__title--prices {
              position: absolute;
              right: 0px;
              top: 0px;
              color: var(--Colors-800, var(--Colors-800, #3C1518));
              font-family: var(--Family-Font---Body, Nohemi);
              font-size: var(--Typo-Body-L, 20px);
              font-style: normal;
              font-weight: 400;
              line-height: 35px;
            }
          }
          .custom-product-reviews {
            margin-bottom: 0px;
            .i-reviews-stars {
              display: inline-block;
              vertical-align: middle;
              margin-right: 5px;
              .i-icon {
                width: 16px;
                height: 16px;
                vertical-align: top;
                display: inline-block;

                svg {
                  width: 100%;
                  height: 100%;

                  path {
                    fill: #AE5155;
                  }
                }
              }
            }
            span {
              color: var(--Colors-800, var(--Colors-800, #3C1518));
              font-family: var(--Family-Font---Body, Nohemi);
              font-size: var(--Typo-Body-S, 13px);
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
              text-transform: uppercase;
              position: relative;
              top: -3px;
            }
          }
          .product__description {
            margin-top: 0;

            p {
              color: var(--Colors-800, var(--Colors-800, #3C1518));
              font-family: var(--Family-Font---Body, Nohemi);
              font-size: var(--Typo-Body-M, 16px);
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              &:first-of-type {
                margin-top: 6px;
              }
            }
          }
          .suscription-buy-actions {
            .product-form {
              form {
                .product-form__buttons {
                  max-width: 100%;
                  width: 100%;
                  position: relative;
                  padding-top: 65px;

                  .product-form__quantity {
                    border-radius: var(--Corner-Extra-small, 4px);
                    border: var(--Strokes-Medium, 2px) solid #F6F6F6;
                    background: var(--Colors-100, #FAFAFA) !important;
                    display: flex;
                    height: 50px;
                    padding: var(--Space-300, 12px) var(--Space-400, 16px);
                    align-items: center;
                    gap: 25px;
                    width: 110px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    button {
                      cursor: pointer;
                      padding: 0px;
                      border: 0px;
                      background-color: transparent;
                      width: 10px;
                      height: 100%;
                      justify-content: space-evenly;
                      display: flex;
                      align-items: center;
                      svg {
                        width: 100%;
                        height: auto;
                      }
                    }
                    span {
                      color: var(--Colors-800, var(--Colors-800, #3C1518));
                      font-family: var(--Family-Font---Body, Nohemi);
                      font-size: var(--Typo-Body-M, 16px);
                      font-style: normal;
                      font-weight: 400;
                      line-height: 24px;
                    }
                  }
                  .product-form__submit {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 126px;
                    height: 50px;
                    border-radius: var(--Corner-Extra-small, 4px);
                    background: var(--Colors-500, #931E31);
                    border: 0;
                    display: flex;
                    height: var(--Buttons-D-H, 50px);
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    flex: 1 0 0;
                    color: var(--Colors-White, var(--Colors-white, #FFF));
                    font-family: var(--Family-Font---Body, Nohemi);
                    font-size: var(--Typo-Body-M, 16px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                  }
                  .product-form__buttons--payment-cards {
                    text-align: center;
                    margin-top: 26px;
                    margin-bottom: 34px;

                    img {
                      width: 250px;
                      display: block;
                      margin: 0 auto;
                    }
                  }
                }
              }
            }
          }
          .product__accordion {
            details {
              border-bottom: 1px solid var(--Colors-ligth_grey, #CDCDCD);
              padding: 16px;
              cursor: pointer;
              summary {
                padding: 0px;
                .summary__title {
                  h2 {
                    color: var(--Colors-1000, var(--Colors-1000, #000));
                    font-family: var(--Family-Font---Body, Nohemi);
                    font-size: var(--Typo-Body-M, 16px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    margin: 0px;
                  }
                }
                svg {
                  path {
                    fill: #931E31;
                  }
                }
              }
            }
          }
        }
      }

      .product-form__buttons--variant-picker {
        margin-bottom: 20px;
        .picker-label-text {
          border-radius: var(--Corner-Extra-small, 4px);
          border: var(--Strokes-Medium, 2px) solid var(--Colors-100, #FAFAFA);
          background: var(--Colors-100, #FAFAFA);
          display: flex;
          height: 64px;
          padding: var(--Space-600, 24px) var(--Space-800, 32px);
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: var(--Space-600, 24px);
          flex-shrink: 0;
          align-self: stretch;
          color: var(--Colors-1000, var(--Colors-1000, #000));
          font-family: var(--Family-Font---Body, Nohemi);
          font-size: var(--Typo-Body-M, 16px);
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          cursor: pointer;
          position: relative;

          svg {
            position: absolute;
            right: 26px;
            -webkit-transition: all .25s cubic-bezier(.77,0,.175,1);
            -moz-transition: all .25s cubic-bezier(.77,0,.175,1);
            -o-transition: all .25s cubic-bezier(.77,0,.175,1);
            transition: all .25s cubic-bezier(.77,0,.175,1);
          }

          &.active {
            svg {
              transform: rotate(180deg);
            }
          }
        }
        .product-form__input {
          width: 100%;
          max-width: 100%;
          .form__label {
            display: none;
          }
          label {
            border-radius: var(--Corner-Extra-small, 4px);
            border: var(--Strokes-Medium, 2px) solid var(--Colors-100, #FAFAFA);
            background: var(--Colors-100, #FAFAFA);
            display: flex;
            height: 64px;
            padding: var(--Space-600, 24px) var(--Space-800, 32px);
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: var(--Space-600, 24px);
            flex-shrink: 0;
            align-self: stretch;
            color: var(--Colors-1000, var(--Colors-1000, #000));
            font-family: var(--Family-Font---Body, Nohemi);
            font-size: var(--Typo-Body-M, 16px);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            padding-left: 54px;
            display: none;
            text-align: left;

            strong {
              display: none;
            }
          }

          &.active {
            label {
              display: block;
            }
          }
        }
      }
    }
  }

  .related-products {
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 80px;

    .related-products__heading {
      width: 100%;
      text-align: center;
      color: #000;
      font-family: var(--Family-Font, Nohemi);
      font-size: var(--Typo-H2, 39px);
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }

    .product-grid {
      padding: 0;
      display: flex;
      gap: 20px;
      margin-top: 60px;
    }
  }
}