.main-custom-product-card {
  position: relative;
  display: flex;
  height: 480px;
  align-items: center;
  gap: 10px;
  width: 25%;

  @media only screen and (max-width: 1500px) {
    height: 405px;
    font-size: 22px;
  }
  @media only screen and (max-width: 1024px) {
    height: auto;
  }

  &--inner {
    display: flex;
    padding: var(--Space-600, 24px);
    gap: 10px;
    border-radius: var(--Corner-Large, 16px);
    border: var(--Strokes-Small, 1px) solid var(--Colors-ligth_grey, #CDCDCD);
    background: #FFF;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    @media only screen and (max-width: 1500px) {
      padding: 18px;
    }

    &__tag-offer {
      position: absolute;
      top: -24px;
      left: 22px;
      right: 22px;
      border-radius: var(--Corner-Extra-small, 4px) var(--Corner-Extra-small, 4px) 0 0;
      background: var(--Colors-1000, #000);
      color: var(--Colors-1000, var(--Colors-1000, #FFF));
      text-align: center;
      font-family: var(--Family-Font---Body, Nohemi);
      font-size: var(--Typo-Body-M, 16px);
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    .corner-svg {
      position: absolute;
      top: 0px;
      right: 0px;
      display: none !important;
    }

    h3 {
      color: var(--Colors-700, var(--Colors-700, #000));
      font-family: var(--Family-Font, Nohemi);
      font-size: var(--Typo-H3, 28px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0px;
      z-index: 2;
      height: 56px;
      min-height: 56px;

      @media only screen and (max-width: 1500px) {
        font-size: 25px;
        height: auto;
        min-height: auto;
      }

      strong {
        display: block;
      }
    }

    &__desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;

      @media only screen and (max-width: 1500px) {
        gap: 18px;
      }

      ul {
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;

        @media only screen and (max-width: 1500px) {
          height: 215px;
        }

        li {
          list-style: none;
          display: flex;
          width: 100%;
          align-items: center;
          gap: var(--Space-200, 8px);
          color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
          font-family: var(--Family-Font---Body, Nohemi);
          font-size: var(--Typo-Body-M, 16px);
          font-style: normal;
          font-weight: 400;
          line-height: 24px;

          @media only screen and (max-width: 1500px) {
            font-size: 14px;
            line-height: 20px;
          }

          img {
            position: relative;
            top: -1px;
          }
        }
      }
    }
    &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      z-index: 4;
      position: relative;

      & > div {
        color: var(--Colors-1000, var(--Colors-1000, #000));
        font-family: var(--Family-Font, Nohemi);
        font-size: var(--Typo-H3, 25px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media only screen and (max-width: 1500px) {
          font-size: 24px;
        }
        span {
          color: #000;
          font-family: var(--Family-Font---Body, Nohemi);
          font-size: var(--Typo-Body-S, 13px);
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }
      }
      a {
        @media only screen and (max-width: 1500px) {
          padding: 0 12px !important;
        }
        @media only screen and (max-width: 1024px) {
          padding: 0 20px !important;
          line-height: 39px !important;
        }
      }
    }
  }
}