// plugins
@import "./../plugins/slick-carousel/slick/slick.css";
@import "./../plugins/slick-carousel/slick/slick-theme.css";

// Foundations
@import "./base/fonts";
@import "./base/normalize";
@import "./base/animations";

// Components
@import "./components/minicart.scss";

// Sections
@import "./sections/main-header.scss";
@import "./sections/main-footer.scss";
@import "./sections/main-hero.scss";
@import "./sections/main-marqee.scss";
@import "./sections/main-text-seo.scss";
@import "./sections/main-categories.scss";
@import "./sections/main-products-list.scss";
@import "./sections/main-text-image.scss";
@import "./sections/main-simple-banner.scss";
@import "./sections/main-home-blog.scss";
@import "./sections/main-instagram-feed.scss";
@import "./sections/main-faqs.scss";
@import "./sections/main-account.scss";
@import "./sections/main-blog.scss";
@import "./sections/main-reviews.scss";
@import "./sections/main-bundles.scss";
@import "./sections/main-comparer.scss";
@import "./sections/main-keio-x.scss";
@import "./sections/main-energy.scss";

// Pages
@import "./sections/pages";

// Snippets
@import "./sections/snippets";