<div class="master-components-viewer">
  <div class="i-container">
    <h1 class="Family-Font Typo-H1">texto 1</h1>
    <div class="Family-Font---Body Typo-Body-XL Bg-Colors-100">texto 2</div>
  </div>
</div>

{% schema %}
{
  "name": "iUROP components",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "iUROP components"
    }
  ]
}
{% endschema %}
