{{ 'customer.css' | asset_url | stylesheet_tag }}

{% unless customer %}
  <script>
    window.location.href="/account/login?return_url=%2Fpages/soporte"
  </script>
{% endunless %}

<div class="customer account account-global-page custom-account-page support">
  <div>
    <h1 class="customer__title">Mi cuenta</h1>
  </div>

  <div class="flex-block">

    <div class="account-global-page__content">
      <div class="account-global-page__content--sidebar">
        <div class="account-global-page__content--sidebar__links">
          <a href="{{ routes.account_url }}">Mi cuenta</a>
          <a href="{{ routes.account_addresses_url }}">Direcciones</a>
          <a href="/pages/productos-contratados">Productos contratados</a>
          {% comment %} <a href="/pages/invitaciones-keio-x">Keio X</a> {% endcomment %}
          <a href="/pages/soporte" class="last-link active">Soporte</a>
        </div>
        <div class="account-global-page__content--sidebar__close">
          <a href="/account/logout">
            Cerrar sesión
          </a>
        </div>
      </div>
      <div class="account-global-page__content--content">
        <div class="account-global-page__content--content__row">
          <div class="account-global-page__content--content__row--heading">
            <h3>Soporte</h3>
          </div>
          <div class="account-global-page__content--content__row--body">
            <div class="account-global-page__content--content__row--body__content">
              
              <div class="support-content">
                {% comment %} <div class="tag-message">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <mask id="mask0_13049_10139" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                      <rect width="24" height="24" fill="#D9D9D9"/>
                    </mask>
                    <g mask="url(#mask0_13049_10139)">
                      <path d="M12.0003 16.7308C12.2292 16.7308 12.421 16.6534 12.5758 16.4986C12.7307 16.3438 12.8081 16.1519 12.8081 15.9231C12.8081 15.6943 12.7307 15.5024 12.5758 15.3476C12.421 15.1929 12.2292 15.1156 12.0003 15.1156C11.7715 15.1156 11.5797 15.1929 11.4248 15.3476C11.27 15.5024 11.1926 15.6943 11.1926 15.9231C11.1926 16.1519 11.27 16.3438 11.4248 16.4986C11.5797 16.6534 11.7715 16.7308 12.0003 16.7308ZM11.2503 13.0771H12.7503V7.07708H11.2503V13.0771ZM12.0003 22.6078L8.85983 19.5001H4.50033V15.1406L1.39258 12.0001L4.50033 8.85958V4.50008H8.85983L12.0003 1.39233L15.1408 4.50008H19.5003V8.85958L22.6081 12.0001L19.5003 15.1406V19.5001H15.1408L12.0003 22.6078ZM12.0003 20.5001L14.5003 18.0001H18.0003V14.5001L20.5003 12.0001L18.0003 9.50008V6.00008H14.5003L12.0003 3.50008L9.50033 6.00008H6.00033V9.50008L3.50033 12.0001L6.00033 14.5001V18.0001H9.50033L12.0003 20.5001Z" fill="#931E31"/>
                    </g>
                  </svg>
                  <span>
                    El próximo jueves 10 de octubre de 02:00 a 06:00 h realizaremos tareas de mantenimiento en nuestra red para mejorar la calidad del servicio.
                  </span>
                </div> {% endcomment %}

                <p>¿Necesitas ayuda? Puedes contactarnos en cualquier momento. Estamos aquí para resolver tus dudas, acompañarte en la contratación de tu tarifa o escuchar cualquier comentario que quieras hacernos.</p>

                <a href="https://wa.me/34744783516" target="_blank" class="main-custom-button">Soporte WhatsApp</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>

{% schema %}
{
  "name": "custom-account-support",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "presets": [
    {
      "name": "custom-account-support"
    }
  ]
}
{% endschema %}
