<footer class="main-custom-footer custom-section pl pr">
    <div class="main-custom-footer--shape">
      <img src="./images/footer-bg.png" />
    </div>
    <div class="main-custom-footer--logo">
      <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/logo-footer.png?v=1759468410" />
    </div>
    <div class="main-custom-footer--links">
      <nav class="main-custom-footer--links__nav">
        <h2>Contacto</h2>
        <ul>
          <li>
            <a href="/#">Habla con nosotros por Whatsapp</a>
          </li>
          <li>
            <a href="/#">Solicita que tellamemos</a>
          </li>
        </ul>
      </nav>
      <nav class="main-custom-footer--links__nav">
        <h2>Social</h2>
        <ul>
          <li>
            <a href="/#">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path d="M6.01339 2.90625C7.70089 2.90625 9.09375 4.29911 9.09375 5.98661C9.09375 7.70089 7.70089 9.06696 6.01339 9.06696C4.29911 9.06696 2.93304 7.70089 2.93304 5.98661C2.93304 4.29911 4.29911 2.90625 6.01339 2.90625ZM6.01339 7.99554C7.11161 7.99554 7.99554 7.11161 7.99554 5.98661C7.99554 4.88839 7.11161 4.00446 6.01339 4.00446C4.88839 4.00446 4.00446 4.88839 4.00446 5.98661C4.00446 7.11161 4.91518 7.99554 6.01339 7.99554ZM9.92411 2.79911C9.92411 3.20089 9.60268 3.52232 9.20089 3.52232C8.79911 3.52232 8.47768 3.20089 8.47768 2.79911C8.47768 2.39732 8.79911 2.07589 9.20089 2.07589C9.60268 2.07589 9.92411 2.39732 9.92411 2.79911ZM11.9598 3.52232C12.0134 4.51339 12.0134 7.48661 11.9598 8.47768C11.9062 9.44196 11.692 10.2723 10.9955 10.9955C10.2991 11.692 9.44196 11.9062 8.47768 11.9598C7.48661 12.0134 4.51339 12.0134 3.52232 11.9598C2.55804 11.9062 1.72768 11.692 1.00446 10.9955C0.308036 10.2723 0.09375 9.44196 0.0401786 8.47768C-0.0133929 7.48661 -0.0133929 4.51339 0.0401786 3.52232C0.09375 2.55804 0.308036 1.70089 1.00446 1.00446C1.72768 0.308036 2.55804 0.09375 3.52232 0.0401786C4.51339 -0.0133929 7.48661 -0.0133929 8.47768 0.0401786C9.44196 0.09375 10.2991 0.308036 10.9955 1.00446C11.692 1.70089 11.9062 2.55804 11.9598 3.52232ZM10.6741 9.52232C10.9955 8.74554 10.9152 6.87054 10.9152 5.98661C10.9152 5.12946 10.9955 3.25446 10.6741 2.45089C10.4598 1.94196 10.058 1.51339 9.54911 1.32589C8.74554 1.00446 6.87054 1.08482 6.01339 1.08482C5.12946 1.08482 3.25446 1.00446 2.47768 1.32589C1.94196 1.54018 1.54018 1.94196 1.32589 2.45089C1.00446 3.25446 1.08482 5.12946 1.08482 5.98661C1.08482 6.87054 1.00446 8.74554 1.32589 9.52232C1.54018 10.058 1.94196 10.4598 2.47768 10.6741C3.25446 10.9955 5.12946 10.9152 6.01339 10.9152C6.87054 10.9152 8.74554 10.9955 9.54911 10.6741C10.058 10.4598 10.4866 10.058 10.6741 9.52232Z" fill="white"/>
              </svg>
              Instagram
            </a>
          </li>
          <li>
            <a href="/#">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none">
                <path d="M11.7367 1.27083C12 2.14583 12 4.02083 12 4.02083C12 4.02083 12 5.875 11.7367 6.77083C11.6051 7.27083 11.1883 7.64583 10.6837 7.77083C9.7404 8 6.01097 8 6.01097 8C6.01097 8 2.2596 8 1.31627 7.77083C0.8117 7.64583 0.394881 7.27083 0.263254 6.77083C0 5.875 0 4.02083 0 4.02083C0 4.02083 0 2.14583 0.263254 1.27083C0.394881 0.770833 0.8117 0.375 1.31627 0.25C2.2596 0 6.01097 0 6.01097 0C6.01097 0 9.7404 0 10.6837 0.25C11.1883 0.375 11.6051 0.770833 11.7367 1.27083ZM4.78245 5.70833L7.89762 4.02083L4.78245 2.33333V5.70833Z" fill="white"/>
              </svg>
              Youtube
            </a>
          </li>
          <li>
            <a href="/#">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path d="M12 6.03651C12 9.05477 9.79839 11.5619 6.91935 12V7.78905H8.32258L8.58871 6.03651H6.91935V4.91684C6.91935 4.43002 7.16129 3.96755 7.91129 3.96755H8.66129V2.48276C8.66129 2.48276 7.98387 2.36105 7.30645 2.36105C5.95161 2.36105 5.05645 3.21298 5.05645 4.72211V6.03651H3.53226V7.78905H5.05645V12C2.17742 11.5619 0 9.05477 0 6.03651C0 2.70183 2.68548 0 6 0C9.31452 0 12 2.70183 12 6.03651Z" fill="white"/>
              </svg>
              Facebook
            </a>
          </li>
          <li>
            <a href="/#">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" fill="none">
                <path d="M13.4736 2.97831C13.4736 3.12289 13.4736 3.23855 13.4736 3.38313C13.4736 7.40241 10.3914 12 4.72603 12C2.96477 12 1.35029 11.5084 0 10.641C0.234834 10.6699 0.469667 10.6988 0.733855 10.6988C2.17221 10.6988 3.49315 10.2072 4.5499 9.39759C3.19961 9.36867 2.05479 8.5012 1.67319 7.28675C1.87867 7.31566 2.05479 7.34458 2.26027 7.34458C2.52446 7.34458 2.818 7.28675 3.05284 7.22892C1.64384 6.93976 0.587084 5.7253 0.587084 4.2506V4.22169C0.998043 4.45301 1.49706 4.56867 1.99609 4.59759C1.14481 4.04819 0.616438 3.12289 0.616438 2.08193C0.616438 1.50361 0.763209 0.983133 1.0274 0.549398C2.55382 2.37108 4.84344 3.58554 7.39726 3.73012C7.33855 3.4988 7.3092 3.26747 7.3092 3.03614C7.3092 1.35904 8.68885 0 10.3914 0C11.272 0 12.0646 0.346988 12.6517 0.954217C13.3268 0.809639 14.002 0.549398 14.589 0.20241C14.3542 0.925301 13.8845 1.50361 13.2387 1.87952C13.8552 1.82169 14.4716 1.64819 15 1.41687C14.589 2.0241 14.0607 2.54458 13.4736 2.97831Z" fill="white"/>
              </svg>
              Twitter
            </a>
          </li>
        </ul>
      </nav>
      <nav class="main-custom-footer--links__nav">
        <h2>Atención al cliente</h2>
        <ul>
          <li>
            <a href="/#">Política de Privacidad</a>
          </li>
          <li>
            <a href="/#">Aviso Legal</a>
          </li>
          <li>
            <a href="/#">Política de Cookies</a>
          </li>
          <li>
            <a href="/#">Condiciones</a>
          </li>
          <li>
            <a href="/#">Calidad en Servicio</a>
          </li>
          <li>
            <a href="/#">Desestimador</a>
          </li>
        </ul>
      </nav>
      <nav class="main-custom-footer--links__nav">
        <h2>Secciones destacadas</h2>
        <ul>
          <li>
            <a href="/#">Afiliados</a>
          </li>
          <li>
            <a href="/pages/keio-x">Keio x Kings League</a>
          </li>
          <li>
            <a href="/#">Embajadores</a>
          </li>
        </ul>
      </nav>
      <nav class="main-custom-footer--links__nav">
        <h2>Mi Keio</h2>
        <ul>
          <li>
            <a href="/#">
              <svg xmlns="http://www.w3.org/2000/svg" width="109" height="33" viewBox="0 0 109 33" fill="none">
                <path d="M105.444 0.5H2.26327C1.28944 0.5 0.5 1.29594 0.5 2.27778V29.8333C0.5 30.8152 1.28944 31.6111 2.26327 31.6111H105.444C106.418 31.6111 107.208 30.8152 107.208 29.8333V2.27778C107.208 1.29594 106.418 0.5 105.444 0.5Z" stroke="white"/>
                <path d="M38.682 8.43607C38.682 9.04842 38.5302 9.58424 38.1506 9.96696C37.695 10.4262 37.1636 10.6558 36.4804 10.6558C35.7971 10.6558 35.2657 10.4262 34.8102 9.96696C34.3547 9.50767 34.1269 8.97189 34.1269 8.283C34.1269 7.59411 34.3547 7.05833 34.8102 6.59905C35.2657 6.1398 35.7971 5.91016 36.4804 5.91016C36.784 5.91016 37.0877 5.98669 37.3914 6.1398C37.695 6.29287 37.9228 6.44598 38.0746 6.67558L37.695 7.05829C37.3914 6.67558 37.0118 6.52251 36.4804 6.52251C36.0248 6.52251 35.5693 6.67558 35.2657 7.05829C34.8861 7.36447 34.7342 7.82376 34.7342 8.35953C34.7342 8.89536 34.8861 9.3546 35.2657 9.66078C35.6452 9.96696 36.0248 10.1966 36.4804 10.1966C37.0118 10.1966 37.3914 10.0435 37.771 9.66078C37.9987 9.43113 38.1506 9.12496 38.1506 8.74224H36.4804V8.20647H38.682C38.682 8.20647 38.682 8.283 38.682 8.43607Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
                <path d="M42.1746 6.52251H40.1248V7.97682H42.0227V8.51265H40.1248V9.96696H42.1746V10.5027H39.5175V5.91016H42.1746V6.52251Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
                <path d="M44.68 10.5027H44.0724V6.44598H42.7818V5.91016H45.9702V6.44598H44.68V10.5027Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
                <path d="M48.1721 10.5027V5.91016H48.7791V10.5027H48.1721Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
                <path d="M51.3605 10.5027H50.7535V6.44598H49.4628V5.91016H52.5754V6.44598H51.2847V10.5027H51.3605Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
                <path d="M58.5727 9.96696C58.1174 10.4262 57.5857 10.6558 56.9025 10.6558C56.2192 10.6558 55.688 10.4262 55.2322 9.96696C54.7769 9.50767 54.549 8.97189 54.549 8.283C54.549 7.59411 54.7769 7.05833 55.2322 6.59905C55.688 6.1398 56.2192 5.91016 56.9025 5.91016C57.5857 5.91016 58.1174 6.1398 58.5727 6.59905C59.0281 7.05833 59.256 7.59411 59.256 8.283C59.256 8.89536 59.0281 9.50767 58.5727 9.96696ZM55.688 9.58425C55.9917 9.89042 56.4471 10.12 56.9025 10.12C57.3583 10.12 57.8136 9.96696 58.1174 9.58425C58.4211 9.27807 58.6485 8.81882 58.6485 8.283C58.6485 7.74718 58.4969 7.28793 58.1174 6.98176C57.8136 6.67558 57.3583 6.44598 56.9025 6.44598C56.4471 6.44598 55.9917 6.59904 55.688 6.98176C55.3843 7.28793 55.1564 7.74718 55.1564 8.283C55.1564 8.74225 55.3085 9.20153 55.688 9.58425Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
                <path d="M60.0913 10.5027V5.91016H60.7746L62.976 9.50767V8.58918V5.91016H63.5835V10.5027H62.976L60.6225 6.75216V7.67065V10.5027H60.0913Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
                <path d="M54.3968 17.2381C52.5749 17.2381 51.1326 18.6159 51.1326 20.5295C51.1326 22.3665 52.5749 23.8208 54.3968 23.8208C56.2187 23.8208 57.6615 22.4431 57.6615 20.5295C57.6615 18.6159 56.2187 17.2381 54.3968 17.2381ZM54.3968 22.4431C53.4099 22.4431 52.5749 21.6011 52.5749 20.453C52.5749 19.3048 53.4099 18.4628 54.3968 18.4628C55.3838 18.4628 56.2187 19.2283 56.2187 20.453C56.2187 21.6776 55.3838 22.4431 54.3968 22.4431ZM47.3363 17.2381C45.5144 17.2381 44.072 18.6159 44.072 20.5295C44.072 22.3665 45.5144 23.8208 47.3363 23.8208C49.1586 23.8208 50.601 22.4431 50.601 20.5295C50.601 18.6159 49.1586 17.2381 47.3363 17.2381ZM47.3363 22.4431C46.3497 22.4431 45.5144 21.6011 45.5144 20.453C45.5144 19.3048 46.3497 18.4628 47.3363 18.4628C48.3233 18.4628 49.1586 19.2283 49.1586 20.453C49.1586 21.6776 48.3233 22.4431 47.3363 22.4431ZM38.9096 18.2332V19.611H42.174C42.0981 20.3764 41.7944 20.9888 41.4148 21.3715C40.9594 21.8307 40.2001 22.3665 38.9096 22.3665C36.8598 22.3665 35.3414 20.7591 35.3414 18.6925C35.3414 16.6258 36.9357 15.0184 38.9096 15.0184C39.9724 15.0184 40.8075 15.4776 41.4148 16.0135L42.4018 15.0184C41.5667 14.253 40.5038 13.6406 38.9855 13.6406C36.2524 13.6406 33.8989 15.9369 33.8989 18.6925C33.8989 21.448 36.2524 23.7443 38.9855 23.7443C40.5038 23.7443 41.5667 23.2851 42.4777 22.29C43.3887 21.3715 43.6924 20.0702 43.6924 19.0752C43.6924 18.769 43.6924 18.4628 43.6165 18.2332H38.9096ZM73.3766 19.3048C73.0729 18.5394 72.3134 17.2381 70.6436 17.2381C68.9733 17.2381 67.6068 18.5394 67.6068 20.5295C67.6068 22.3665 68.9733 23.8208 70.7952 23.8208C72.2376 23.8208 73.1487 22.9024 73.4525 22.3665L72.3896 21.6011C72.0101 22.1369 71.5543 22.5196 70.7952 22.5196C70.0361 22.5196 69.5803 22.2135 69.2008 21.5246L73.5283 19.6875L73.3766 19.3048ZM68.9733 20.3764C68.9733 19.1517 69.9603 18.4628 70.6436 18.4628C71.1748 18.4628 71.7064 18.769 71.858 19.1517L68.9733 20.3764ZM65.4049 23.5147H66.8473V13.9468H65.4049V23.5147ZM63.1277 17.927C62.7477 17.5443 62.1407 17.1616 61.3811 17.1616C59.7871 17.1616 58.2685 18.6159 58.2685 20.453C58.2685 22.29 59.7113 23.6678 61.3811 23.6678C62.1407 23.6678 62.7477 23.2851 63.0514 22.9024H63.1277V23.3616C63.1277 24.5863 62.4444 25.2752 61.3811 25.2752C60.5462 25.2752 59.9388 24.6628 59.7871 24.127L58.5723 24.6628C58.9518 25.5048 59.863 26.5764 61.4574 26.5764C63.1277 26.5764 64.4942 25.5813 64.4942 23.2085V17.3912H63.1277V17.927ZM61.4574 22.4431C60.4704 22.4431 59.6351 21.6011 59.6351 20.453C59.6351 19.3048 60.4704 18.4628 61.4574 18.4628C62.4444 18.4628 63.2035 19.3048 63.2035 20.453C63.2035 21.6011 62.4444 22.4431 61.4574 22.4431ZM79.9814 13.9468H76.5651V23.5147H78.0074V19.9172H79.9814C81.5754 19.9172 83.094 18.769 83.094 16.932C83.094 15.0949 81.5754 13.9468 79.9814 13.9468ZM80.0572 18.6159H78.0074V15.3246H80.0572C81.12 15.3246 81.7275 16.2431 81.7275 16.932C81.6516 17.6974 81.0442 18.6159 80.0572 18.6159ZM88.788 17.2381C87.7248 17.2381 86.662 17.6974 86.2824 18.6925L87.5731 19.2283C87.8768 18.6925 88.3322 18.5394 88.8638 18.5394C89.6229 18.5394 90.3062 18.9987 90.382 19.7641V19.8406C90.1545 19.6875 89.5471 19.4579 88.9397 19.4579C87.5731 19.4579 86.2066 20.2233 86.2066 21.6011C86.2066 22.9024 87.3452 23.7443 88.5601 23.7443C89.5471 23.7443 90.0025 23.2851 90.382 22.8258H90.4578V23.5912H91.8244V19.9172C91.6727 18.1567 90.382 17.2381 88.788 17.2381ZM88.6359 22.4431C88.1806 22.4431 87.4973 22.2135 87.4973 21.6011C87.4973 20.8357 88.3322 20.606 89.0155 20.606C89.6229 20.606 89.9266 20.7592 90.3062 20.9122C90.1545 21.8308 89.395 22.4431 88.6359 22.4431ZM96.6072 17.3912L95.0132 21.5246H94.9374L93.2671 17.3912H91.7485L94.2541 23.2085L92.8113 26.4233H94.2541L98.1258 17.3912H96.6072ZM83.8531 23.5147H85.2954V13.9468H83.8531V23.5147Z" fill="white"/>
                <path d="M10.2126 25.4282C9.90896 25.2752 9.75714 24.8925 9.75714 24.5098C9.75714 24.4332 9.75714 24.2801 9.75714 24.2036C9.75714 18.5394 9.75714 12.8752 9.75714 7.28753C9.75714 6.98135 9.83305 6.75175 9.90896 6.44557C9.98491 6.29246 10.1367 6.13939 10.2886 5.98633C13.5531 9.27766 16.7416 12.569 19.9302 15.8604C16.6657 18.9221 13.4771 22.1369 10.2126 25.4282Z" fill="white"/>
                <path d="M23.1186 12.4927C22.2076 13.4113 21.2207 14.3298 20.3097 15.3248C17.2729 12.1866 14.1603 9.0483 11.1235 5.91003C11.1235 5.91003 11.1235 5.8335 11.1994 5.8335C15.1472 8.05323 19.0949 10.273 23.1186 12.4927Z" fill="white"/>
                <path d="M11.1235 25.4283C14.1603 22.3666 17.2729 19.3049 20.3097 16.2432C21.1447 17.0851 22.0558 17.9271 23.0427 18.8456C19.0949 21.0654 15.1472 23.2851 11.1994 25.4283H11.1235Z" fill="white"/>
                <path d="M23.5744 18.5395C22.5874 17.6211 21.6765 16.7025 20.6895 15.784C21.6765 14.789 22.6634 13.7939 23.6503 12.7988C23.954 12.9519 24.2577 13.105 24.5613 13.3346C25.3205 13.7939 26.1556 14.1766 26.9148 14.6359C27.1426 14.7124 27.2944 14.8655 27.4462 15.0951C27.7499 15.4778 27.7499 15.8606 27.4462 16.2433C27.2944 16.3963 27.1426 16.5495 26.9148 16.626C25.852 17.3149 24.7132 17.9272 23.5744 18.5395Z" fill="white"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="/#">
              <svg xmlns="http://www.w3.org/2000/svg" width="109" height="33" viewBox="0 0 109 33" fill="none">
                <path d="M105.444 0.5H2.26327C1.28944 0.5 0.5 1.29594 0.5 2.27778V29.8333C0.5 30.8152 1.28944 31.6111 2.26327 31.6111H105.444C106.418 31.6111 107.208 30.8152 107.208 29.8333V2.27778C107.208 1.29594 106.418 0.5 105.444 0.5Z" stroke="white"/>
                <path d="M25.5406 15.3076C25.5202 12.8466 27.5399 11.647 27.6339 11.5934C26.4891 9.91158 24.7147 9.68074 24.0891 9.66425C22.5968 9.50762 21.1536 10.5629 20.3931 10.5629C19.6204 10.5629 18.451 9.68074 17.1877 9.70549C15.5645 9.7302 14.0476 10.6783 13.2177 12.1458C11.5005 15.1427 12.7802 19.5452 14.4279 21.969C15.2497 23.1562 16.2105 24.4795 17.4698 24.4341C18.7004 24.3846 19.1624 23.6426 20.6466 23.6426C22.1185 23.6426 22.5518 24.4341 23.8357 24.4053C25.1563 24.3846 25.9903 23.2139 26.7835 22.0185C27.7361 20.6582 28.1164 19.3185 28.1327 19.2525C28.1 19.2319 25.5651 18.255 25.5406 15.3076ZM23.1161 8.06896C23.7784 7.23216 24.2322 6.09856 24.1055 4.94434C23.1488 4.98554 21.9467 5.61211 21.2598 6.42834C20.6507 7.14971 20.1028 8.32865 20.2459 9.43754C21.3171 9.51585 22.4251 8.88927 23.1161 8.06896Z" fill="white"/>
                <path d="M43.3747 24.2571H41.6535L40.709 21.2726H37.4341L36.5346 24.2571H34.8583L38.1046 14.0917H40.108L43.3747 24.2571ZM40.4269 20.0194L39.5724 17.3648C39.4824 17.0927 39.3107 16.4538 39.0654 15.4479H39.0368C38.9387 15.8808 38.7751 16.5197 38.5584 17.3648L37.7203 20.0194H40.4269ZM51.7074 20.5018C51.7074 21.7467 51.372 22.7319 50.7015 23.4574C50.1002 24.1005 49.3521 24.422 48.4608 24.422C47.4959 24.422 46.8051 24.0757 46.3841 23.3832V27.2292H44.769V19.3352C44.769 18.552 44.7487 17.7481 44.7077 16.9278H46.1302L46.2206 18.0903H46.2488C46.7888 17.2164 47.6065 16.7753 48.7019 16.7753C49.5606 16.7753 50.2761 17.1174 50.8487 17.8017C51.4209 18.486 51.7074 19.3888 51.7074 20.5018ZM50.0636 20.5636C50.0636 19.8505 49.904 19.261 49.5853 18.7993C49.2375 18.317 48.7676 18.0779 48.1787 18.0779C47.7824 18.0779 47.4183 18.2139 47.0952 18.4778C46.7725 18.7457 46.5596 19.0961 46.4617 19.5248C46.4167 19.6856 46.3921 19.8546 46.3881 20.0194V21.2438C46.3881 21.7755 46.5516 22.2248 46.8748 22.5958C47.1974 22.9627 47.6189 23.1482 48.1377 23.1482C48.7469 23.1482 49.2212 22.9091 49.5606 22.4392C49.8917 21.961 50.0636 21.3386 50.0636 20.5636ZM60.0724 20.5018C60.0724 21.7467 59.7373 22.7319 59.0664 23.4574C58.4656 24.1005 57.7175 24.422 56.8262 24.422C55.8612 24.422 55.17 24.0757 54.7491 23.3832V27.2292H53.1339V19.3352C53.1339 18.552 53.1136 17.7481 53.0726 16.9278H54.4956L54.5855 18.0903H54.6142C55.1537 17.2164 55.9714 16.7753 57.0673 16.7753C57.926 16.7753 58.6415 17.1174 59.2136 17.8017C59.7823 18.486 60.0724 19.3888 60.0724 20.5018ZM58.4246 20.5636C58.4246 19.8505 58.2654 19.261 57.9463 18.7993C57.5989 18.317 57.1286 18.0779 56.5401 18.0779C56.1434 18.0779 55.7792 18.2139 55.4522 18.4778C55.1295 18.7457 54.9166 19.0961 54.8187 19.5248C54.7693 19.7268 54.7411 19.8917 54.7411 20.0194V21.2438C54.7411 21.7755 54.9047 22.2248 55.2273 22.5958C55.5505 22.9627 55.9714 23.1482 56.4951 23.1482C57.1039 23.1482 57.5782 22.9091 57.9176 22.4392C58.2571 21.961 58.4246 21.3386 58.4246 20.5636ZM69.4229 21.4086C69.4229 22.2743 69.1245 22.9792 68.5277 23.5192C67.8735 24.1128 66.9535 24.4096 65.78 24.4096C64.6965 24.4096 63.8259 24.1994 63.1673 23.7748L63.5394 22.4186C64.2469 22.8432 65.0276 23.0534 65.8739 23.0534C66.4831 23.0534 66.9575 22.9133 67.2969 22.637C67.6363 22.3609 67.8078 21.9899 67.8078 21.5282C67.8078 21.116 67.665 20.7697 67.3868 20.4853C67.1087 20.205 66.6467 19.9411 65.9969 19.7021C64.2306 19.0384 63.3472 18.0655 63.3472 16.7918C63.3472 15.9591 63.658 15.2748 64.2835 14.743C64.905 14.2113 65.7311 13.9434 66.7613 13.9434C67.6773 13.9434 68.4417 14.1041 69.0509 14.4256L68.6462 15.753C68.0736 15.4397 67.4318 15.2872 66.708 15.2872C66.1397 15.2872 65.6901 15.4273 65.371 15.7076C65.1012 15.9591 64.9663 16.2642 64.9663 16.6269C64.9663 17.0267 65.1219 17.3606 65.4327 17.6203C65.7025 17.8594 66.1887 18.1233 66.8962 18.4036C67.7628 18.7581 68.4007 19.1662 68.8098 19.6402C69.2184 20.1143 69.4229 20.7038 69.4229 21.4086ZM74.7789 18.1521H72.9962V21.7096C72.9962 22.6165 73.311 23.0658 73.9409 23.0658C74.2309 23.0658 74.4681 23.041 74.6603 22.9916L74.7052 24.2282C74.3865 24.3478 73.9695 24.4096 73.4502 24.4096C72.8124 24.4096 72.3134 24.2118 71.9537 23.8202C71.594 23.4285 71.4141 22.769 71.4141 21.8456V18.1521H70.3553V16.9319H71.4141V15.5881L73.0006 15.1058V16.9319H74.7828L74.7789 18.1521ZM82.7964 20.5347C82.7964 21.6601 82.4777 22.5876 81.8399 23.309C81.1733 24.0551 80.2864 24.4261 79.1782 24.4261C78.111 24.4261 77.2607 24.0675 76.6268 23.3585C75.9933 22.6453 75.6786 21.7426 75.6786 20.6584C75.6786 19.5207 76.0057 18.5932 76.6598 17.8677C77.314 17.1422 78.193 16.7835 79.3008 16.7835C80.368 16.7835 81.2267 17.1422 81.8725 17.8553C82.4857 18.5437 82.7964 19.4382 82.7964 20.5347ZM81.1205 20.5718C81.1205 19.8999 80.9772 19.3228 80.6867 18.8446C80.3477 18.2634 79.865 17.9707 79.2355 17.9707C78.5893 17.9707 78.0907 18.2634 77.7553 18.8446C77.4652 19.3269 77.3219 19.9123 77.3219 20.6048C77.3219 21.2767 77.4652 21.8538 77.7553 22.3362C78.1031 22.9174 78.5937 23.2101 79.2232 23.2101C79.8408 23.2101 80.323 22.9133 80.6748 22.3238C80.9732 21.825 81.1205 21.2438 81.1205 20.5718ZM88.0505 18.3623C87.8826 18.3335 87.7111 18.317 87.5392 18.317C86.971 18.317 86.5337 18.5314 86.2229 18.9642C85.9531 19.3475 85.8182 19.8298 85.8182 20.4111V24.2571H84.2031V19.2362C84.2031 18.4654 84.1907 17.6986 84.1581 16.9278H85.5648L85.6216 18.3294H85.6666C85.8385 17.847 86.1043 17.4596 86.4764 17.1669C86.8114 16.9113 87.2244 16.7753 87.6454 16.7753C87.7971 16.7753 87.9275 16.7877 88.0505 16.8042V18.3623ZM95.2751 20.2462C95.279 20.4935 95.2583 20.7409 95.2178 20.9841H90.3688C90.3851 21.7096 90.6222 22.2619 91.0719 22.6453C91.4805 22.9874 92.0082 23.1565 92.6584 23.1565C93.3778 23.1565 94.032 23.041 94.6209 22.8102L94.8744 23.9397C94.1871 24.2406 93.3738 24.3931 92.4375 24.3931C91.309 24.3931 90.4256 24.0592 89.7799 23.3914C89.138 22.7236 88.8149 21.825 88.8149 20.6996C88.8149 19.5949 89.1133 18.6756 89.7146 17.9419C90.3401 17.1586 91.1905 16.767 92.2577 16.767C93.3042 16.767 94.0972 17.1586 94.6372 17.9419C95.0582 18.5643 95.2751 19.331 95.2751 20.2462ZM93.7335 19.8257C93.7459 19.3434 93.6396 18.9271 93.4188 18.5726C93.1406 18.1191 92.7073 17.8924 92.1307 17.8924C91.6035 17.8924 91.1741 18.115 90.8427 18.5561C90.5729 18.9065 90.4137 19.331 90.3644 19.8216L93.7335 19.8257Z" fill="white"/>
                <path d="M36.968 10.5014C36.5183 10.5014 36.1299 10.4808 35.8068 10.4437V5.52588C36.2607 5.4558 36.7186 5.41868 37.1765 5.42282C39.0286 5.42282 39.8831 6.34206 39.8831 7.83842C39.879 9.56562 38.8733 10.5014 36.968 10.5014ZM37.2419 6.05353C36.9925 6.05353 36.7799 6.07002 36.6041 6.10708V9.84184C36.6982 9.85833 36.8821 9.86242 37.1397 9.86242C38.354 9.86242 39.045 9.1658 39.045 7.86317C39.0409 6.6966 38.4154 6.05353 37.2419 6.05353ZM42.5407 10.5385C41.4981 10.5385 40.8194 9.75113 40.8194 8.68348C40.8194 7.57046 41.5104 6.77904 42.598 6.77904C43.6282 6.77904 44.3193 7.52926 44.3193 8.62575C44.3193 9.75113 43.6078 10.5385 42.5407 10.5385ZM42.5693 7.36437C41.9969 7.36437 41.629 7.90437 41.629 8.66286C41.629 9.40486 42.0051 9.94486 42.5611 9.94486C43.1213 9.94486 43.4933 9.36775 43.4933 8.64637C43.4974 7.91264 43.1294 7.36437 42.5693 7.36437ZM50.2721 6.85322L49.156 10.456H48.4282L47.9662 8.89371C47.8516 8.51033 47.7537 8.12286 47.6801 7.73126H47.6638C47.6065 8.12286 47.4959 8.5186 47.3773 8.89371L46.8867 10.456H46.1509L45.1 6.85322H45.9177L46.3224 8.56393C46.4167 8.97202 46.4983 9.3554 46.564 9.72228H46.5803C46.6376 9.41722 46.7355 9.04211 46.8748 8.5722L47.3817 6.85322H48.0275L48.5141 8.53508C48.6327 8.94317 48.7266 9.34304 48.8002 9.72228H48.8205C48.8739 9.35126 48.9514 8.95966 49.0621 8.53508L49.4954 6.85322H50.2721ZM54.3893 10.456H53.5963V8.38668C53.5963 7.74775 53.3548 7.43033 52.8765 7.43033C52.4066 7.43033 52.0834 7.83842 52.0834 8.31246V10.456H51.2904V7.88375C51.2904 7.56637 51.282 7.22424 51.2618 6.85322H51.9609L51.9975 7.40971H52.0178C52.2307 7.02637 52.664 6.77904 53.1507 6.77904C53.8987 6.77904 54.3933 7.35615 54.3933 8.30011L54.3893 10.456ZM56.5767 10.456H55.7836V5.2002H56.5767V10.456ZM59.4755 10.5385C58.433 10.5385 57.7541 9.75113 57.7541 8.68348C57.7541 7.57046 58.4453 6.77904 59.5328 6.77904C60.563 6.77904 61.2542 7.52926 61.2542 8.62575C61.2542 9.75113 60.5387 10.5385 59.4755 10.5385ZM59.5041 7.36437C58.9315 7.36437 58.5639 7.90437 58.5639 8.66286C58.5639 9.40486 58.9399 9.94486 59.4958 9.94486C60.056 9.94486 60.4281 9.36775 60.4281 8.64637C60.4281 7.91264 60.0644 7.36437 59.5041 7.36437ZM64.3857 10.456L64.3284 10.0397H64.3082C64.067 10.3736 63.7113 10.5343 63.2617 10.5343C62.6194 10.5343 62.1658 10.0809 62.1658 9.47495C62.1658 8.58455 62.9302 8.12699 64.2548 8.12699V8.06104C64.2548 7.58695 64.0058 7.34788 63.5151 7.34788C63.1634 7.34788 62.8526 7.4386 62.5828 7.61584L62.4232 7.0882C62.7547 6.88206 63.1673 6.77491 63.65 6.77491C64.5819 6.77491 65.0562 7.26957 65.0562 8.26299V9.59037C65.0562 9.95313 65.0725 10.2375 65.1096 10.4519L64.3857 10.456ZM64.2755 8.66286C63.3921 8.66286 62.9509 8.87722 62.9509 9.38837C62.9509 9.76762 63.1797 9.95313 63.4944 9.95313C63.8995 9.95313 64.2755 9.64393 64.2755 9.21935V8.66286ZM68.9037 10.456L68.8671 9.87891H68.8464C68.6176 10.3159 68.2332 10.5385 67.6976 10.5385C66.8349 10.5385 66.1971 9.77588 66.1971 8.69997C66.1971 7.57459 66.8596 6.77904 67.7628 6.77904C68.2416 6.77904 68.5805 6.9398 68.7688 7.26957H68.7851V5.2002H69.5781V9.48317C69.5781 9.82944 69.5865 10.1592 69.6068 10.4519H68.9037V10.456ZM68.7891 8.33722C68.7891 7.83428 68.458 7.40148 67.9511 7.40148C67.3621 7.40148 67.0024 7.92913 67.0024 8.667C67.0024 9.39251 67.3745 9.89131 67.9348 9.89131C68.4333 9.89131 68.7891 9.45433 68.7891 8.93495V8.33722ZM74.6237 10.5385C73.5812 10.5385 72.9023 9.75113 72.9023 8.68348C72.9023 7.57046 73.5931 6.77904 74.681 6.77904C75.7112 6.77904 76.402 7.52926 76.402 8.62575C76.402 9.75113 75.6909 10.5385 74.6237 10.5385ZM74.6524 7.36437C74.0797 7.36437 73.7117 7.90437 73.7117 8.66286C73.7117 9.40486 74.0881 9.94486 74.644 9.94486C75.2043 9.94486 75.5763 9.36775 75.5763 8.64637C75.5803 7.91264 75.2122 7.36437 74.6524 7.36437ZM80.6748 10.456H79.8813V8.38668C79.8813 7.74775 79.6402 7.43033 79.1619 7.43033C78.6916 7.43033 78.3689 7.83842 78.3689 8.31246V10.456H77.5754V7.88375C77.5754 7.56637 77.5675 7.22424 77.5467 6.85322H78.2459L78.2829 7.40971H78.3032C78.5161 7.02637 78.9494 6.77904 79.4356 6.77904C80.1842 6.77904 80.6787 7.35615 80.6787 8.30011V10.456H80.6748ZM86.0144 7.45504H85.1394V9.20286C85.1394 9.64806 85.2906 9.87068 85.6013 9.87068C85.7402 9.87068 85.8588 9.85419 85.9531 9.83357L85.9734 10.4395C85.8182 10.4973 85.6137 10.5302 85.3563 10.5302C84.7303 10.5302 84.3543 10.184 84.3543 9.26882V7.45095H83.831V6.84908H84.3543V6.18953L85.1354 5.95046V6.84908H86.0104L86.0144 7.45504ZM90.2215 10.456H89.4281V8.40317C89.4281 7.76011 89.1869 7.43446 88.7087 7.43446C88.2956 7.43446 87.9156 7.71477 87.9156 8.28775V10.4602H87.1222V5.2002H87.9156V7.36437H87.9319C88.1814 6.97277 88.5451 6.77904 89.0071 6.77904C89.7635 6.77904 90.2255 7.3726 90.2255 8.31246L90.2215 10.456ZM94.5266 8.84837H92.1431C92.1594 9.52855 92.605 9.91602 93.2676 9.91602C93.6189 9.91602 93.946 9.85833 94.2321 9.74699L94.3551 10.3035C94.0157 10.4519 93.6189 10.5261 93.1569 10.5261C92.0408 10.5261 91.3787 9.81295 91.3787 8.71233C91.3787 7.60757 92.0571 6.77904 93.067 6.77904C93.9786 6.77904 94.5512 7.45917 94.5512 8.48975C94.5592 8.60517 94.5512 8.72882 94.5266 8.84837ZM93.7988 8.2754C93.7988 7.71886 93.521 7.32726 93.0141 7.32726C92.5561 7.32726 92.1964 7.72713 92.147 8.2754H93.7988Z" fill="white"/>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="main-custom-footer--links__nav">
        <h2>Área de clientes</h2>
        <ul>
          <li>
            <a href="/#">Mi Cuenta</a>
          </li>
        </ul>
      </nav>
      <nav class="main-custom-footer--links__nav">
        <h2>
          <a href="/#">Faq</a>
        </h2>
      </nav>
    </div>
  </footer>

{% schema %}
{
  "name": "Footer",
  "class": "section-footer i-section section-i-footer",
  "max_blocks": 2,
  "settings": [
    {
      "type": "header",
      "content": "Estructura"
    },
    {
      "type": "image_picker",
      "id": "logo_footer",
      "label": "Logo Footer"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "Footer menus",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Menu",
          "label": "Nombre del menu"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu footer",
        }
      ]
    },
  ]
}
{% endschema %}
