<footer class="main-custom-footer custom-section pl pr">
    <div class="main-custom-footer--shape">
      <img src="./images/footer-bg.png" />
    </div>
    <div class="main-custom-footer--logo">
      <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/logo-footer.png?v=1759468410" />
    </div>
    <div class="main-custom-footer--links">
      <nav class="main-custom-footer--links__nav">
        <h2>Contacto</h2>
        <ul>
          <li>
            <a href="/#">contacto@keio.es</a>
          </li>
          <li>
            <a href="/#">911 98 75 23</a>
          </li>
          <li>
            <a href="/#">¿Te llamamos?</a>
          </li>
        </ul>
      </nav>
      <nav class="main-custom-footer--links__nav">
        <h2>Social</h2>
        <ul>
          <li>
            <a href="/#">Instagram</a>
          </li>
          <li>
            <a href="/#">Youtube</a>
          </li>
          <li>
            <a href="/#">Facebook</a>
          </li>
          <li>
            <a href="/#">Twitter</a>
          </li>
        </ul>
      </nav>
      <nav class="main-custom-footer--links__nav">
        <h2>Atención al cliente</h2>
        <ul>
          <li>
            <a href="/#">Política de Privacidad</a>
          </li>
          <li>
            <a href="/#">Aviso Legal</a>
          </li>
          <li>
            <a href="/#">Política de Cookies</a>
          </li>
          <li>
            <a href="/#">Condiciones</a>
          </li>
          <li>
            <a href="/#">Calidad en Servicio</a>
          </li>
          <li>
            <a href="/#">Desestimador</a>
          </li>
        </ul>
      </nav>
      <nav class="main-custom-footer--links__nav">
        <h2>Secciones destacadas</h2>
        <ul>
          <li>
            <a href="/#">Afiliados</a>
          </li>
          <li>
            <a href="/#">Keio x Kings League</a>
          </li>
          <li>
            <a href="/#">Embajadores</a>
          </li>
        </ul>
      </nav>
      <nav class="main-custom-footer--links__nav">
        <h2>Keio Fit</h2>
        <ul>
          <li>
            <a href="/#">Déjanos tus Datos</a>
          </li>
          <li>
            <a href="/#">Descargar</a>
          </li>
        </ul>
      </nav>
      <nav class="main-custom-footer--links__nav">
        <h2>Área de clientes</h2>
        <ul>
          <li>
            <a href="/#">Mi Cuenta</a>
          </li>
        </ul>
      </nav>
      <nav class="main-custom-footer--links__nav">
        <h2>
          <a href="/#">Faq</a>
        </h2>
      </nav>
    </div>
  </footer>

{% schema %}
{
  "name": "Footer",
  "class": "section-footer i-section section-i-footer",
  "max_blocks": 2,
  "settings": [
    {
      "type": "header",
      "content": "Estructura"
    },
    {
      "type": "image_picker",
      "id": "logo_footer",
      "label": "Logo Footer"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "Footer menus",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Menu",
          "label": "Nombre del menu"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu footer",
        }
      ]
    },
  ]
}
{% endschema %}
