<header class="main-custom-header custom-section">
    <div class="main-custom-header__top b-box">
      <div class="main-custom-header__top--container">
        <div class="main-custom-header__top--container__logo">
          <a href="/#">
            <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/logotipo.png?v=1759467563" />
          </a>
        </div>
        <div class="main-custom-header__top--container__icons">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M19.3568 18.7085L15.0528 14.4045C15.995 13.304 16.4925 11.9548 16.4925 10.5C16.4925 8.90201 15.8668 7.39447 14.7362 6.25628C13.6055 5.11809 12.098 4.5 10.4925 4.5C8.88693 4.5 7.39447 5.12563 6.25628 6.25628C5.11809 7.38693 4.5 8.90201 4.5 10.5C4.5 12.098 5.12563 13.6055 6.25628 14.7437C7.38693 15.8819 8.89447 16.5 10.5 16.5C11.9397 16.5 13.3191 15.9874 14.4045 15.0603L18.7085 19.3643C18.7915 19.4548 18.9196 19.5 19.0327 19.5C19.1533 19.5 19.2739 19.4472 19.3568 19.3643C19.4472 19.2739 19.5 19.1608 19.5 19.0402C19.5 18.9121 19.4472 18.7915 19.3568 18.7085ZM14.0879 14.0879C13.1307 15.0452 11.8492 15.5804 10.5 15.5804C9.15075 15.5804 7.86935 15.0528 6.91206 14.0955C5.95477 13.1307 5.4196 11.8568 5.4196 10.5C5.4196 9.14322 5.94724 7.86935 6.90452 6.91206C7.86181 5.95477 9.13568 5.42714 10.4925 5.42714C11.8492 5.42714 13.1231 5.95477 14.0804 6.91206C15.0377 7.86935 15.5653 9.14322 15.5653 10.5C15.5653 11.8568 15.0452 13.1307 14.0879 14.0879Z" fill="black"/>
            </svg>
          </div>
          <div>
            <a href="/account">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M18.75 19.5V17.75C18.75 16.8217 18.3707 15.9315 17.6956 15.2751C17.0205 14.6187 16.1048 14.25 15.15 14.25H8.85C7.89522 14.25 6.97955 14.6187 6.30442 15.2751C5.62928 15.9315 5.25 16.8217 5.25 17.75V19.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 10.75C14.0711 10.75 15.75 9.07107 15.75 7C15.75 4.92893 14.0711 3.25 12 3.25C9.92893 3.25 8.25 4.92893 8.25 7C8.25 9.07107 9.92893 10.75 12 10.75Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          </div>
          <div>
            <i-minicart blocks="40|" />
          </div>
        </div>
      </div>
    </div>
    <div class="main-custom-header__bottom b-box">
      <nav class="main-custom-header__bottom--container">
        <ul class="main-custom-header__bottom--container__list">
          <li class="main-custom-header__bottom--container__list--item">
            <a href="/#">FIBRA Y MÓVIL</a>
          </li>
          <li class="main-custom-header__bottom--container__list--item">
            <a href="/#">KEIO ENERGY</a>
          </li>
          <li class="main-custom-header__bottom--container__list--item level-2">
            <a href="/#">TOP VENTAS</a>
          </li>
          <li class="main-custom-header__bottom--container__list--item">
            <a href="/#">KEIO X</a>
          </li>
          <li class="main-custom-header__bottom--container__list--item">
            <a href="/pages/blog">BLOG</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

<script>
  window.allProducts = [];

  {% assign my_collection = collections['frontpage'] %}

  {% for product in my_collection.products %}
    {% assign related = product.metafields.custom.productos_relacionados.value %}

    window.allProducts.push({
      ...{{ product | json }},
      related_products: [
        {% for related_product in related %}
          {{ all_products[related_product.handle] | json }}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    });
  {% endfor %}
</script>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header i-section section-i-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Estructura"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "image_picker",
      "id": "logo_header",
      "label": "Logo header"
    },
    {
      "type": "image_picker",
      "id": "logo_header_dark",
      "label": "Logo header negro"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Productos megamenu"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
