<div class="i-announcement-bar">
  <li class="i-announcement-bar__item">
    ENVIO GRATIS en 24/48h
  </li>
</div>

{% schema %}
{
  "name": "iUROP Announcement Bar",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "iUROP Announcement Bar"
    }
  ]
}
{% endschema %}
