<section class="blog-page main-custom-faqs main-links custom-section">
  <div class="blog-page__heading">
    Centro de ayuda
  </div>

  <div class="faqs-page__items">


<div class="main-custom-product-card">
  
  

  <div class="main-custom-product-card--inner">
    <h3>
      Nombre del archivo
    </h3>
    <div class="main-custom-product-card--inner__desc">
      Logo
    </div>
    <div class="main-custom-product-card--inner__actions">
        <a href="/products/products-tarifa-movil-15gb-barata" class="main-custom-button is-primary">Ver archivo</a>
    </div>
  </div>
</div>






  </div>
</section>

<style>
  .template-page-links .main-custom-footer {
    margin-top: 0;
  }
</style>

{% schema %}
{
  "name": "main-links",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "main-links"
    }
  ]
}
{% endschema %}
