  <section class="main-custom-text-image custom-section pt pb pl pr">
    <div class="main-custom-text-image--content">
      <div class="main-custom-text-image--content__text">
        <div class="main-custom-text-image--content__text--title">
          <h3>Libertad total en tu conexión</h3>
          <p>Conoce los beneficios de Keio</p>
        </div>
        <ul>
          <li>
            1. Sin cuotas ni permanencia <span>- paga una sola vez al año y olvídate de ataduras.</span>
          </li>
          <li>
            2. Ahorro real todo el año <span>- precios por debajo de las operadoras tradicionales.</span>
          </li>
          <li>
            3. Cobertura que se adapta a ti <span>- acceso a grandes redes y 5G donde esté disponible.</span>
          </li>
          <li>
            4. Tus gigas no se pierden <span>- acumula los que no uses y aprovéchalos después.</span>
          </li>
          <li>
            5. Contratación simple y sin letra pequeña <span>- online, rápida e instalación incluida.</span>
          </li>
          <li>
            6. Ventajas extra <span>- Plan Amigo y opciones para tu negocio con WiFi KEIO.</span>
          </li>
        </ul>
        <a href="/#" class="main-custom-button is-primary">Contratar ahora</a>
      </div>
      <div class="main-custom-text-image--content__image">
        <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/banner-updated.png?v=1762233258" />
      </div>
    </div>
  </section>

{% schema %}
{
  "name": "main-custom-text-image",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "main-custom-text-image"
    }
  ]
}
{% endschema %}
