  <section class="main-custom-blog-feed custom-section pt pb pl pr">
    <div class="main-custom-blog-feed__head">
      <h2>Actualidad Keio</h2>
    </div>
    <div class="main-custom-blog-feed__items">
      <div class="main-custom-blog-feed__items--slider">

        <div class="main-custom-blog-feed__items--slider__post">
          <div class="main-custom-blog-feed__items--slider__post--thumnbail">
            <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/B1.png?v=1759468729" />
          </div>
          <div class="main-custom-blog-feed__items--slider__post--labels">
            <div class="main-custom-blog-feed__items--slider__post--labels__inner">
              <h3>7/12/2025</h3>
              <h2>Lanzamiento Keio Fit</h2>
              <p>¡Keio Fit ya disponible! Keio Fit es una innovadora aplicación de fitness y bienestar diseñada para…</p>
              <a href="/#" class="main-custom-link-primary">Leer más</a>
            </div>
          </div>
        </div>
        <div class="main-custom-blog-feed__items--slider__post">
          <div class="main-custom-blog-feed__items--slider__post--thumnbail">
            <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/B2.png?v=1759468729" />
          </div>
          <div class="main-custom-blog-feed__items--slider__post--labels">
            <div class="main-custom-blog-feed__items--slider__post--labels__inner">
              <h3>7/12/2025</h3>
              <h2>Revolución Keio</h2>
              <p>Bienvenido a la revolución.Bienvenido a Keio, únete a la revolución y se parte de nuestra familia.</p>
              <a href="/#" class="main-custom-link-primary">Leer más</a>
            </div>
          </div>
        </div>
        <div class="main-custom-blog-feed__items--slider__post">
          <div class="main-custom-blog-feed__items--slider__post--thumnbail">
            <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/B3.png?v=1759468730" />
          </div>
          <div class="main-custom-blog-feed__items--slider__post--labels">
            <div class="main-custom-blog-feed__items--slider__post--labels__inner">
              <h3>7/12/2025</h3>
              <h2>Shooting day con Ilia</h2>
              <p>Shooting Day con Ilia Topuria.Preparando el inminente lanzamiento de nuestra aplicación...</p>
              <a href="/#" class="main-custom-link-primary">Leer más</a>
            </div>
          </div>
        </div>
        <div class="main-custom-blog-feed__items--slider__post">
          <div class="main-custom-blog-feed__items--slider__post--thumnbail">
            <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/B4.png?v=1759468728" />
          </div>
          <div class="main-custom-blog-feed__items--slider__post--labels">
            <div class="main-custom-blog-feed__items--slider__post--labels__inner">
              <h3>7/12/2025</h3>
              <h2>Keio x Kings League</h2>
              <p>Keio Sponsor oficial de Kings League. Nuestra empresa se ha convertido en sponsor oficial...</p>
              <a href="/#" class="main-custom-link-primary">Leer más</a>
            </div>
          </div>
        </div>
        
      </div>
      <a href="/#" class="main-custom-button">Visita nuestro Blog</a>
    </div>
  </section>

{% schema %}
{
  "name": "main-custom-blog-feed",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "main-custom-blog-feed"
    }
  ]
}
{% endschema %}
