  <section class="main-custom-blog-feed custom-section pt pb pl pr">
    <div class="main-custom-blog-feed__head">
      <h2>
        Actualidad 
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="32" viewBox="0 0 80 32" fill="none">
          <g clip-path="url(#clip0_13543_2692)">
            <path d="M78.3126 6.49658C78.4705 6.49658 78.6243 6.51523 78.7698 6.55461C78.9153 6.59191 79.0503 6.64786 79.175 6.72039C79.2997 6.79084 79.414 6.87788 79.5159 6.97942C79.6177 7.08096 79.705 7.19494 79.7756 7.31927C79.8463 7.44568 79.9024 7.57831 79.9419 7.72337C79.9814 7.86842 80.0001 8.02177 80.0001 8.17927C80.0001 8.33676 79.9793 8.49425 79.9398 8.64138C79.9003 8.78851 79.8442 8.92528 79.7715 9.05169C79.6987 9.1781 79.6114 9.29207 79.5075 9.39569C79.4057 9.4993 79.2893 9.58634 79.1646 9.66094C79.0379 9.73347 78.9028 9.78942 78.7553 9.82879C78.6077 9.86817 78.456 9.88889 78.2939 9.88889C78.1318 9.88889 77.9822 9.86817 77.8367 9.82879C77.6892 9.79149 77.5541 9.73347 77.4294 9.66094C77.3026 9.58841 77.1904 9.50137 77.0865 9.39983C76.9847 9.29829 76.8974 9.18224 76.8247 9.05791C76.754 8.93357 76.6979 8.79887 76.6563 8.65174C76.6168 8.50668 76.5981 8.35334 76.5981 8.19584C76.5981 8.03835 76.6168 7.88293 76.6563 7.7358C76.6979 7.58867 76.7519 7.45397 76.8267 7.32756C76.8995 7.20115 76.9868 7.08925 77.0907 6.98564C77.1946 6.88202 77.3089 6.79499 77.4377 6.72246C77.5645 6.64993 77.7016 6.59398 77.8492 6.55461C77.9967 6.51523 78.1505 6.49658 78.3126 6.49658ZM78.3105 6.79499C78.1754 6.79499 78.0508 6.81157 77.9302 6.84265C77.8097 6.87374 77.6996 6.91933 77.5957 6.97942C77.4938 7.03744 77.4024 7.1079 77.3193 7.19286C77.2361 7.27576 77.1655 7.37108 77.1094 7.47262C77.0512 7.57623 77.0055 7.68814 76.9743 7.8104C76.9431 7.93266 76.9286 8.05907 76.9286 8.19377C76.9286 8.32847 76.9431 8.45488 76.9743 8.57507C77.0055 8.69733 77.0512 8.80924 77.1073 8.91285C77.1634 9.01853 77.2341 9.10971 77.3151 9.19261C77.3962 9.27757 77.4855 9.34803 77.5873 9.40605C77.6871 9.46614 77.7972 9.51173 77.9157 9.54282C78.0321 9.5739 78.1567 9.58841 78.2877 9.58841C78.4186 9.58841 78.5474 9.5739 78.6659 9.54075C78.7843 9.50759 78.8945 9.462 78.9963 9.4019C79.1002 9.34181 79.1917 9.26928 79.2748 9.18432C79.3579 9.09728 79.4286 9.00403 79.4868 8.89834C79.5429 8.79266 79.5907 8.67868 79.6218 8.55435C79.653 8.43208 79.6676 8.3036 79.6676 8.16683C79.6676 8.03006 79.653 7.9078 79.6218 7.78761C79.5907 7.66741 79.547 7.55758 79.4909 7.45604C79.4348 7.3545 79.3662 7.26332 79.2852 7.18043C79.2041 7.09754 79.1127 7.02916 79.0129 6.9732C78.9111 6.91518 78.803 6.86959 78.6825 6.83851C78.5661 6.80742 78.4414 6.79292 78.3105 6.79292V6.79499ZM77.6705 8.9916V7.42496H78.4581C78.5391 7.42496 78.6139 7.43739 78.6825 7.46019C78.749 7.48298 78.8093 7.51407 78.8571 7.55551C78.9049 7.59696 78.9444 7.64462 78.9714 7.70264C78.9963 7.75859 79.0109 7.82076 79.0109 7.89122C79.0109 7.95132 79.0005 8.00519 78.9797 8.05493C78.9589 8.10466 78.9298 8.14611 78.8924 8.18134C78.855 8.21657 78.8072 8.24558 78.7553 8.26423C78.7012 8.28495 78.641 8.29738 78.5765 8.29946C78.6908 8.30775 78.7843 8.38856 78.8529 8.54398L79.0545 8.99574H78.7033L78.4996 8.58336C78.4851 8.55642 78.4726 8.53155 78.456 8.5129C78.4415 8.49632 78.4228 8.47974 78.3999 8.46731C78.3791 8.45695 78.3542 8.44866 78.3272 8.44244C78.3001 8.43623 78.2669 8.43623 78.2295 8.43623H77.9988V8.99574H77.6705V8.9916ZM78.3666 8.12124C78.4165 8.12124 78.4602 8.1171 78.4996 8.10674C78.537 8.09845 78.5703 8.08394 78.5973 8.06943C78.6243 8.05286 78.6451 8.03213 78.6597 8.00727C78.6742 7.9824 78.6825 7.95546 78.6825 7.92438C78.6825 7.86428 78.6555 7.81869 78.5994 7.78553C78.5454 7.75238 78.4685 7.73787 78.3666 7.73787H77.9967V8.12124H78.3666Z" fill="black"/>
            <path d="M42.049 23.6385C41.7456 24.9419 41.2718 26.1107 40.6276 27.1489C39.9855 28.185 39.202 29.0616 38.2793 29.7807C37.3587 30.4998 36.3113 31.051 35.1372 31.4302C33.963 31.8094 32.6912 32.0022 31.3196 32.0022C30.1746 32.0022 29.096 31.8675 28.0819 31.6002C27.0677 31.3328 26.1347 30.9453 25.2826 30.4417C24.4306 29.9403 23.6679 29.3248 22.9925 28.6016C22.3171 27.8804 21.7456 27.0619 21.2739 26.1501C20.8042 25.2383 20.4447 24.2374 20.1995 23.1474C19.9501 22.0573 19.8275 20.901 19.8275 19.6742C19.8275 18.4474 19.9501 17.2953 20.1995 16.2177C20.4468 15.138 20.8022 14.1433 21.2635 13.2357C21.7269 12.328 22.2901 11.5136 22.9551 10.7946C23.6201 10.0755 24.3745 9.46623 25.214 8.96474C26.0536 8.46325 26.9784 8.08195 27.9821 7.8167C28.9838 7.55352 30.052 7.4209 31.1825 7.4209C32.8574 7.4209 34.3703 7.70894 35.7211 8.28296C37.0698 8.85491 38.2232 9.67346 39.1771 10.7303C40.1309 11.7872 40.8666 13.0678 41.382 14.5682C41.8973 16.0706 42.155 17.7512 42.155 19.6121C42.155 19.8815 42.1509 20.1446 42.1405 20.4057C42.1301 20.6648 42.1093 20.9549 42.0823 21.272H24.2082C24.335 22.3371 24.5906 23.2945 24.9771 24.1441C25.3616 24.9917 25.8645 25.7128 26.4817 26.3055C27.101 26.8982 27.8263 27.3499 28.6617 27.6649C29.495 27.9778 30.4177 28.1353 31.4277 28.1353C32.9821 28.1353 34.283 27.7602 35.3283 27.0101C36.3757 26.2578 37.1841 25.1367 37.7556 23.6426H42.0511L42.049 23.6385ZM37.714 17.5688C37.5727 16.5534 37.3234 15.6582 36.9722 14.8769C36.6189 14.0998 36.1658 13.4429 35.6151 12.9124C35.0644 12.3798 34.4202 11.9757 33.6804 11.7001C32.9426 11.4245 32.1176 11.2898 31.2032 11.2898C30.2889 11.2898 29.416 11.4307 28.6388 11.7167C27.8616 12.0027 27.1779 12.4151 26.5877 12.9539C25.9975 13.4947 25.5071 14.1537 25.1185 14.9308C24.7278 15.71 24.4534 16.5886 24.2893 17.5688H37.712H37.714Z" fill="black"/>
            <path d="M49.31 31.3658H45.0166V8.05273H49.31V31.3637V31.3658Z" fill="black"/>
            <path d="M69.173 32H59.1813L52.1177 24.9563V14.9929L59.1813 7.94922H69.173L76.2365 14.9929V24.9563L69.173 32ZM60.6755 28.4046H67.6767L72.6289 23.4664V16.4849L67.6767 11.5467H60.6755L55.7232 16.4849V23.4664L60.6755 28.4046Z" fill="black"/>
            <path d="M7.89692 19.8959L22.0511 31.2913H15.9019L4.29343 21.6283V31.2913H0V0H4.29343V18.3417L15.4135 7.98031H20.9268L7.89692 19.8959Z" fill="black"/>
          </g>
          <defs>
            <clipPath id="clip0_13543_2692">
              <rect width="80" height="32" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </h2>
    </div>
    <div class="main-custom-blog-feed__items">
      <div class="main-custom-blog-feed__items--slider main-arrows">

        <div class="main-custom-blog-feed__items--slider__post">
          <div class="main-custom-blog-feed__items--slider__post--thumnbail">
            <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/B1.png?v=1759468729" />
          </div>
          <div class="main-custom-blog-feed__items--slider__post--labels">
            <div class="main-custom-blog-feed__items--slider__post--labels__inner">
              <h3>7/12/2025</h3>
              <h2>Lanzamiento Keio Fit</h2>
              <p>¡Keio Fit ya disponible! Keio Fit es una innovadora aplicación de fitness y bienestar diseñada para…</p>
              <a href="/#" class="main-custom-link-primary">Leer más</a>
            </div>
          </div>
        </div>
        <div class="main-custom-blog-feed__items--slider__post">
          <div class="main-custom-blog-feed__items--slider__post--thumnbail">
            <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/B2.png?v=1759468729" />
          </div>
          <div class="main-custom-blog-feed__items--slider__post--labels">
            <div class="main-custom-blog-feed__items--slider__post--labels__inner">
              <h3>7/12/2025</h3>
              <h2>Revolución Keio</h2>
              <p>Bienvenido a la revolución.Bienvenido a Keio, únete a la revolución y se parte de nuestra familia.</p>
              <a href="/#" class="main-custom-link-primary">Leer más</a>
            </div>
          </div>
        </div>
        <div class="main-custom-blog-feed__items--slider__post">
          <div class="main-custom-blog-feed__items--slider__post--thumnbail">
            <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/B3.png?v=1759468730" />
          </div>
          <div class="main-custom-blog-feed__items--slider__post--labels">
            <div class="main-custom-blog-feed__items--slider__post--labels__inner">
              <h3>7/12/2025</h3>
              <h2>Shooting day con Ilia</h2>
              <p>Shooting Day con Ilia Topuria.Preparando el inminente lanzamiento de nuestra aplicación...</p>
              <a href="/#" class="main-custom-link-primary">Leer más</a>
            </div>
          </div>
        </div>
        <div class="main-custom-blog-feed__items--slider__post">
          <div class="main-custom-blog-feed__items--slider__post--thumnbail">
            <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/B4.png?v=1759468728" />
          </div>
          <div class="main-custom-blog-feed__items--slider__post--labels">
            <div class="main-custom-blog-feed__items--slider__post--labels__inner">
              <h3>7/12/2025</h3>
              <h2>Keio x Kings League</h2>
              <p>Keio Sponsor oficial de Kings League. Nuestra empresa se ha convertido en sponsor oficial...</p>
              <a href="/#" class="main-custom-link-primary">Leer más</a>
            </div>
          </div>
        </div>
        
      </div>
      <a href="/pages/blog" class="main-custom-button">Visita nuestro Blog</a>
    </div>
  </section>

{% schema %}
{
  "name": "main-custom-blog-feed",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "main-custom-blog-feed"
    }
  ]
}
{% endschema %}
