  <section class="main-custom-product-list custom-section pl pr pb">
    <div class="main-custom-product-list__container">

      <div class="main-custom-product-list__container--row">
        <div class="main-custom-product-card">
          <div class="main-custom-product-card--inner">
            <svg class="corner-svg" xmlns="http://www.w3.org/2000/svg" width="119" height="130" viewBox="0 0 119 130" fill="none">
              <path d="M212.135 130H87.8654L0 42.1346V-82.1346L87.8654 -170H212.135L300 -82.1346V42.1346L212.135 130ZM106.457 85.1407H193.553L255.151 23.5428V-63.553L193.553 -125.151H106.457L44.8592 -63.553V23.5428L106.457 85.1407Z" fill="#FBF3F3"/>
            </svg>
            <h3>
              KEIO FIBRA <strong>600 MB</strong>
            </h3>
            <div class="main-custom-product-card--inner__desc">
              <ul>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Fibra 600MB
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Línea móvil con datos y llamadas ilimitadas
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  1 línea extra 30GB
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Netflix o Amazon incluido
                </li>
              </ul>
              <a href="/#" class="main-custom-link-primary">Ver más detalles</a>
            </div>
            <div class="main-custom-product-card--inner__actions">
              <div>
                149<span>,00€/año</span>
              </div>
              <button class="main-custom-button is-primary">Contratar</button>
            </div>
          </div>
        </div>
        <div class="main-custom-product-card">
          <div class="main-custom-product-card--inner">
            <svg class="corner-svg" xmlns="http://www.w3.org/2000/svg" width="119" height="130" viewBox="0 0 119 130" fill="none">
              <path d="M212.135 130H87.8654L0 42.1346V-82.1346L87.8654 -170H212.135L300 -82.1346V42.1346L212.135 130ZM106.457 85.1407H193.553L255.151 23.5428V-63.553L193.553 -125.151H106.457L44.8592 -63.553V23.5428L106.457 85.1407Z" fill="#FBF3F3"/>
            </svg>
            <h3>
              KEIO LLAMADAS <strong>ILIMITADAS</strong>
            </h3>
            <div class="main-custom-product-card--inner__desc">
              <ul>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  KEIO móvil 100GB
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Llamadas ilimitadas cobertura Orange 5G
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  E-sim gratuita
                </li>
              </ul>
              <a href="/#" class="main-custom-link-primary">Ver más detalles</a>
            </div>
            <div class="main-custom-product-card--inner__actions">
              <div>
                39<span>,00€/año</span>
              </div>
              <button class="main-custom-button is-primary">Contratar</button>
            </div>
          </div>
        </div>
        <div class="main-custom-product-card">
          <div class="main-custom-product-card--inner">
            <svg class="corner-svg" xmlns="http://www.w3.org/2000/svg" width="119" height="130" viewBox="0 0 119 130" fill="none">
              <path d="M212.135 130H87.8654L0 42.1346V-82.1346L87.8654 -170H212.135L300 -82.1346V42.1346L212.135 130ZM106.457 85.1407H193.553L255.151 23.5428V-63.553L193.553 -125.151H106.457L44.8592 -63.553V23.5428L106.457 85.1407Z" fill="#FBF3F3"/>
            </svg>
            <h3>
              KEIO FIBRA <strong>600 MB</strong>
            </h3>
            <div class="main-custom-product-card--inner__desc">
              <ul>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Fibra 600MB
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  3 líneas de móvil
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Datos y llamadas ilimitadas
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Vodafone 5G y Orange 4G
                </li>
              </ul>
              <a href="/#" class="main-custom-link-primary">Ver más detalles</a>
            </div>
            <div class="main-custom-product-card--inner__actions">
              <div>
                249<span>,00€/año</span>
              </div>
              <button class="main-custom-button is-primary">Contratar</button>
            </div>
          </div>
        </div>
        <div class="main-custom-product-card">
          <div class="main-custom-product-card--inner">
            <svg class="corner-svg" xmlns="http://www.w3.org/2000/svg" width="119" height="130" viewBox="0 0 119 130" fill="none">
              <path d="M212.135 130H87.8654L0 42.1346V-82.1346L87.8654 -170H212.135L300 -82.1346V42.1346L212.135 130ZM106.457 85.1407H193.553L255.151 23.5428V-63.553L193.553 -125.151H106.457L44.8592 -63.553V23.5428L106.457 85.1407Z" fill="#FBF3F3"/>
            </svg>
            <h3>
              KEIO FIBRA <strong>600 MB</strong>
            </h3>
            <div class="main-custom-product-card--inner__desc">
              <ul>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Fibra 600MB
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  2 líneas de móvil
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Datos y llamadas ilimitadas
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Vodafone 5G y Orange 4G
                </li>
              </ul>
              <a href="/#" class="main-custom-link-primary">Ver más detalles</a>
            </div>
            <div class="main-custom-product-card--inner__actions">
              <div>
                199<span>,00€/año</span>
              </div>
              <button class="main-custom-button is-primary">Contratar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="main-custom-product-list__container--row">
        <div class="main-custom-product-card">
          <div class="main-custom-product-card--inner">
            <svg class="corner-svg" xmlns="http://www.w3.org/2000/svg" width="119" height="130" viewBox="0 0 119 130" fill="none">
              <path d="M212.135 130H87.8654L0 42.1346V-82.1346L87.8654 -170H212.135L300 -82.1346V42.1346L212.135 130ZM106.457 85.1407H193.553L255.151 23.5428V-63.553L193.553 -125.151H106.457L44.8592 -63.553V23.5428L106.457 85.1407Z" fill="#FBF3F3"/>
            </svg>
            <h3>
              KEIO FIBRA <strong>600 MB</strong>
            </h3>
            <div class="main-custom-product-card--inner__desc">
              <ul>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Fibra 600MB
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Línea móvil con datos y llamadas ilimitadas
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  1 línea extra 30GB
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Netflix o Amazon incluido
                </li>
              </ul>
              <a href="/#" class="main-custom-link-primary">Ver más detalles</a>
            </div>
            <div class="main-custom-product-card--inner__actions">
              <div>
                149<span>,00€/año</span>
              </div>
              <button class="main-custom-button is-primary">Contratar</button>
            </div>
          </div>
        </div>
        <div class="main-custom-product-card">
          <div class="main-custom-product-card--inner">
            <svg class="corner-svg" xmlns="http://www.w3.org/2000/svg" width="119" height="130" viewBox="0 0 119 130" fill="none">
              <path d="M212.135 130H87.8654L0 42.1346V-82.1346L87.8654 -170H212.135L300 -82.1346V42.1346L212.135 130ZM106.457 85.1407H193.553L255.151 23.5428V-63.553L193.553 -125.151H106.457L44.8592 -63.553V23.5428L106.457 85.1407Z" fill="#FBF3F3"/>
            </svg>
            <h3>
              KEIO LLAMADAS <strong>ILIMITADAS</strong>
            </h3>
            <div class="main-custom-product-card--inner__desc">
              <ul>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  KEIO móvil 100GB
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Llamadas ilimitadas cobertura Orange 5G
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  E-sim gratuita
                </li>
              </ul>
              <a href="/#" class="main-custom-link-primary">Ver más detalles</a>
            </div>
            <div class="main-custom-product-card--inner__actions">
              <div>
                39<span>,00€/año</span>
              </div>
              <button class="main-custom-button is-primary">Contratar</button>
            </div>
          </div>
        </div>
        <div class="main-custom-product-card">
          <div class="main-custom-product-card--inner">
            <svg class="corner-svg" xmlns="http://www.w3.org/2000/svg" width="119" height="130" viewBox="0 0 119 130" fill="none">
              <path d="M212.135 130H87.8654L0 42.1346V-82.1346L87.8654 -170H212.135L300 -82.1346V42.1346L212.135 130ZM106.457 85.1407H193.553L255.151 23.5428V-63.553L193.553 -125.151H106.457L44.8592 -63.553V23.5428L106.457 85.1407Z" fill="#FBF3F3"/>
            </svg>
            <h3>
              KEIO FIBRA <strong>600 MB</strong>
            </h3>
            <div class="main-custom-product-card--inner__desc">
              <ul>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Fibra 600MB
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  3 líneas de móvil
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Datos y llamadas ilimitadas
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Vodafone 5G y Orange 4G
                </li>
              </ul>
              <a href="/#" class="main-custom-link-primary">Ver más detalles</a>
            </div>
            <div class="main-custom-product-card--inner__actions">
              <div>
                249<span>,00€/año</span>
              </div>
              <button class="main-custom-button is-primary">Contratar</button>
            </div>
          </div>
        </div>
        <div class="main-custom-product-card">
          <div class="main-custom-product-card--inner">
            <svg class="corner-svg" xmlns="http://www.w3.org/2000/svg" width="119" height="130" viewBox="0 0 119 130" fill="none">
              <path d="M212.135 130H87.8654L0 42.1346V-82.1346L87.8654 -170H212.135L300 -82.1346V42.1346L212.135 130ZM106.457 85.1407H193.553L255.151 23.5428V-63.553L193.553 -125.151H106.457L44.8592 -63.553V23.5428L106.457 85.1407Z" fill="#FBF3F3"/>
            </svg>
            <h3>
              KEIO FIBRA <strong>600 MB</strong>
            </h3>
            <div class="main-custom-product-card--inner__desc">
              <ul>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Fibra 600MB
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  2 líneas de móvil
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Datos y llamadas ilimitadas
                </li>
                <li>
                  <img src="https://placehold.co/24x24/png" />
                  Vodafone 5G y Orange 4G
                </li>
              </ul>
              <a href="/#" class="main-custom-link-primary">Ver más detalles</a>
            </div>
            <div class="main-custom-product-card--inner__actions">
              <div>
                199<span>,00€/año</span>
              </div>
              <button class="main-custom-button is-primary">Contratar</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>

{% schema %}
{
  "name": "main-custom-product-list",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "id": "collection",
      "type": "collection",
      "label": "Colección"
    }
  ],
  "presets": [
    {
      "name": "main-custom-product-list"
    }
  ]
}
{% endschema %}
