<div class="custom-faqs-section">
    <div class="custom-faqs-section__content">
      <h3>FAQ</h3>

      {% for block in section.blocks %}
        {% render 'custom-faq-item' title: block.settings.question, content: block.settings.answer %}
      {% endfor %}

      {% if section.settings.url != blank %}
        <a href="{{ section.settings.url }}" class="main-custom-button">{{ section.settings.button_text }}</a>
      {% endif %}
      
    </div>
</div>

{% schema %}
{
  "name": "iUROP - Faqs section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "FAQ",
      "label": "Titulo"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Url del botón"
    },
    {
      "type": "text",
      "id": "button_text",
      "default": "Ver más",
      "label": "Texto del botón"
    },
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "Faq",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "default": "Pregunta",
          "label": "Pregunta"
        },
        {
          "type": "text",
          "id": "answer",
          "default": "Respuesta",
          "label": "Respuesta"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "iUROP - Faqs section"
    }
  ]
}
{% endschema %}
