<section class="blog-page">
  <div class="blog-page__heading">Actualidad Keio</div>
  <div class="blog-page__filter">
    <button class="active">Todo</button>
    <button>Noticias y novedades</button>
    <button>Consejos y gúias</button>
    <button>Artículos</button>
  </div>
  <div class="blog-page__posts">
    <div class="blog-page__posts--inner">

      <a href="/#" class="blog-page__posts--inner__article">
        <div class="blog-page__posts--inner__article--image">
          <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/blog-1.png" />
        </div>
        <div class="blog-page__posts--inner__article--labels">
          <div>7/12/2025</div>
          <div>Lanzamiento Keio Fit</div>
          <div>¡Keio Fit ya disponible! Keio Fit es una innovadora aplicación de fitness y bienestar diseñada para…</div>
          <div>Leer más</div>
        </div>
      </a>
      <a href="/#" class="blog-page__posts--inner__article">
        <div class="blog-page__posts--inner__article--image">
          <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/blog-2.png" />
        </div>
        <div class="blog-page__posts--inner__article--labels">
          <div>7/12/2025</div>
          <div>Revolución Keio</div>
          <div>¡Keio Fit ya disponible! Keio Fit es una innovadora aplicación de fitness y bienestar diseñada para…</div>
          <div>Leer más</div>
        </div>
      </a>
      <a href="/#" class="blog-page__posts--inner__article">
        <div class="blog-page__posts--inner__article--image">
          <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/blog-3.png" />
        </div>
        <div class="blog-page__posts--inner__article--labels">
          <div>7/12/2025</div>
          <div>Shooting day con Ilia</div>
          <div>¡Keio Fit ya disponible! Keio Fit es una innovadora aplicación de fitness y bienestar diseñada para…</div>
          <div>Leer más</div>
        </div>
      </a>

    </div>
  </div>
</section>
