  <section class="main-custom-simple-banner custom-section">
    <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/BANNER.png?v=1759468661" />
    <div class="main-custom-simple-banner__container pl pr">
      <div class="main-custom-simple-banner__container--title">La energía de endesa con descuentos exclusivos por contratar Keio</div>
      <a href="/#" class="main-custom-link-white">Saber más</a>
    </div>
  </section>

{% schema %}
{
  "name": "main-custom-simple-banner",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "main-custom-simple-banner"
    }
  ]
}
{% endschema %}
