  <section class="main-custom-instagram custom-section pt pb pl pr">
    instagfeed integration
  </section>

{% schema %}
{
  "name": "main-custom-instagram",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "main-custom-instagram"
    }
  ]
}
{% endschema %}
