<section class="blog-page main-links custom-section">
  <div class="blog-page__heading">
    {{ section.settings.title }}
  </div>
</section>

<style>
  .main-links {
  
  }
</style>

{% schema %}
{
  "name": "main-links",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "main-links"
    }
  ]
}
{% endschema %}
