  <section class="main-custom-fibra-mobile custom-section pl pr pb">
    Error liquid
  </section>

{% schema %}
{
  "name": "main-custom-fibra-mobile",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "main-custom-fibra-mobile"
    }
  ]
}
{% endschema %}
