  <section class="main-custom-reviews custom-section pl pr pb">
    <div class="main-custom-reviews__heading">
      <div class="main-custom-reviews__heading--text">
        <h2>Lo que dicen de nosotros</h2>
        <p>Sabemos que vas a buscar opiniones. Perfecto. Aquí tienes los datos reales.</p>
      </div>
    </div>
    <div class="main-custom-reviews__body">
      <div class="main-custom-reviews__body--list main-arrows">
        {% for block in section.blocks %}
          <div class="main-custom-reviews__body--list__item">
            <h3>{{ block.settings.title }}</h3>
            <p>{{ block.settings.comment }}...</p>
            <div class="review-data">
              <svg width="80" height="18" viewBox="0 0 80 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_13569_6736" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="18">
                <rect width="16" height="18" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_13569_6736)">
                <path d="M8 12.7017L5.18351 14.8388C5.04395 14.9522 4.89171 15.0058 4.72678 14.9995C4.56185 14.9932 4.41595 14.9459 4.28908 14.8577C4.16221 14.7694 4.06389 14.6496 3.99411 14.4983C3.92433 14.347 3.92116 14.1831 3.98459 14.0066L5.06932 10.508L2.30992 8.56005C2.15768 8.45919 2.06253 8.32681 2.02447 8.16291C1.98641 7.999 1.99275 7.84771 2.0435 7.70902C2.09425 7.57034 2.18305 7.44741 2.30992 7.34025C2.43679 7.23308 2.58903 7.1795 2.76665 7.1795H6.17309L7.27685 3.54844C7.34028 3.37193 7.4386 3.2364 7.57182 3.14184C7.70503 3.04728 7.84776 3 8 3C8.15224 3 8.29497 3.04728 8.42818 3.14184C8.5614 3.2364 8.65972 3.37193 8.72315 3.54844L9.82691 7.1795H13.2333C13.411 7.1795 13.5632 7.23308 13.6901 7.34025C13.8169 7.44741 13.9058 7.57034 13.9565 7.70902C14.0072 7.84771 14.0136 7.999 13.9755 8.16291C13.9375 8.32681 13.8423 8.45919 13.6901 8.56005L10.9307 10.508L12.0154 14.0066C12.0788 14.1831 12.0757 14.347 12.0059 14.4983C11.9361 14.6496 11.8378 14.7694 11.7109 14.8577C11.5841 14.9459 11.4382 14.9932 11.2732 14.9995C11.1083 15.0058 10.956 14.9522 10.8165 14.8388L8 12.7017Z" fill="#AE5155"/>
                </g>
                <mask id="mask1_13569_6736" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="16" y="0" width="16" height="18">
                <rect x="16" width="16" height="18" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask1_13569_6736)">
                <path d="M24 12.7017L21.1835 14.8388C21.044 14.9522 20.8917 15.0058 20.7268 14.9995C20.5618 14.9932 20.4159 14.9459 20.2891 14.8577C20.1622 14.7694 20.0639 14.6496 19.9941 14.4983C19.9243 14.347 19.9212 14.1831 19.9846 14.0066L21.0693 10.508L18.3099 8.56005C18.1577 8.45919 18.0625 8.32681 18.0245 8.16291C17.9864 7.999 17.9928 7.84771 18.0435 7.70902C18.0942 7.57034 18.1831 7.44741 18.3099 7.34025C18.4368 7.23308 18.589 7.1795 18.7667 7.1795H22.1731L23.2768 3.54844C23.3403 3.37193 23.4386 3.2364 23.5718 3.14184C23.705 3.04728 23.8478 3 24 3C24.1522 3 24.295 3.04728 24.4282 3.14184C24.5614 3.2364 24.6597 3.37193 24.7232 3.54844L25.8269 7.1795H29.2333C29.411 7.1795 29.5632 7.23308 29.6901 7.34025C29.8169 7.44741 29.9058 7.57034 29.9565 7.70902C30.0072 7.84771 30.0136 7.999 29.9755 8.16291C29.9375 8.32681 29.8423 8.45919 29.6901 8.56005L26.9307 10.508L28.0154 14.0066C28.0788 14.1831 28.0757 14.347 28.0059 14.4983C27.9361 14.6496 27.8378 14.7694 27.7109 14.8577C27.5841 14.9459 27.4382 14.9932 27.2732 14.9995C27.1083 15.0058 26.956 14.9522 26.8165 14.8388L24 12.7017Z" fill="#AE5155"/>
                </g>
                <mask id="mask2_13569_6736" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="32" y="0" width="16" height="18">
                <rect x="32" width="16" height="18" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask2_13569_6736)">
                <path d="M40 12.7017L37.1835 14.8388C37.044 14.9522 36.8917 15.0058 36.7268 14.9995C36.5618 14.9932 36.4159 14.9459 36.2891 14.8577C36.1622 14.7694 36.0639 14.6496 35.9941 14.4983C35.9243 14.347 35.9212 14.1831 35.9846 14.0066L37.0693 10.508L34.3099 8.56005C34.1577 8.45919 34.0625 8.32681 34.0245 8.16291C33.9864 7.999 33.9928 7.84771 34.0435 7.70902C34.0942 7.57034 34.1831 7.44741 34.3099 7.34025C34.4368 7.23308 34.589 7.1795 34.7667 7.1795H38.1731L39.2768 3.54844C39.3403 3.37193 39.4386 3.2364 39.5718 3.14184C39.705 3.04728 39.8478 3 40 3C40.1522 3 40.295 3.04728 40.4282 3.14184C40.5614 3.2364 40.6597 3.37193 40.7232 3.54844L41.8269 7.1795H45.2333C45.411 7.1795 45.5632 7.23308 45.6901 7.34025C45.8169 7.44741 45.9058 7.57034 45.9565 7.70902C46.0072 7.84771 46.0136 7.999 45.9755 8.16291C45.9375 8.32681 45.8423 8.45919 45.6901 8.56005L42.9307 10.508L44.0154 14.0066C44.0788 14.1831 44.0757 14.347 44.0059 14.4983C43.9361 14.6496 43.8378 14.7694 43.7109 14.8577C43.5841 14.9459 43.4382 14.9932 43.2732 14.9995C43.1083 15.0058 42.956 14.9522 42.8165 14.8388L40 12.7017Z" fill="#AE5155"/>
                </g>
                <mask id="mask3_13569_6736" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="48" y="0" width="16" height="18">
                <rect x="48" width="16" height="18" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask3_13569_6736)">
                <path d="M56 12.7017L53.1835 14.8388C53.044 14.9522 52.8917 15.0058 52.7268 14.9995C52.5618 14.9932 52.4159 14.9459 52.2891 14.8577C52.1622 14.7694 52.0639 14.6496 51.9941 14.4983C51.9243 14.347 51.9212 14.1831 51.9846 14.0066L53.0693 10.508L50.3099 8.56005C50.1577 8.45919 50.0625 8.32681 50.0245 8.16291C49.9864 7.999 49.9928 7.84771 50.0435 7.70902C50.0942 7.57034 50.1831 7.44741 50.3099 7.34025C50.4368 7.23308 50.589 7.1795 50.7667 7.1795H54.1731L55.2768 3.54844C55.3403 3.37193 55.4386 3.2364 55.5718 3.14184C55.705 3.04728 55.8478 3 56 3C56.1522 3 56.295 3.04728 56.4282 3.14184C56.5614 3.2364 56.6597 3.37193 56.7232 3.54844L57.8269 7.1795H61.2333C61.411 7.1795 61.5632 7.23308 61.6901 7.34025C61.8169 7.44741 61.9058 7.57034 61.9565 7.70902C62.0072 7.84771 62.0136 7.999 61.9755 8.16291C61.9375 8.32681 61.8423 8.45919 61.6901 8.56005L58.9307 10.508L60.0154 14.0066C60.0788 14.1831 60.0757 14.347 60.0059 14.4983C59.9361 14.6496 59.8378 14.7694 59.7109 14.8577C59.5841 14.9459 59.4382 14.9932 59.2732 14.9995C59.1083 15.0058 58.956 14.9522 58.8165 14.8388L56 12.7017Z" fill="#AE5155"/>
                </g>
                <mask id="mask4_13569_6736" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="64" y="0" width="16" height="18">
                <rect x="64" width="16" height="18" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask4_13569_6736)">
                <path d="M72.002 3.71191C72.0049 3.71346 72.0096 3.71673 72.0166 3.72168C72.0185 3.72304 72.0216 3.72494 72.0264 3.73145C72.0313 3.73825 72.0402 3.75367 72.0508 3.78125L73.1475 7.38574L73.2998 7.88965H77.2383C77.2766 7.92352 77.286 7.94475 77.2891 7.95312C77.2891 7.95363 77.289 7.95483 77.2891 7.95605C77.2892 7.95893 77.2873 7.96494 77.2861 7.97461L77.2803 7.97949L74.5205 9.92773L74.0986 10.2256L74.252 10.7188L75.3369 14.2168L75.3408 14.2314C75.3265 14.2541 75.3154 14.2669 75.3047 14.2744C75.2983 14.2788 75.2884 14.2833 75.2637 14.2861L75.2559 14.2803L75.2461 14.2725L72.4297 12.1357L72 11.8096L71.5703 12.1357L68.7539 14.2725L68.7441 14.2803L68.7354 14.2861C68.7113 14.2832 68.7016 14.2788 68.6953 14.2744C68.6845 14.2669 68.6727 14.2544 68.6582 14.2314L68.6631 14.2168L69.748 10.7188L69.9014 10.2256L69.4795 9.92773L66.7197 7.97949L66.7129 7.97461C66.7117 7.96501 66.7108 7.95891 66.7109 7.95605C66.711 7.95483 66.7109 7.95363 66.7109 7.95312C66.714 7.94479 66.7229 7.92324 66.7607 7.88965H70.7002L70.8525 7.38574L71.9482 3.78125C71.9589 3.75346 71.9687 3.73828 71.9736 3.73145C71.9784 3.72494 71.9815 3.72304 71.9834 3.72168C71.9904 3.71673 71.9951 3.71346 71.998 3.71191L72 3.71094L72.002 3.71191Z" stroke="#AE5155" stroke-width="1.42124"/>
                <path d="M69.1835 14.8388L72 12.7017V3C71.8478 3 71.705 3.04728 71.5718 3.14184C71.4386 3.2364 71.3403 3.37193 71.2768 3.54844L70.1731 7.1795H66.7667C66.589 7.1795 66.4368 7.23308 66.3099 7.34025C66.1831 7.44741 66.0942 7.57034 66.0435 7.70902C65.9928 7.84771 65.9864 7.999 66.0245 8.16291C66.0625 8.32681 66.1577 8.45919 66.3099 8.56005L69.0693 10.508L67.9846 14.0066C67.9212 14.1831 67.9243 14.347 67.9941 14.4983C68.0639 14.6496 68.1622 14.7694 68.2891 14.8577C68.4159 14.9459 68.5618 14.9932 68.7268 14.9995C68.8917 15.0058 69.044 14.9522 69.1835 14.8388Z" fill="#AE5155"/>
                </g>
              </svg>
              <span>{{ block.settings.author }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="main-custom-reviews__body--actions">
        <a href="/#" class="main-custom-button">Ver comparativa de reseñas</a>
      </div>
    </div>
  </section>

{% schema %}
{
  "name": "main-custom-reviews",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Titulo",
          "label": "Titulo"
        },
        {
          "type": "text",
          "id": "comment",
          "default": "Comentario",
          "label": "Comentario"
        },
        {
          "type": "text",
          "id": "author",
          "default": "Autor",
          "label": "Autor"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "main-custom-reviews"
    }
  ]
}
{% endschema %}
