  <section class="main-custom-marquee custom-section pl pr ptm pbm">
    <div class="main-custom-marquee__logos">

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 40" fill="none">
        <g clip-path="url(#clip0_12864_53)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.595 34.3834L11.5055 17.1574V31.2296H13.6836V39.9997H0.0539001V31.2296H2.24675V8.74098H0.0186768V0.0175806L13.0226 0.00115967L17.8015 13.5611L22.6393 0.00115967L35.3901 0.0175806V8.74098H33.2087V31.2296H35.3901V39.9997H21.7571V31.2296H23.9499V17.1574L17.595 34.3834ZM57.5766 0.00198009L62.6381 31.2296H64.237V39.9833H51.6771V31.2296H53.2884L53.2851 27.9469H47.4618L47.4585 31.2296H49.0681V39.9833H36.514V31.2296H38.1121L43.1818 0.00198009H57.5766ZM52.3554 22.6556L50.3493 10.2891L48.3899 22.6556H52.3554ZM106.044 8.76642V16.5663H115.12V4.25655L110.896 0.00198009H97.6204L93.3903 4.24917V35.7509L97.6204 39.9825H110.909L115.131 35.7509L115.138 23.4576H106.044L106.04 31.2509H103.05V8.76642H106.044ZM80.3029 39.9809V24.1093L77.3736 24.1036L77.3687 31.2296H78.9603V39.9833H65.3666V31.2296H67.5513V8.74344H65.3584V0.00198009H85.8878L90.0941 4.21551V16.8339L86.693 20.2028L90.0802 23.5676V31.2353H92.2689V39.9792L80.3029 39.9809ZM77.3384 8.74344V17.9397L80.3127 17.9446V8.75L77.3384 8.74344ZM137.323 0.00198009L142.382 31.2296H143.981V39.9833H131.421V31.2296H133.032V27.9469H127.212L127.204 31.2296H128.812V39.9833H116.258V31.2296H117.859L122.929 0.00198009H137.323ZM132.101 22.6556L130.094 10.2891L128.138 22.6556H132.101Z" fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0_12864_53">
            <rect width="144" height="40" fill="white"/>
          </clipPath>
        </defs>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74 40" fill="none">
        <g clip-path="url(#clip0_12864_56)">
          <path d="M26.6773 36.6542C28.8157 39.5017 31.7126 39.8106 34.1766 39.8106C39.3608 39.8106 41.662 35.4503 41.662 33.0998C46.3557 39.4066 53.1918 39.9987 57.7843 39.9987C68.5061 39.9987 74 34.2285 74 27.2603C74 21.6742 68.9647 16.312 59.4323 14.9635C51.5181 13.8684 45.5754 12.4467 45.5754 8.54179C45.5754 6.48638 47.6543 3.64287 54.0099 3.64287C62.4443 3.64287 64.8567 7.623 67.9204 12.5675H70.3903V0.783508H67.8668L65.0175 3.10426C62.0393 1.62706 58.2211 0.00134277 54.3951 0.00134277C43.7607 0.00134277 38.6361 6.19332 38.6361 12.6803C38.6361 18.9733 44.1836 23.7039 55.8425 25.4385C61.799 26.3356 65.6529 27.0187 66.3876 29.5454C66.9355 31.4404 67.0527 36.0384 57.5302 36.5294C49.465 36.9473 43.5641 31.4246 41.1775 25.6583H37.5857V31.4523C37.5718 32.0701 37.6195 33.6166 36.1204 33.6166C34.5499 33.6166 34.5936 31.7216 34.5936 30.1751V12.6427C34.5936 8.65268 33.7239 6.80915 31.7344 4.29434C29.9276 2.01517 25.2676 0.0369857 19.0708 0.0369857C10.6483 0.0369857 2.56727 4.52404 2.56727 10.0111C2.56727 13.2189 4.48726 15.6446 8.21803 15.6446C11.8019 15.6446 13.3466 13.7793 13.3466 10.8843C13.3466 8.14576 11.6629 7.1339 11.6629 6.19728C11.6629 4.86859 14.4128 3.51812 17.8438 3.51812C22.9227 3.51812 24.6382 7.19924 24.6382 11.316V15.7714C8.085 18.7139 0 22.3455 0 30.4028C0 36.27 4.08817 39.9373 11.2519 39.9373C16.7756 39.9373 19.4064 38.5294 24.9321 33.1731C25.4582 34.4107 26.036 35.5889 26.6773 36.6542ZM24.5588 23.9851C24.5588 31.0523 20.8181 34.4641 16.2673 34.4641C13.1778 34.4641 11.2261 32.3553 11.2261 29.0226C11.2261 23.3356 15.2924 20.7356 24.5588 19.2743V23.9851Z" fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0_12864_56">
            <rect width="74" height="40" fill="white"/>
          </clipPath>
        </defs>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 40" fill="none">
        <g clip-path="url(#clip0_12864_58)">
          <path d="M11.5333 26.8667H27.4L19.6667 7.13333L11.5333 26.8667ZM32.6 40L28.6667 30.0667H10.2667L6.2 40H0V38.9333C2.4 38.5333 3.53333 37.3333 4.33333 35.4667L17.6667 2.86667C16.8667 1.86667 16.1333 1.46667 15.0667 1.06667V0H23.6667L37.7333 35.4C38.4 37.1333 39.4667 38.6667 41.9333 38.9333V40H32.6ZM69.4 21.0667C67.1333 21.9333 64.8 22.2667 62.8667 22.2667C59.8 22.2667 56.9333 21.3333 55.4 20.3333V37C57.8 37.4 60.2 37.5333 62.0667 37.5333C67.6 37.5333 72.9333 35.8 72.9333 28.5333C72.9333 24.5333 70.8 22 69.4 21.0667ZM61.2667 2.46667C58.8 2.46667 56.8667 2.66667 55.4 2.86667V17.6667C57.2 18.9333 60.2 19.8667 62.8667 19.8667C66.3333 19.8667 70.7333 18.6667 70.7333 11.7333C70.7333 5.53333 67 2.46667 61.2667 2.46667ZM49.2 5.53333C49.2 2.86667 48.0667 1.8 45.8 1.06667V0H63.3333C70.6667 0 77.2 3.8 77.2 10.9333C77.2 14.6 75.5333 17.2 73.2667 19C76.5333 20.2 79.4667 23 79.4667 28C79.4667 37.2667 71.7333 40 63.6 40H45.8V38.9333C48.0667 38.2 49.2 37.1333 49.2 34.4667V5.53333ZM115.067 2.46667C116.133 2.46667 116.667 1.33333 117.133 0H118.2L120 11.4H118.933C115.6 7.46667 110.733 2.86667 103.933 2.86667C96 2.86667 89.8667 8.73333 89.8667 18.0667C89.8667 28.2 96.4 35.8 106.333 35.8C110.733 35.8 115.2 34.4 119.267 31.8L119.867 33.0667C117.4 35.5333 112.2 39.9333 102.667 39.9333C92.1333 39.9333 83.2667 32.6 83.2667 19.7333C83.2 9.33333 91.7333 0 103.467 0C110.6 0 113.6 2.46667 115.067 2.46667Z" fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0_12864_58">
            <rect width="120" height="40" fill="white"/>
          </clipPath>
        </defs>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 157 40" fill="none">
        <g clip-path="url(#clip0_12864_60)">
          <path d="M45.542 8.80017H49.8728V30.9287H45.542V8.80017ZM52.4081 23.0962C52.4081 18.1615 56.0843 14.9614 60.1713 14.9614C62.2018 14.9614 64.1457 15.7976 65.0379 16.9635V15.229H69.3686V27.8487L70.4464 30.9299H65.5798L65.0441 29.1954C64.147 30.3625 62.208 31.1975 60.1775 31.1975C56.0843 31.1975 52.4081 28.2092 52.4081 23.0937V23.0962ZM60.9509 27.1326C63.3377 27.1326 65.07 25.3671 65.07 23.0962C65.07 20.8252 63.3377 19.0597 60.9509 19.0597C58.564 19.0597 56.8317 20.8252 56.8317 23.0962C56.8317 25.3671 58.5021 27.1326 60.9509 27.1326ZM84.6896 24.9174C84.6896 24.1121 84.092 23.4827 82.6901 23.1519L79.1067 22.2847C75.7918 21.4794 73.2552 19.6829 73.2552 16.0962C73.2552 12.1478 76.6579 9.72689 81.0493 9.72689C85.7092 9.72689 88.158 12.2097 89.0551 14.6925L84.9928 16.6637C84.6624 15.3789 83.4981 13.881 81.0493 13.881C78.8382 13.881 77.8223 14.8982 77.8223 15.9773C77.8223 16.9065 78.5697 17.4429 79.7352 17.7118L84.0351 18.7599C87.4688 19.5962 89.3186 21.7222 89.3186 24.6498C89.3186 27.9689 86.7511 31.2 80.6274 31.2C75.7608 31.2 73.1005 28.4483 72.2034 26.1774L76.0281 23.9634C76.6258 25.6669 78.6266 26.8328 80.7759 26.8328C83.8532 26.8278 84.6884 25.8416 84.6884 24.9174H84.6896ZM91.1078 23.0962C91.1078 18.5493 94.5106 14.9614 99.439 14.9614C104.667 14.9614 107.445 18.9978 107.445 23.0962V24.6808H95.5314C96.0981 26.5342 97.6188 27.4014 99.4439 27.4014C101.831 27.4014 103.12 26.0857 103.506 25.2804L106.79 27.2515C106.193 28.5982 103.894 31.2 99.4439 31.2C94.1233 31.2 91.1078 27.5823 91.1078 23.0962ZM102.935 21.2737C102.816 20.3445 101.8 18.672 99.3821 18.672C97.8304 18.672 96.2478 19.5082 95.6193 21.2737H102.935ZM112.76 22.7864L108.368 15.2191H113.265L116.494 21.2266L119.721 15.2191H124.618L120.225 22.7864L124.794 30.9212H119.927L116.494 24.371L113.059 30.9212H108.192L112.759 22.7864H112.76ZM128.493 19.2679H125.685V15.2314H128.581V11.5568H132.824V15.2314H137.004V19.2679H132.824V26.7423H137.066V30.9287H128.493V19.2679ZM138.855 23.0962C138.855 18.1615 142.525 14.9614 146.618 14.9614C148.649 14.9614 150.593 15.7976 151.486 16.9635V15.229H155.816V27.8487L156.893 30.9299H152.027L151.491 29.1954C150.594 30.3625 148.656 31.1975 146.623 31.1975C142.53 31.1975 138.855 28.2092 138.855 23.0937V23.0962ZM147.398 27.1326C149.785 27.1326 151.516 25.3671 151.516 23.0962C151.516 20.8252 149.785 19.0597 147.398 19.0597C145.011 19.0597 143.279 20.8252 143.279 23.0962C143.279 25.3671 144.949 27.1326 147.398 27.1326Z" fill="black"/>
          <path d="M26.9658 8.76086H20.9674L25.999 0.0257568H14.02L0 24.3671L8.98843 39.9752H26.9658L35.9542 24.3671L26.9658 8.76086ZM20.9693 29.5646H14.983L11.9905 24.3671L14.983 19.1695H20.9693L23.9618 24.3671L20.9693 29.5646Z" fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0_12864_60">
            <rect width="157" height="40" fill="white"/>
          </clipPath>
        </defs>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246 40" fill="none">
        <g clip-path="url(#clip0_12864_64)">
          <path d="M60.3376 11.1873H66.6779V14.5646H66.7835C68.6856 12.0316 71.3273 10.6596 74.6031 10.6596C78.3016 10.6596 80.732 12.1372 82.4227 14.7757H82.5284C84.4304 12.3483 87.2835 10.6596 90.982 10.6596C96.0541 10.6596 100.598 13.6148 100.598 20.3694V38.7335H94.0464V22.6913C94.0464 18.9973 92.7784 16.3588 89.0799 16.3588C85.3815 16.3588 83.7964 19.2084 83.7964 22.7968V38.6279H77.2449V22.7968C77.2449 19.314 76.1882 16.3588 72.2784 16.3588C69.9536 16.3588 66.9949 17.9419 66.9949 22.4802V38.6279H60.4433V11.1873H60.3376Z" fill="black"/>
          <path d="M106.621 0H113.173V6.9657H106.621V0ZM106.621 11.1873H113.173V38.7335H106.621V11.1873Z" fill="black"/>
          <path d="M119.196 11.1873H125.642V14.5646H125.747C127.544 11.9261 130.503 10.6596 133.567 10.6596C139.802 10.6596 143.183 14.5646 143.183 21.1082V38.7335H136.631V22.7968C136.631 18.6807 134.835 16.4644 131.559 16.4644C127.967 16.4644 125.853 18.6807 125.853 23.3245V38.7335H119.302V11.1873H119.196Z" fill="black"/>
          <path d="M148.466 28.8126V11.1873H155.018V27.124C155.018 31.2401 156.814 33.4564 160.196 33.4564C163.789 33.4564 165.902 31.2401 165.902 26.4907V11.1873H172.454V38.7335H166.113V35.3562H166.008C164.211 37.9947 161.358 39.2612 158.294 39.2612C151.954 39.2612 148.466 35.2506 148.466 28.8126Z" fill="black"/>
          <path d="M179.111 32.19V16.3588H175.412V11.1873H179.111V2.84961H185.662V11.1873H191.686V16.3588H185.662V30.6069C185.662 32.6121 186.719 33.2454 188.199 33.2454C189.572 33.2454 190.312 33.1398 191.58 32.9288V38.5224C190.101 38.9446 187.67 39.0501 186.719 39.0501C182.492 39.1557 179.111 37.1504 179.111 32.19Z" fill="black"/>
          <path d="M193.693 28.6016V22.2691C193.693 14.7757 200.034 10.6596 206.162 10.6596C212.82 10.6596 218.843 15.0923 218.843 22.058V27.7572C218.843 35.2506 212.503 39.3667 206.374 39.3667C199.611 39.3667 193.693 35.5673 193.693 28.6016ZM212.08 28.3905V21.5303C212.08 18.153 209.544 16.2533 206.162 16.2533C203.415 16.2533 200.456 17.7308 200.456 21.7414V28.496C200.456 31.8733 202.992 33.7731 206.374 33.7731C209.016 33.7731 212.08 32.401 212.08 28.3905Z" fill="black"/>
          <path d="M221.59 33.9841L226.24 30.5013C227.93 32.7177 230.678 34.0897 233.848 34.0897C236.49 34.0897 239.237 33.1398 239.237 30.7124C239.237 28.6016 237.758 28.0739 234.059 27.4406L230.467 26.8074C225.923 25.963 222.964 23.7467 222.964 19.6306C222.964 13.9314 228.036 10.6596 233.848 10.6596C238.814 10.6596 242.302 11.9261 244.626 15.1979L239.871 18.4696C238.286 16.5699 236.384 15.8311 233.742 15.8311C231.101 15.8311 229.304 16.781 229.304 18.8918C229.304 20.7915 231.629 21.1082 234.482 21.6359L238.603 22.4802C243.253 23.4301 246 26.0686 246 30.1847C246 36.5171 239.448 39.5778 233.848 39.5778C228.987 39.2612 224.338 37.9947 221.59 33.9841Z" fill="black"/>
          <path d="M10.884 33.562L5.07214 39.3668H24.7268V33.562H10.884Z" fill="black"/>
          <path d="M13.8428 19.6306L0.951031 34.8285V39.3668H4.01546L9.93299 33.4565L14.8995 27.8628C19.4433 22.7968 24.6211 17.942 24.6211 10.7652C24.6211 4.53826 20.3943 0 12.5747 0C5.2835 0 0 3.48285 0 10.343V11.715H6.55155V10.6596C6.55155 7.59894 8.45361 5.59367 11.9407 5.59367C15.6392 5.59367 17.3299 7.70449 17.3299 10.343V11.3984C17.3299 14.5646 15.9562 17.0976 13.8428 19.6306Z" fill="black"/>
          <path d="M46.9175 28.1795C46.9175 31.4512 44.8041 34.4064 40.683 34.4064C36.5618 34.4064 34.4484 31.5568 34.4484 28.285V11.9262C34.4484 8.44332 36.7732 5.69926 40.7887 5.69926C43.3247 5.69926 45.0155 6.75467 46.0722 8.33778V0.844377C44.4871 0.316673 42.6907 0.105591 40.7887 0.105591C33.8144 0.105591 27.2629 3.90506 27.2629 11.9262V28.4961C27.2629 36.7283 34.0258 40.0001 40.7887 40.0001C47.5515 40.0001 54.2088 36.095 54.2088 28.285V12.0317C54.2088 6.3325 51.1443 2.84965 47.0232 1.161L46.9175 28.1795Z" fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0_12864_64">
            <rect width="246" height="40" fill="white"/>
          </clipPath>
        </defs>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123 40" fill="none">
        <g clip-path="url(#clip0_12864_77)">
          <path d="M112.465 34.5526C112.465 31.579 114.835 29.1579 117.732 29.1579C120.63 29.1579 122.974 31.579 122.974 34.5526C122.974 37.5263 120.603 39.9474 117.732 39.9474C114.861 39.9474 112.465 37.5263 112.465 34.5526Z" fill="black"/>
          <path d="M0 5.39474C0 2.42105 2.34411 0 5.24133 0C8.13854 0 10.4827 2.42105 10.4827 5.39474C10.4827 8.36842 8.13854 10.7895 5.24133 10.7895C2.34411 10.7895 0 8.39474 0 5.39474Z" fill="black"/>
          <path d="M122.684 26.2631H113.228V1.36841H122.684V26.2631Z" fill="black"/>
          <path d="M53.2298 10.5526C52.6767 10.0263 51.8602 9.97366 51.2017 10.1842C50.5959 10.4473 50.1745 11.0263 50.0955 11.6842L50.0692 27.6842C50.2009 28.3421 50.6486 28.8947 51.2807 29.1316C51.7548 29.2631 52.2816 29.2631 52.7557 29.1052C53.2561 28.7631 53.7038 28.5 53.7038 27.5526L53.7302 11.7631C53.7038 11.3158 53.5195 10.8947 53.2298 10.5526ZM62.1848 6.07893C63.133 7.34208 63.528 9.57893 63.5544 11.6842L63.5017 27.9737C63.37 32.2105 60.9996 36.8421 57.3385 38.2895C53.6775 40.0263 47.9358 39.7631 44.6961 37.2368C41.8779 35.0526 40.4557 31.8684 40.2976 28.3158L40.324 10.1579C40.561 7.57893 41.8779 4.81577 43.8797 3.57893C45.3546 2.52629 47.0666 1.92103 48.8576 1.78945C52.6503 1.31577 59.3929 1.26314 62.1848 6.07893Z" fill="black"/>
          <path d="M99.5062 25.3421C99.5062 25.3684 97.5045 14.5789 97.5045 14.5526C97.5045 14.5263 97.5045 14.3684 95.4238 25.3421C95.3974 25.3684 99.4799 25.3684 99.5062 25.3421ZM105.222 1.57892C105.485 1.65787 110.884 39 110.884 39.1052C110.805 39.1316 101.929 39.1052 101.929 39.1052L100.981 33.5C100.981 33.5 94.1595 33.5263 94.1595 33.5C94.1595 33.4737 93.106 39.1052 93.106 39.1052C93.027 39.1052 83.9139 39.1316 83.8876 39.1052C83.8613 39.0789 90.6039 1.63155 90.5775 1.57892C90.6039 1.63155 105.222 1.57892 105.222 1.57892Z" fill="black"/>
          <path d="M76.8552 29.3684H82.6497V39.1579C82.6233 39.1316 67.2681 39.1579 67.2681 39.1579V1.57892H76.8816C76.8289 1.57892 76.8552 29.421 76.8552 29.3684Z" fill="black"/>
          <path d="M23.4148 15.0263H27.2075V1.6842H36.5576V39.1842H27.2602L27.2865 24.5H23.5201L23.4938 39.1842H13.9066V1.6842H23.3884L23.4148 15.0263Z" fill="black"/>
          <path d="M10.2193 39.1842H0.842834L0.869172 12.0526H10.2193V39.1842Z" fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0_12864_77">
            <rect width="123" height="40" fill="white"/>
          </clipPath>
        </defs>
      </svg>


      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167 40" fill="none">
        <path d="M83.9609 40C92.5574 40 99.9408 35.4184 103.211 28.3656H103.422V39.2278H117.239V28.3656H117.503L123.726 39.2278H140.286L132.217 27.5418C131.637 26.718 130.846 25.6371 128.947 25.4311V25.2251C134.802 23.0116 137.491 18.4299 137.491 13.4877C137.491 6.38349 131.901 0.669225 122.25 0.669225H103.422V7.56747C105.848 11.6345 106.111 16.0102 105.215 19.8712H105.004C105.004 17.0914 104.424 14.5173 103.422 12.1493C100.257 4.83902 92.7683 0 83.9609 0C77.4738 0 71.6198 2.67689 67.7699 7.05271C69.4048 10.7593 68.8247 15.444 66.9788 18.4812H66.7679C67.5588 15.7528 67.5063 12.0464 66.2404 9.06038C64.2364 4.11842 59.2788 0.669225 52.0537 0.669225H33.0673V17.812C36.1263 21.1583 36.0736 26.2033 34.2804 29.0862H34.0693C34.4387 27.2844 34.4913 23.9382 33.0673 21.4157C30.4305 16.7309 24.1544 15.4954 19.5662 14.6204C16.56 14.054 14.345 13.848 14.345 12.4067C14.345 11.6859 14.9251 11.1711 16.1381 11.1711H31.2742V0.669225H16.6128C6.96154 0.669225 0 4.22136 0 12.5096C0 22.1364 8.91288 23.8867 14.8197 25.0193C16.4546 25.328 17.8257 25.6371 18.7224 25.9973C19.3552 26.2549 19.6716 26.6667 19.6716 27.2844C19.6716 28.1596 18.9861 28.7258 17.6149 28.7258H0.843833V39.2278H15.9798C23.9436 39.2278 30.1667 37.0656 32.8565 32.3809H33.0673V39.2278H46.8851V28.3656H52.0537C56.8528 28.3656 60.6499 26.8211 63.287 24.35H63.4451C65.4493 33.6164 73.8877 40 83.9609 40ZM46.8851 17.8636V11.1711H49.7858C52.2118 11.1711 53.4776 12.664 53.4776 14.5173C53.4776 16.3706 52.2118 17.8636 49.7858 17.8636H46.8851ZM83.9609 27.2844C80.0582 27.2844 76.7882 24.6076 76.7882 20.0257C76.7882 15.444 80.0582 12.7156 83.9609 12.7156C87.9689 12.7156 91.186 15.444 91.186 20.0257C91.186 24.6076 87.9689 27.2844 83.9609 27.2844ZM117.239 17.8636V11.1711H120.14C122.566 11.1711 123.832 12.664 123.832 14.5173C123.832 16.3706 122.566 17.8636 120.14 17.8636H117.239ZM144.136 39.2278H157.954V13.0244H166.128V0.669225H135.909V3.65504C138.229 6.4864 138.704 10.7078 138.282 13.0244H144.136V39.2278Z" fill="black"/>
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 40" fill="none">
        <g clip-path="url(#clip0_12012_1009)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M175.421 39.3171L176 32.1366H175.731L173.661 35.7579C172.523 37.7651 171.819 38.0962 169.978 38.0962H167.515V13.3057C167.515 9.37402 167.991 8.64975 169.667 7.96688V7.78064H161.368V7.96688C163.044 8.64975 163.52 9.37402 163.52 13.3057V33.792C163.52 37.7237 163.044 38.448 161.368 39.1309V39.3171H175.4H175.421Z" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M148.184 38.986C151.599 38.986 152.696 34.9715 152.696 23.4868C152.696 12.0021 151.558 8.13243 148.267 8.13243C144.976 8.13243 143.714 12.1055 143.714 23.7558C143.714 35.4061 144.852 38.986 148.184 38.986ZM148.019 40C142.845 40 139.202 36.1511 139.202 24.0869C139.202 12.0228 143.114 7.13916 148.557 7.13916C153.296 7.13916 157.291 10.3466 157.291 23.0522C157.291 35.7579 153.731 40 148.039 40H148.019Z" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M133.49 39.7724H131.462L120.307 14.3611V31.4951C120.307 37.7031 121.093 38.448 122.77 39.1309V39.3171H116.354V39.1309C118.03 38.448 118.713 37.7238 118.713 31.4951V13.3057C118.713 9.37403 117.927 8.64977 116.25 7.96689V7.78065H121.859L131.855 30.9985V15.6027C131.855 9.39473 131.069 8.64977 129.392 7.96689V7.78065H135.746V7.96689C134.07 8.64977 133.428 9.37403 133.428 15.6027V39.7724H133.49ZM131.027 2.30595e-06L131.379 0.0827752C131.11 1.09674 130.241 4.09726 127.819 4.09726C125.977 4.09726 124.57 2.35903 123.204 2.35903C122.273 2.35903 121.404 3.22815 121.052 4.13865L120.7 4.05587C120.969 3.04191 121.838 0.0413888 124.26 0.0413888C126.019 0.0413888 127.468 1.63477 128.916 1.63477C129.848 1.63477 130.675 0.910504 131.027 -0.0206909V2.30595e-06Z" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M105.944 26.508L103.129 12.2504L100.149 26.508H105.944ZM114.056 39.3171H105.944V39.1309C108.22 38.448 107.868 36.0683 106.254 27.9359H99.8382C98.1204 36.1097 97.7686 38.2204 100.314 39.1309V39.3171H94.1675V39.1309C95.5748 38.179 96.1957 36.7098 98.3274 27.0254L102.674 7.47028H105.881L110 26.984C111.883 36.089 112.504 38.1376 114.036 39.1516V39.3378L114.056 39.3171Z" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M85.2268 9.00154V23.9007H86.3651C90.0904 23.9007 91.2287 21.0243 91.2287 16.12C91.2287 11.2157 90.2146 8.98085 86.6756 8.98085H85.2268V9.00154ZM87.8139 39.1309V39.3171H79.0801V39.1309C80.7565 38.448 81.2325 37.7237 81.2325 33.792V13.3057C81.2325 9.37402 80.7565 8.64975 79.0801 7.96688V7.78064H87.1102C92.8637 7.78064 95.2645 9.82927 95.2645 15.9545C95.2645 23.2178 91.7461 25.1009 86.7997 25.1009H85.2268V33.792C85.2268 37.7237 85.8063 38.448 87.8139 39.1309Z" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M63.9512 38.7998C65.0481 39.4827 67.6765 39.9793 69.2701 39.9793C73.43 39.9793 76.2033 36.5442 76.2033 30.8329C76.2033 20.238 66.6417 20.4656 66.6417 12.8298C66.6417 10.3259 67.9041 8.62907 70.0151 8.62907C72.5608 8.62907 73.8853 11.0916 74.9201 14.5266H75.2306V8.31867C74.0923 7.71857 72.6849 7.13916 70.9672 7.13916C67.0556 7.13916 63.9512 10.2431 63.9512 15.8303C63.9512 25.5561 73.4714 25.6596 73.4714 33.7093C73.4714 37.0409 71.8571 38.7377 69.7047 38.7377C67.2833 38.7377 65.4827 36.6891 64.2616 31.5158H63.9512V38.8205V38.7998Z" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M60.8052 39.3171L61.3847 32.1366H61.1156L59.046 35.7579C57.9077 37.7651 57.204 38.0962 55.3621 38.0962H52.1956V23.7351H55.2172C56.7901 23.7351 57.4524 24.3766 58.6942 26.6115H58.8597V19.5758H58.6942C57.3282 21.8106 56.8108 22.4935 55.2172 22.4935H52.1956V9.00154H55.0517C56.459 9.00154 57.3282 9.45679 58.3423 11.3813L59.8739 14.2162H60.0394V7.78064H46.0488V7.96688C47.7252 8.64975 48.2012 9.37402 48.2012 13.3057V33.792C48.2012 37.7237 47.7252 38.448 46.0488 39.1309V39.3171H60.7845H60.8052Z" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M32.4309 39.3171L33.0103 32.1366H32.7413L30.6717 35.7579C29.5334 37.7651 28.8297 38.0962 26.9878 38.0962H24.5249V13.3057C24.5249 9.37402 25.0009 8.64975 26.6773 7.96688V7.78064H18.3782V7.96688C20.0546 8.64975 20.5306 9.37402 20.5306 13.3057V33.792C20.5306 37.7237 20.0546 38.448 18.3782 39.1309V39.3171H32.4102H32.4309Z" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7357 39.3171L15.3151 32.1366H15.0461L12.9765 35.7579C11.8382 37.7651 11.1345 38.0962 9.29257 38.0962H6.12606V23.7351H9.14769C10.7206 23.7351 11.3829 24.3766 12.6246 26.6115H12.7902V19.5758H12.6246C11.2587 21.8106 10.7413 22.4935 9.14769 22.4935H6.12606V9.00154H8.98213C10.3895 9.00154 11.2587 9.45679 12.2728 11.3813L13.8043 14.2162H13.9699V7.78064H0V7.96688C1.67639 8.64975 2.1524 9.37402 2.1524 13.3057V33.792C2.1524 37.7237 1.67639 38.448 0 39.1309V39.3171H14.7357Z" fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0_12012_1009">
            <rect width="176" height="40" fill="white"/>
          </clipPath>
        </defs>
      </svg>

    </div>
  </section>

{% schema %}
{
  "name": "main-custom-marquee",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "main-custom-marquee"
    }
  ]
}
{% endschema %}
