<div class="custom-faqs-section">
    <div class="custom-faqs-section__content">
      <h3>FAQ</h3>
      {% render 'custom-faq-item' title: '¿Es Keio una empresa confiable?', content: '¿Es Keio una empresa confiable?' %}
      {% render 'custom-faq-item' title: '¿Cuál es la cobertura de Keio en mi zona?', content: '¿Cuál es la cobertura de Keio en mi zona?' %}
      {% render 'custom-faq-item' title: '¿Por qué tengo que pagar un año por adelantado?', content: '¿Por qué tengo que pagar un año por adelantado?' %}
      {% render 'custom-faq-item' title: '¿Hay permanencia o contratos a largo plazo?', content: '¿Hay permanencia o contratos a largo plazo?' %}
      {% render 'custom-faq-item' title: '¿Cómo se realiza el envío de la tarjeta SIM o el equipo de fibra?', content: '¿Cómo se realiza el envío de la tarjeta SIM o el equipo de fibra?' %}
      {% render 'custom-faq-item' title: '¿Qué sucede si la calidad del servicio no es la esperada?', content: '¿Qué sucede si la calidad del servicio no es la esperada?' %}

      <a href="/#" class="main-custom-button">Ver más</a>
    </div>
</div>

{% schema %}
{
  "name": "iUROP - Faqs section",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "iUROP - Faqs section"
    }
  ]
}
{% endschema %}
