<div class="custom-grid-distributors-section pl pr">
  <div class="custom-afiliates-section__head">
    <h2>¿Qué te ofrecemos como distribuidor?</h2>
  </div>
  <div class="custom-afiliates-section__body">
    {% render 'card-item' subtitle: 'Productos con alta demanda', text: 'Accede a un amplio catálogo con productos rentables y en constante crecimiento de ventas.', icon: 'dist-1' %}
    {% render 'card-item' subtitle: 'Material promocional personalizado', text: 'Tus amigos reciben un 10% de descuento al usar tu enlace.', icon: 'dist-2' %}
    {% render 'card-item' subtitle: 'Soporte comercial directo y ágil', text: 'Nuestro equipo te acompaña en cada paso con atención personalizada y respuesta rápida.', icon: 'dist-3' %}
    {% render 'card-item' subtitle: 'Plataforma de gestión con seguimiento en tiempo real', text: 'Obtén recursos gráficos y herramientas de marketing adaptadas a tu negocio y a tu público.', icon: 'dist-4' %}
    {% render 'card-item' subtitle: 'Marca con imagen profesional y creciente visibilidad nacional', text: 'Representa una marca sólida, con presencia en expansión y reputación de confianza en el mercado.', icon: 'dist-5' %}
  </div>
</div>

{% schema %}
{
  "name": "Grid-distributors",
  "tag": "section",
  "class": "section",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Grid-distributors"
    }
  ]
}
{% endschema %}
