  <section class="main-custom-banner-seo custom-section">
    <h2>Conectividad Total con Keio: Fibra y Móvil</h2>
    <p>Keio es la primera compañía de telecomunicaciones inspirada en el deporte. <br />
    ¡Tu viaje hacia un mundo más conectado y saludable comienza aquí!</p>
  </section>

{% schema %}
{
  "name": "main-custom-banner-seo",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "main-custom-banner-seo"
    }
  ]
}
{% endschema %}
