  <section class="main-custom-categories custom-section pt pb pl pr">
    <div class="main-custom-categories__container">
      <a href="/#" class="main-custom-categories__container--card">
        <div class="main-custom-categories__container--card__image">
          <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/cat1.png?v=1759467889" />
        </div>
        <div class="main-custom-categories__container--card__text">FIBRA</div>
      </a>
      <a href="/#" class="main-custom-categories__container--card">
        <div class="main-custom-categories__container--card__image">
          <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/cat2.png?v=1759467889" />
        </div>
        <div class="main-custom-categories__container--card__text">MÓVIL</div>
      </a>
      <a href="/#" class="main-custom-categories__container--card">
        <div class="main-custom-categories__container--card__image">
          <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/cat3.png?v=1759467889" />
        </div>
        <div class="main-custom-categories__container--card__text">ENERGÍA</div>
      </a>
    </div>
  </section>

{% schema %}
{
  "name": "main-custom-categories",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "main-custom-categories"
    }
  ]
}
{% endschema %}
