<section class="blog-page main-custom-faqs main-links custom-section">
  <div class="blog-page__heading">
    Centro de ayuda
  </div>

  <div class="faqs-page__items">

    <div class="main-custom-product-card">
      <div class="main-custom-product-card--inner">
        <h3>Procedimiento de atención ante incidencias técnicas</h3>
        {% render 'pdf-icon' %}
        <div class="main-custom-product-card--inner__actions">
            <a href="/products/products-tarifa-movil-15gb-barata" class="main-custom-button is-primary">Ver archivo</a>
        </div>
      </div>
    </div>
    <div class="main-custom-product-card">
      <div class="main-custom-product-card--inner">
        <h3>Bienvenido a Keio</h3>
        {% render 'pdf-icon' %}
        <div class="main-custom-product-card--inner__actions">
            <a href="/products/products-tarifa-movil-15gb-barata" class="main-custom-button is-primary">Ver archivo</a>
        </div>
      </div>
    </div>
    <div class="main-custom-product-card">
      <div class="main-custom-product-card--inner">
        <h3>Guía de contratación del servicio de Luz con Keio</h3>
        {% render 'pdf-icon' %}
        <div class="main-custom-product-card--inner__actions">
            <a href="/products/products-tarifa-movil-15gb-barata" class="main-custom-button is-primary">Ver archivo</a>
        </div>
      </div>
    </div>
    <div class="main-custom-product-card">
      <div class="main-custom-product-card--inner">
        <h3>Configuración de APN y compartir datos</h3>
        {% render 'pdf-icon' %}
        <div class="main-custom-product-card--inner__actions">
            <a href="/products/products-tarifa-movil-15gb-barata" class="main-custom-button is-primary">Ver archivo</a>
        </div>
      </div>
    </div>

  </div>
</section>

<style>
  .template-page-links .main-custom-footer {
    margin-top: 0;
  }
  .main-links .faqs-page__items {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .main-links .main-custom-product-card {
    height: 420px;
    gap: 10px;
    width: 20%;
  }
  .main-links .main-custom-product-card .main-custom-product-card--inner__desc svg {
    width: 156px;
    margin: 0 auto;
  }
  .main-links .main-custom-product-card h3 {
    font-size: var(--Typo-H3, 22px);
    -webkit-line-clamp: 3;
    height: 65px;
  }
</style>

{% schema %}
{
  "name": "main-links",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "main-links"
    }
  ]
}
{% endschema %}
