<section class="main-custom-product-list custom-section pl pr pb">
    <div class="main-custom-product-list__container">

      {% if section.settings.title != blank %}
        <h3 class="section-title">{{ section.settings.title }}</h3>
      {% endif %}

      {% if section.settings.show_navigation %}

        {% assign collection_fibra = collections['fibra'] %}
        {% assign collection_movil = collections['movil'] %}
        {% assign collection_fibra_y_movil = collections['fibra-y-movil'] %}
        {% assign collection_best = collections['best-sellers'] %}

        <div class="main-custom-product-list__container--filter">
          <button class="fibra-btn active">Fibra</button>
          <button class="movil-btn">Móvil</button>
          <button class="packs-btn">Packs combinados</button>
          <button class="energy-btn">Energy</button>
          <button class="best-btn">Best sellers</button>
        </div>

        <div class="main-custom-product-list__container--row fibra active">
          {% for product in collection_fibra.products %}
            {% render 'custom-product-card' product: product %}
          {% endfor %}
        </div>
        <div class="main-custom-product-list__container--row movil">
          {% for product in collection_movil.products %}
            {% render 'custom-product-card' product: product %}
          {% endfor %}
        </div>
        <div class="main-custom-product-list__container--row fibra-y-movil">
          {% for product in collection_fibra_y_movil.products %}
            {% render 'custom-product-card' product: product %}
          {% endfor %}
        </div>
        <div class="main-custom-product-list__container--row energy">
          {% for product in collection_fibra_y_movil.products %}
            {% render 'custom-product-card' product: product %}
          {% endfor %}
        </div>
        <div class="main-custom-product-list__container--row best">
          {% for product in collection_best.products %}
            {% render 'custom-product-card' product: product %}
          {% endfor %}
        </div>

      {% else %}

        {% assign collection = section.settings.collection %}
        <div class="main-custom-product-list__container--row row-products-1">
          {% for product in collection.products limit: 4 %}
            {% render 'custom-product-card' product: product %}
          {% endfor %}
        </div>
        {% if section.settings.limit == 0 %}
          <div class="main-custom-product-list__container--row row-products-2">
            {% for product in collection.products limit: 4 offset: 4 %}
              {% render 'custom-product-card' product: product %}
            {% endfor %}
          </div>
        {% endif %}

      {% endif %}

    </div>
</section>

<script>
  $( window ).on( "ready", function() {
    $('.main-custom-product-list__container--filter button').on('click', function() {
        $('.main-custom-product-list__container--filter button').removeClass('active')
        $('.main-custom-product-list__container--row').removeClass('active')
        $(this).addClass('active')
        console.log("$(this).html()", $(this).html())

        if ($(this).html() == 'Fibra') {
          $('.main-custom-product-list__container--row.fibra').addClass('active')
        }
        if ($(this).html() == 'Móvil') {
          $('.main-custom-product-list__container--row.movil').addClass('active')
        }
        if ($(this).html() == 'Packs combinados') {
          $('.main-custom-product-list__container--row.fibra-y-movil').addClass('active')
        }
        if ($(this).html() == 'Best sellers') {
          $('.main-custom-product-list__container--row.best').addClass('active')
        }

        $('.main-custom-product-list__container--row').slick('unslick');
        $('.main-custom-product-list__container--row').slick({
          slidesToShow: 1.1,
          slidesToScroll: 1,
          dots: true,
          arrows: false,
          centerMode: false,
          infinite: false
        });
    });


    const params = new URLSearchParams(window.location.search);
    const filter = params.get('filter');

    if (filter == 'fibra') {
      $('.main-custom-product-list__container--filter button').removeClass('active')
      $('.main-custom-product-list__container--row').removeClass('active')
      
      $('.main-custom-product-list__container--filter button.fibra-btn').click()
    }
    if (filter == 'movil') {
      $('.main-custom-product-list__container--filter button').removeClass('active')
      $('.main-custom-product-list__container--row').removeClass('active')

      $('.main-custom-product-list__container--filter button.movil-btn').click()
    }
    if (filter == 'packs') {
      $('.main-custom-product-list__container--filter button').removeClass('active')
      $('.main-custom-product-list__container--row').removeClass('active')

      $('.main-custom-product-list__container--filter button.packs-btn').click()
    }
    if (filter == 'best') {
      $('.main-custom-product-list__container--filter button').removeClass('active')
      $('.main-custom-product-list__container--row').removeClass('active')
      
      $('.main-custom-product-list__container--filter button.best-btn').click()
    }

  });
</script>

{% schema %}
{
  "name": "main-custom-product-list",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titulo (opcional)"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Colección"
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "default": false,
      "label": "Mostrar filtrador"
    },
    {
      "type": "number",
      "id": "limit",
      "default": 0,
      "label": "Limitar resultados"
    },
  ],
  "presets": [
    {
      "name": "main-custom-product-list"
    }
  ]
}
{% endschema %}
