<div class="custom-form-afiliates-section" id="{{ section.settings.ancle }}">


  <div class="customer account-global-page login section-{{ section.id }}-padding">

    <h1 id="login" tabindex="-1">
      Accede a la red de afiliados
    </h1>
    <div>
      <a href="https://af.uppromote.com/tdjamr-gs/register" class="main-global-button">
        Acceder
      </a>
    </div>
  </div>



  
</div>

{% schema %}
{
  "name": "Formulario-Afiliados",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "ancle",
      "label": "Ancla"
    },
  ],
  "presets": [
    {
      "name": "Formulario-Afiliados"
    }
  ]
}
{% endschema %}
