<section class="main-custom-fibra-mobile custom-section">

    <div class="main-custom-fibra-mobile__bundler main-custom-bundler pl pr pt pb" id="content-section">
      <h2>Configura tu pack</h2>
      <div class="main-custom-bundler__pack">
        <div class="main-custom-bundler__pack--content">
          <div class="main-custom-bundler__pack--content__inner">

            {% comment %} row {% endcomment %}
            <div class="main-custom-bundler__pack--content__inner--row active">
              <div class="main-custom-bundler__pack--content__inner--row__heading">
                <div>
                  <span>1</span>
                  Elige tu plan de Fibra
                </div>
                <div>50% de descuento en Fibra 2ª vivienda</div>
              </div>
              <div class="main-custom-bundler__pack--content__inner--row__content">

                {% comment %} Card {% endcomment %}
                <div class="main-custom-pack-card">
                  <div class="main-custom-pack-card__heading">Fibra Principal</div>
                  <div class="main-custom-pack-card__content">
                    <div class="main-custom-pack-card__content--switcher action-js-switcher">
                      <button class="active" rel-price="9900">600 Mb</button>
                      <button rel-price="18900">1 Gb</button>
                    </div>
                  </div>
                  <div class="main-custom-pack-card__pricing">
                    <div>99,00<span>€/año</span></div>
                  </div>
                </div>
                {% comment %} Card {% endcomment %}
                 {% comment %} Card {% endcomment %}
                <div class="main-custom-pack-card">
                  <label class="custom-switch add-fibra-secondary">
                    <input type="checkbox">
                    <span class="custom-slider"></span>
                  </label>
                  <div class="main-custom-pack-card__heading">Fibra 2ª vivienda</div>
                  <div class="main-custom-pack-card__content">
                    <div class="main-custom-pack-card__content--select">
                      <select name="options" id="options">
                        <option value="9900">600 Mb</option>
                        <option value="18900">1 Gb</option>
                      </select>
                    </div>
                  </div>
                  <div class="main-custom-pack-card__pricing">
                    <div class="listPrice">99,00<span>€/año</span></div>
                    <div class="bestPrice">99,00<span>€/año</span></div>
                  </div>
                </div>
                {% comment %} Card {% endcomment %}

              </div>
            </div>
            {% comment %} row {% endcomment %}

            {% comment %} row {% endcomment %}
            <div class="main-custom-bundler__pack--content__inner--row">
              <div class="main-custom-bundler__pack--content__inner--row__heading">
                <div>
                  <span>2</span>
                  Elige tu plan Móvil
                </div>
                <div>10% de descuento en líneas adicionales</div>
              </div>
              <div class="main-custom-bundler__pack--content__inner--row__content">

                {% comment %} Card {% endcomment %}
                <div class="main-custom-pack-card card-movil">
                  <div class="main-custom-pack-card__heading">
                    Datos ilimitados
                    <div class="main-custom-qty">
                      <button class="less disabled">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="2" viewBox="0 0 6 2" fill="none">
                          <path d="M5.85 0V1.2675H0V0H5.85Z" fill="#5C5E5C"/>
                        </svg>
                      </button>
                      <span>0</span>
                      <button class="more">
                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
                          <path d="M3.731 6.097H2.366V3.64975H0V2.44725H2.366V0H3.731V2.44725H6.097V3.64975H3.731V6.097Z" fill="#5C5E5C"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="main-custom-pack-card__content column-r">
                    <div class="main-custom-pack-card__content--select">
                      <label for="movilIlimitado">Cobertura</label>
                      <select name="movilIlimitado" id="movilIlimitado">
                        <option value="vodafone">Vodafone</option>
                        <option value="orange">Orange</option>
                      </select>
                    </div>
                    <div class="main-custom-pack-card__content--select">
                      <label for="options3">Tipo de contratación</label>
                      <select name="options3" id="options3">
                        <option value="portabilidad">Portabilidad</option>
                        <option value="alta-nueva">Alta Nueva</option>
                      </select>
                    </div>
                  </div>
                  <div class="main-custom-pack-card__pricing">
                    <div>0,00<span>€/año</span></div>
                  </div>
                </div>
                {% comment %} Card {% endcomment %}
                {% comment %} Card {% endcomment %}
                <div class="main-custom-pack-card card-movil">
                  <div class="main-custom-pack-card__heading">
                    10 Gb
                    <div class="main-custom-qty">
                      <button class="less disabled">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="2" viewBox="0 0 6 2" fill="none">
                          <path d="M5.85 0V1.2675H0V0H5.85Z" fill="#5C5E5C"/>
                        </svg>
                      </button>
                      <span>0</span>
                      <button class="more">
                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
                          <path d="M3.731 6.097H2.366V3.64975H0V2.44725H2.366V0H3.731V2.44725H6.097V3.64975H3.731V6.097Z" fill="#5C5E5C"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="main-custom-pack-card__content column-r">
                    <div class="main-custom-pack-card__content--select">
                      <label for="gb10">Cobertura</label>
                      <select name="gb10" id="gb10">
                        <option value="vodafone">Vodafone</option>
                        <option value="orange">Orange</option>
                      </select>
                    </div>
                    <div class="main-custom-pack-card__content--select">
                      <label for="options3">Tipo de contratación</label>
                      <select name="options3" id="options3">
                        <option value="portabilidad">Portabilidad</option>
                        <option value="alta-nueva">Alta Nueva</option>
                      </select>
                    </div>
                  </div>
                  <div class="main-custom-pack-card__pricing">
                    <div class="listPrice">0,00<span>€/año</span></div>
                    <div class="bestPrice">0,00<span>€/año</span></div>
                  </div>
                </div>
                {% comment %} Card {% endcomment %}
                {% comment %} Card {% endcomment %}
                <div class="main-custom-pack-card card-movil">
                  <div class="main-custom-pack-card__heading">
                    15 Gb
                    <div class="main-custom-qty">
                      <button class="less disabled">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="2" viewBox="0 0 6 2" fill="none">
                          <path d="M5.85 0V1.2675H0V0H5.85Z" fill="#5C5E5C"/>
                        </svg>
                      </button>
                      <span>0</span>
                      <button class="more">
                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
                          <path d="M3.731 6.097H2.366V3.64975H0V2.44725H2.366V0H3.731V2.44725H6.097V3.64975H3.731V6.097Z" fill="#5C5E5C"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="main-custom-pack-card__content column-r">
                    <div class="main-custom-pack-card__content--select">
                      <label for="gb15">Cobertura</label>
                      <select name="gb15" id="gb15">
                        <option value="vodafone">Vodafone</option>
                        <option value="orange">Orange</option>
                      </select>
                    </div>
                    <div class="main-custom-pack-card__content--select">
                      <label for="options3">Tipo de contratación</label>
                      <select name="options3" id="options3">
                        <option value="portabilidad">Portabilidad</option>
                        <option value="alta-nueva">Alta Nueva</option>
                      </select>
                    </div>
                  </div>
                  <div class="main-custom-pack-card__pricing">
                    <div class="listPrice">0,00<span>€/año</span></div>
                    <div class="bestPrice">0,00<span>€/año</span></div>
                  </div>
                </div>
                {% comment %} Card {% endcomment %}
                {% comment %} Card {% endcomment %}
                <div class="main-custom-pack-card card-movil">
                  <div class="main-custom-pack-card__heading">
                    30 Gb
                    <div class="main-custom-qty">
                      <button class="less disabled">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="2" viewBox="0 0 6 2" fill="none">
                          <path d="M5.85 0V1.2675H0V0H5.85Z" fill="#5C5E5C"/>
                        </svg>
                      </button>
                      <span>0</span>
                      <button class="more">
                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
                          <path d="M3.731 6.097H2.366V3.64975H0V2.44725H2.366V0H3.731V2.44725H6.097V3.64975H3.731V6.097Z" fill="#5C5E5C"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="main-custom-pack-card__content column-r">
                    <div class="main-custom-pack-card__content--select">
                      <label for="bg30">Cobertura</label>
                      <select name="bg30" id="bg30">
                        <option value="vodafone">Vodafone</option>
                        <option value="orange">Orange</option>
                      </select>
                    </div>
                    <div class="main-custom-pack-card__content--select">
                      <label for="options3">Tipo de contratación</label>
                      <select name="options3" id="options3">
                        <option value="portabilidad">Portabilidad</option>
                        <option value="alta-nueva">Alta Nueva</option>
                      </select>
                    </div>
                  </div>
                  <div class="main-custom-pack-card__pricing">
                    <div class="listPrice">0,00<span>€/año</span></div>
                    <div class="bestPrice">0,00<span>€/año</span></div>
                  </div>
                </div>
                {% comment %} Card {% endcomment %}
                   {% comment %} Card {% endcomment %}
                <div class="main-custom-pack-card card-movil">
                  <div class="main-custom-pack-card__heading">
                    60 Gb
                    <div class="main-custom-qty">
                      <button class="less disabled">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="2" viewBox="0 0 6 2" fill="none">
                          <path d="M5.85 0V1.2675H0V0H5.85Z" fill="#5C5E5C"/>
                        </svg>
                      </button>
                      <span>0</span>
                      <button class="more">
                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
                          <path d="M3.731 6.097H2.366V3.64975H0V2.44725H2.366V0H3.731V2.44725H6.097V3.64975H3.731V6.097Z" fill="#5C5E5C"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="main-custom-pack-card__content column-r">
                    <div class="main-custom-pack-card__content--select">
                      <label for="gb60">Cobertura</label>
                      <select name="gb60" id="gb60">
                        <option value="vodafone">Vodafone</option>
                        <option value="orange">Orange</option>
                      </select>
                    </div>
                    <div class="main-custom-pack-card__content--select">
                      <label for="options3">Tipo de contratación</label>
                      <select name="options3" id="options3">
                        <option value="portabilidad">Portabilidad</option>
                        <option value="alta-nueva">Alta Nueva</option>
                      </select>
                    </div>
                  </div>
                  <div class="main-custom-pack-card__pricing">
                    <div class="listPrice">0,00<span>€/año</span></div>
                    <div class="bestPrice">0,00<span>€/año</span></div>
                  </div>
                </div>
                {% comment %} Card {% endcomment %}

              </div>
            </div>
            {% comment %} row {% endcomment %}

            {% comment %} row {% endcomment %}
            <div class="main-custom-bundler__pack--content__inner--row">
              <div class="main-custom-bundler__pack--content__inner--row__heading">
                <div>
                  <span>3</span>
                  Keio Energy
                </div>
                <div>Añade Keio Energy y llévate 50€ de descuento</div>
              </div>
              <div class="main-custom-bundler__pack--content__inner--row__content">

                {% comment %} Card {% endcomment %}
                <div class="main-custom-pack-card">
                  <label class="custom-switch">
                    <input type="checkbox">
                    <span class="custom-slider"></span>
                  </label>
                  <div class="main-custom-pack-card__heading">Keio Energy</div>
                  <div class="main-custom-pack-card__content">
                    <ul>
                      <li>Luz 100% endesa</li>
                      <li>Sin permanencia</li>
                      <li>50€ de regalo al contratar</li>
                    </ul>
                  </div>
                  <div class="main-custom-pack-card__pricing">
                    <div>99,00<span>€/KWH</span></div>
                  </div>
                </div>
                {% comment %} Card {% endcomment %}

              </div>
            </div>
            {% comment %} row {% endcomment %}

          </div>
        </div>
        <div class="main-custom-bundler__pack--totals">
          <div class="main-custom-bundler__pack--totals__inner">
            <div class="main-custom-bundler__pack--totals__inner--title">
              <h4>Tu pack Keio</h4>
            </div>

            <div class="main-custom-bundler__pack--totals__inner--resume resume-fibra">
              <div>Fibra</div>
              <div>
                <span>Fibra Principal</span>
                <span>99,00€</span>
              </div>
              <div>
                <span>Fibra Principal</span>
                <span>99,00€</span>
              </div>
            </div>

            <div class="main-custom-bundler__pack--totals__inner--resume resume-mobile">
              <div>Móvil</div>
              <div>
                <span>Fibra Principal</span>
                <span>99,00€</span>
              </div>
              <div>
                <span>Fibra Principal</span>
                <span>99,00€</span>
              </div>
            </div>

            <div class="main-custom-bundler__pack--totals__inner--divider"></div>
            <div class="main-custom-bundler__pack--totals__inner--totals">
              <div>
                <span>Total Anual</span>
                <span id="total-annual">99,00€</span>
              </div>
            </div>
            <div class="main-custom-bundler__pack--totals__inner--bulker">
              <button class="main-custom-button">Lo quiero</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<script>
    AOS.init();

    function formatEuro(value, options = {}) {
      const { decimals = 2 } = options

      return new Intl.NumberFormat('es-ES', {
        minimumFractionDigits: decimals,
        maximumFractionDigits: decimals
      }).format(value)
    }

    $( window ).on( "ready", function() {
      const packInfo = [
        {
          title: "Fibra",
          items: [
            {
              name: "Fibra Principal",
              price: 9900
            }
          ]
        }
      ];

      function updateTotalizer (info) {
        console.log("info!", info)
        $('.resume-fibra').html('')
        $('.resume-mobile').html('')
        let total = 0

        $.each(info, function(index, item) {
          console.log(index, item)
          if (item.title == 'Fibra') {
            let htmLInsert = `
              <div>${item.title}</div>
            `

            for (let i = 0; i < item.items.length; i++) {
              const plan = item.items[i]
              htmLInsert += `
                <div>
                  <span>${plan.name}</span>
                  <span>${formatEuro(plan.price / 100)}€</span>
                </div>
              `
            }

            $('.resume-fibra').html(htmLInsert)
          }
          if (item.title == 'Móvil') {
            let htmLInsert = `
              <div>${item.title}</div>
            `

            for (let i = 0; i < item.items.length; i++) {
              const plan = item.items[i]
              htmLInsert += `
                <div>
                  <span>${plan.name}</span>
                  <span>${formatEuro(plan.price / 100)}€</span>
                </div>
              `
            }
            
            $('.resume-mobile').html(htmLInsert)
          }
        })

        info.forEach(group => {
          group.items.forEach(item => {
            total += item.price
          })
        })

        $('#total-annual').html(`${formatEuro(total / 100)}€`)
        console.log(total)

      }
      updateTotalizer(packInfo);


      function updateTotalizerFromFibraHTML() {
        console.log("Update totalizer from fibra html")
        const movilCards = document.querySelectorAll('.main-custom-pack-card.card-movil')

        const arr = []

        for (const movilCard of movilCards) {

          if (
            Number(movilCard.querySelector('.main-custom-qty span').innerHTML) > 0
          ) {
            const name = movilCard.querySelector('.main-custom-pack-card__heading').innerText.replace('\n1','').replace('\n2', '').replace('\n3', '')
            const option1 = movilCard.querySelectorAll('.main-custom-pack-card__content--select')[0].querySelector('select').value
            const option2 = movilCard.querySelectorAll('.main-custom-pack-card__content--select')[1].querySelector('select').value

            let price = 0
            let variant = 0

            if (name == 'Datos ilimitados') {
              if (option1 == 'vodafone' && option2 == 'portabilidad') {price = 8990; variant = 55890184667467}
              if (option1 == 'vodafone' && option2 == 'alta-nueva') {price = 10980; variant = 55890184733003}
              // ---
              if (option1 == 'orange' && option2 == 'portabilidad') {price = 8990; variant = 55890184700235}
              if (option1 == 'orange' && option2 == 'alta-nueva') {price = 10980; variant = 55890184765771}
            }
            if (name == '10 Gb') {
              if (option1 == 'vodafone' && option2 == 'portabilidad') {price = 1990; variant = 55889672143179}
              if (option1 == 'vodafone' && option2 == 'alta-nueva') {price = 3980; variant = 55889672208715}
              // ---
              if (option1 == 'orange' && option2 == 'portabilidad') {price = 1990; variant = 55889672175947}
              if (option1 == 'orange' && option2 == 'alta-nueva') {price = 3980; variant = 55889672241483}
            }
            if (name == '15 Gb') {
              if (option1 == 'vodafone' && option2 == 'portabilidad') {price = 2990; variant = 55890181095755}
              if (option1 == 'vodafone' && option2 == 'alta-nueva') {price = 3980; variant = 55890181161291}
              // ---
              if (option1 == 'orange' && option2 == 'portabilidad') {price = 2990; variant = 55890181128523}
              if (option1 == 'orange' && option2 == 'alta-nueva') {price = 3980; variant = 55890181194059}
            }
            if (name == '30 Gb') {
              if (option1 == 'vodafone' && option2 == 'portabilidad') {price = 3990; variant = 55890182963531}
              if (option1 == 'vodafone' && option2 == 'alta-nueva') {price = 5980; variant = 55890183029067}
              // ---
              if (option1 == 'orange' && option2 == 'portabilidad') {price = 3990; variant = 55890182996299}
              if (option1 == 'orange' && option2 == 'alta-nueva') {price = 5980; variant = 55890183061835}
            }
            if (name == '60 Gb') {
              if (option1 == 'vodafone' && option2 == 'portabilidad') {price = 5990; variant = 55890183684427}
              if (option1 == 'vodafone' && option2 == 'alta-nueva') {price = 7980; variant = 55890183749963}
              // ---
              if (option1 == 'orange' && option2 == 'portabilidad') {price = 5990; variant = 55890183717195}
              if (option1 == 'orange' && option2 == 'alta-nueva') {price = 7980; variant = 55890183782731}
            }

            arr.push(
              {
                "name": name,
                "price": price,
                "variant": variant
              }
            )
            

          } // end if
          
        } // end for


        if (arr.length > 0) {
          const exist = packInfo.find((item) => item.title == 'Móvil')
          const index = packInfo.findIndex(item => item.title === 'Móvil');

          if (exist) {
            packInfo[index].items = arr
          } else {
            packInfo.push(
              {
                title: "Móvil",
                items: arr
              }
            )
          }


          updateTotalizer(packInfo);
        } else {
          const newPackInfo = packInfo.filter(item => item.title !== "Móvil");
          updateTotalizer(newPackInfo);
        }

        console.log("arr", arr)
        
      }
      

      $('.action-js-switcher button').on('click', function() {
        $(this).siblings().removeClass('active')
        $(this).addClass('active')

        const prev = packInfo
        const newPrice = $(this).attr('rel-price')
        packInfo[0].items[0].price = Number(newPrice)

        $(this).closest('.main-custom-pack-card').find('.main-custom-pack-card__pricing').html(
          `
            <div>${formatEuro(Number(newPrice) / 100)}<span>€/año</span></div>
          `
        )

        updateTotalizer(packInfo)
      });

      $('.add-fibra-secondary input[type="checkbox"]').on('change', function() {
        if ($(this).is(':checked')) {
          console.log("Price this", $(this) )
          packInfo[0].items.push({
            name: "Fibra Secundaria",
            price: 9900
          })
        } else {
          packInfo[0].items = packInfo[0].items.filter(item => item.name !== "Fibra Secundaria")
        }
        updateTotalizer(packInfo)
      })


      $('.main-custom-qty button.more').on('click', function() {
        const current = $(this).closest('.main-custom-qty').find('span').html()
        $(this).closest('.main-custom-qty').find('span').html(
          Number(current) + 1
        )

        if (Number(current) >= 0) {
          $(this).closest('.main-custom-qty').find('button.less').removeClass('disabled')
        } else {
          $(this).closest('.main-custom-qty').find('button.less').addClass('disabled')
        }

        updateTotalizerFromFibraHTML()
      });
      
      $(".main-custom-qty button.less").on('click', function() {
        const current = $(this).closest('.main-custom-qty').find('span').html()
        console.log("less!!", current)
        
        if (Number(current) > 0) {
          $(this).closest('.main-custom-qty').find('span').html(
            Number(current) - 1
          )
        }

        if (Number(current) == 1) {
          $(this).closest('.main-custom-qty').find('button.less').addClass('disabled')
        }

        updateTotalizerFromFibraHTML()
      });
    
    });
</script>
<div id="modal-coberturer" class="main-modal">
  <div class="main-modal__overlay"></div>
  <div class="main-modal__content">
    <button class="main-modal__close">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M0.166174 15.8324C0.219247 15.8855 0.282271 15.9277 0.351644 15.9564C0.421017 15.9852 0.495379 16 0.570476 16C0.645574 16 0.719935 15.9852 0.789308 15.9564C0.858682 15.9277 0.921706 15.8855 0.974779 15.8324L7.99792 8.8099L15.0239 15.8324C15.1312 15.9396 15.2766 15.9999 15.4282 15.9999C15.5799 15.9999 15.7253 15.9396 15.8325 15.8324C15.9398 15.7252 16 15.5798 16 15.4281C16 15.2765 15.9398 15.1311 15.8325 15.0239L8.80653 8.00136L15.8297 0.975985C15.9369 0.868767 15.9971 0.723348 15.9971 0.571719C15.9971 0.42009 15.9369 0.274671 15.8297 0.167453C15.7224 0.0602344 15.577 0 15.4254 0C15.2737 0 15.1283 0.0602344 15.0211 0.167453L7.99792 7.19283L0.971921 0.17031C0.862602 0.076699 0.721981 0.0277836 0.578161 0.0333383C0.43434 0.038893 0.297912 0.0985085 0.196139 0.200272C0.0943666 0.302035 0.0347458 0.438451 0.0291906 0.582259C0.0236354 0.726067 0.0725552 0.866675 0.166174 0.975985L7.18932 8.00136L0.166174 15.0267C0.0597406 15.1338 0 15.2786 0 15.4296C0 15.5805 0.0597406 15.7254 0.166174 15.8324Z" fill="#1E1E1E"/>
      </svg>
    </button>
    <div class="main-modal__content--inner">
      <div class="main-modal__content--inner__body">
        <div class="main-modal__content--inner__body--form">
          <div class="main-modal__content--inner__body--form__heading">
            <h3>Introduce tu dirección para confirmar la instalación</h3>
            <p>Nos llevará menos de 30 segundos</p>
          </div>

          <div class="main-modal__content--inner__body--form__inputs">
            <div class="main-modal-row top">
              <div class="main-input-field">
                <label>Calle</label>
                <input id="street-field" type="text" placeholder="C/Principal" />
              </div>
              <div class="main-input-field">
                <label>Nº</label>
                <input id="number-field" type="text" placeholder="12" />
              </div>
              <div class="main-input-field">
                <label>Código postal</label>
                <input id="zipcode-field" type="text" placeholder="28400" />
              </div>
              <div class="main-modal-row-autocomplete"></div>
            </div>
            <div class="main-modal-row">
              <div class="main-input-field">
                <label>Email</label>
                <input id="email-field" type="text" placeholder="email@ejemplo.com" />
              </div>
              <div class="main-input-field">
                <label>Nº de teléfono</label>
                <input id="phone-field" type="text" placeholder="+34 666 666 666" />
              </div>
            </div>
          </div>
        </div>

        <div class="main-modal__content--inner__body--terms">
          <div class="main-checkbox-field">
            <input type="checkbox" id="terms-agree">
            <label for="terms-agree">
              He leído y acepto la <a href="/policies/privacy-policy">política de privacidad*</a>
            </label>
          </div>
        </div>

        <div class="main-toast-success">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <mask id="mask0_13743_18715" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
              <rect width="16" height="16" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_13743_18715)">
              <path d="M6.36688 11.7692L2.81055 8.2129L3.52321 7.50007L6.36688 10.3437L12.4772 4.2334L13.1899 4.94623L6.36688 11.7692Z" fill="#1F7B01"/>
            </g>
          </svg>
          <span>Cobertura confirmada en esta dirección, puedes  continuar con la contratación</span>
        </div>
        <div class="main-toast-error">
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
            <path d="M0.7025 8.87167L0 8.16917L3.73333 4.43583L0 0.7025L0.7025 0L4.43583 3.73333L8.16917 0L8.87167 0.7025L5.13833 4.43583L8.87167 8.16917L8.16917 8.87167L4.43583 5.13833L0.7025 8.87167Z" fill="#931E31"/>
          </svg>
          <span>Por ahora no hay cobertura en tu dirección. Guardaremos tus datos y te avisaremos cuando esté disponible</span>
        </div>

      </div>
      <div class="main-modal__content--inner__actions">
        <button class="main-custom-button-secondary">Cancelar</button>

        <button class="main-custom-button">Comprobar</button>
        <button class="main-custom-button is-loading">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="34" height="34" style="shape-rendering: auto; display: block; background: transparent;" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle stroke-dasharray="103.67255756846316 36.55751918948772" r="22" stroke-width="8" stroke="#ffffff" fill="none" cy="50" cx="50">
            <animateTransform keyTimes="0;1" values="0 50 50;360 50 50" dur="0.6493506493506493s" repeatCount="indefinite" type="rotate" attributeName="transform"></animateTransform>
          </circle><g></g></g></svg>
        </button>

      </div>
    </div>
  </div>
</div>

<script>
    $( window ).on( "ready", function() {

      $('.open-coberturer').on('click', function() {
        $('#modal-coberturer').addClass('active')
      });

      $('#modal-coberturer .main-modal__overlay').on('click', function() {
        $('#modal-coberturer').removeClass('active')
      });
      $('#modal-coberturer .main-modal__close').on('click', function() {
        $('#modal-coberturer').removeClass('active')
      });

      $('#modal-coberturer .main-custom-button-secondary').on('click', function() {
        $('#modal-coberturer').removeClass('active')
      });

      $('#street-field').on('input', function() {
        const val = $(this).val();
        $('.main-modal-row-autocomplete').html('')
        $('.main-modal-row-autocomplete').addClass('active')

        if (val.length > 5) {
          const street = $('#street-field').val()
          const number = $('#number-field').val()
          const zipcode = $('#zipcode-field').val() 

          // fetch
          let settings = {
            "url": `https://4gslwyq3z556yfbpkrgh5z455y0mcyer.lambda-url.us-east-1.on.aws/?search=${street}`,
            "method": "GET",
            "timeout": 0,
            "headers": {
              "Content-Type": "application/json",
              "accept": "application/json"
            },
          };
          

          $.ajax(settings).done(function (response) {
            let options = ``
            console.log(response);

            $.each(response, function(index, item) {
              options += `
                <li rel-street="${item.address.summary}" rel-number="" rel-zipcode="${item.address.postal_code[0]}">${item.address.summary} - ${item.address.town} - ${item.address.postal_code[0]}</li>
              `
            });
            $('.main-modal-row-autocomplete').html(options)
            $('.main-modal-row-autocomplete').addClass('active')
          });
          // -----



          
        }
      });

      $(document).on('click', '#modal-coberturer .main-modal-row-autocomplete li', function() {
        const street = $(this).attr('rel-street')
        const zipcode = $(this).attr('rel-zipcode')
        console.log("street", street)
        console.log("zipcode", zipcode)

        $('#street-field').val(street)
        $('#zipcode-field').val(zipcode) 
        $('.main-modal-row-autocomplete').html('')
        $('.main-modal-row-autocomplete').removeClass('active')

      });

      $('#modal-coberturer .main-custom-button').on('click', function() {
        localStorage.removeItem('coberturer')
        const street = $('#street-field').val() // AVENIDA 12 DE OCTUBRE
        const number = $('#number-field').val()
        const zipcode = $('#zipcode-field').val() // 30600

        const email = $('#email-field').val()
        const phone = $('#phone-field').val()
        const terms = $('#terms-agree').val()
        
        if (street.length < 4) {
          $('#modal-coberturer .main-toast-error span').html('Ingresa una dirección válida.')
          $('#modal-coberturer .main-toast-error').addClass('active')

          return false;
        } else if (zipcode.length < 3) {
          $('#modal-coberturer .main-toast-error span').html('Ingresa un código postal válido.')
          $('#modal-coberturer .main-toast-error').addClass('active')

          return false;
        } else if (email.length < 3) {
          $('#modal-coberturer .main-toast-error span').html('Ingresa un correo electrónico válido.')
          $('#modal-coberturer .main-toast-error').addClass('active')

          return false;
        } else if (!$('#terms-agree').is(':checked')) {
          $('#modal-coberturer .main-toast-error span').html('Confirma que has leido nuestros términos y condiciones.')
          $('#modal-coberturer .main-toast-error').addClass('active')

          return false;
        }

        $('.main-modal__content--inner__actions').addClass('loading')

        // fetch
        let settings = {
          "url": `https://4gslwyq3z556yfbpkrgh5z455y0mcyer.lambda-url.us-east-1.on.aws/?search=${street} ${zipcode}`,
          "method": "GET",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json",
            "accept": "application/json"
          },
        };

        $.ajax(settings).done(function (response) {
          const findAddress = response.find((item) => item.address.postal_code[0] == zipcode && item.address.summary == street)
          console.log(response, findAddress);

          if (findAddress) {
            $('#modal-coberturer .main-toast-success').addClass('active')
            $('#modal-coberturer .main-toast-error').removeClass('active')
            $('.main-modal__content--inner__actions').removeClass('loading')
            localStorage.setItem('coberturer', 'true')
          } else {
            $('#modal-coberturer .main-toast-error span').html('Por ahora no hay cobertura en tu dirección. Guardaremos tus datos y te avisaremos cuando esté disponible')
            $('#modal-coberturer .main-toast-success').removeClass('active')
            $('#modal-coberturer .main-toast-error').addClass('active')
            $('.main-modal__content--inner__actions').removeClass('loading')
            localStorage.removeItem('coberturer')
          }
        });
        // -----
      });
      
    
    });
</script>


{% schema %}
{
  "name": "main-custom-fibra-mobile",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "main-custom-fibra-mobile"
    }
  ]
}
{% endschema %}
