body.template-product .custom-product-upsells .product-upsell-card .labels-upsell h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-right: 32px;
  height: 36px;
  min-height: 36px;
  line-height: 18px;
  font-size: var(--Typo-Body-M, 13px);
}

.main-custom-blog-feed .main-custom-blog-feed__items--slider__post--thumnbail {
  min-height: 10px;
  aspect-ratio: 2 / 1.9;
}

.main-custom-blog-feed__items--slider__post {
  padding: 2px;
}

.main-custom-blog-feed .main-custom-blog-feed__items--slider__post--labels__inner h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.main-custom-blog-feed .main-custom-blog-feed__items--slider__post--labels__inner p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.template-page-blog .blog-page__posts .blog-page__posts--inner,
.template-blog .blog-page__posts .blog-page__posts--inner {
  flex-wrap: wrap;
}
.template-page-blog .blog-page__posts .blog-page__posts--inner .blog-page__posts--inner__article,
.template-blog .blog-page__posts .blog-page__posts--inner .blog-page__posts--inner__article {
  width: calc(25% - 18px);
}

.blog-page__posts--inner__article--labels div:nth-child(2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.blog-page__posts--inner__article--labels div:nth-child(3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

body.template-article .article-template .article-template__hero-adapt img {
  max-height: 500px;
  width: auto;
  margin: 0 auto;
  max-width: 100%;
}

html a.main-custom-button, body a.main-custom-button {
  padding: 0 24px;
}

@media only screen and (min-width: 1025px) {
  .main-custom-product-card--inner__actions>div {
    font-size: var(--Typo-H3, 23px);
  }
}

@media only screen and (max-width: 1024px) {
  body.template-product .custom-product-upsells .product-upsell-card .labels-upsell h3 {
    -webkit-line-clamp: 4;
  }
  .main-custom-hero--container__texts--icons {
    justify-content: center;
  }
  .main-custom-header__top {
    top: -4px;
    position: relative;
  }

  .template-blog .blog-page__posts .blog-page__posts--inner .blog-page__posts--inner__article {
    width: calc(100% - 0px) !important;
  }

  .blog-page__posts .blog-page__posts--inner .blog-page__posts--inner__article {
    width: calc(100% - 0px) !important;
  }

  .template-blog .blog-page__posts--inner__article--image {
    aspect-ratio: 2 / 2;
  }

  .blog-page__posts--inner__article--image img {
    height: 100%;
    object-fit: cover;
  }

  .blog-page__posts--inner__article--image {
    aspect-ratio: 2 / 1.8;
  }
}

@media only screen and (max-width: 1490px) {
  .main-custom-product-card--inner h3 {

  }
}