body.template-product .custom-product-upsells .product-upsell-card .labels-upsell h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  body.template-product .custom-product-upsells .product-upsell-card .labels-upsell h3 {
    -webkit-line-clamp: 4;
  }
}