:root {
  --Colors-100: #FBF3F3;
  --Colors-200: #EED2D2;
  --Colors-300: #DBA7A6;
  --Colors-400: #AE5155;
  --Colors-500: #931E31;
  --Colors-600: #751D28;
  --Colors-700: #581A20;
  --Colors-800: #3C1518;
  --Colors-900: #220F0E;
  --Colors-1000: #000000;
  --Colors-white: #FFFFFF;
  --Colors-light_grey: #CDCDCD;
  --Colors-grey: #5C5E5C;
  --Colors-gold: #AFA26F;
}
