@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

html, body {
  font-family: "Besley", serif;
}

// Fonts
.Family-Font {
  font-family: "Besley", serif;
}

.Family-Font---Body {
  font-family: "Instrument Sans", sans-serif;
}