html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Nohemi';

  * {
    font-family: 'Nohemi';
  }

  .custom-section {
    box-sizing: border-box;
  }
  
  .b-box {
    box-sizing: border-box;
  }

  .pt {
    padding-top: 96px;
  }
  .pb {
    padding-bottom: 96px;
  }
  .pl {
    padding-left: 96px;
  }
  .pr {
    padding-right: 96px;
  }

  @media only screen and (max-width: 1600px) {
    .pt {
      padding-top: 56px;
    }
    .pb {
      padding-bottom: 56px;
    }
    .pl {
      padding-left: 56px;
    }
    .pr {
      padding-right: 56px;
    }
  }
  @media only screen and (max-width: 1400px) {
    .pt {
      padding-top: 46px;
    }
    .pb {
      padding-bottom: 46px;
    }
    .pl {
      padding-left: 46px;
    }
    .pr {
      padding-right: 46px;
    }
  }

  .ptm {
    padding-top: 48px;
  }
  .pbm {
    padding-bottom: 48px;
  }

  .main-custom-button {
    position: relative;
    height: var(--Buttons-D-H, 50px);
    padding: 16px 32px;
    border-radius: var(--Corner-Extra-small, 4px);
    background: var(--Colors-500, #931E31);
    color: var(--Colors-White, var(--Colors-white, #FFF));
    font-family: var(--Family-Font---Body, Nohemi);
    font-size: var(--Typo-Body-M, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: 0px;
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .45s cubic-bezier(.77,0,.175,1);
    -moz-transition: all .45s cubic-bezier(.77,0,.175,1);
    -o-transition: all .45s cubic-bezier(.77,0,.175,1);
    transition: all .45s cubic-bezier(.77,0,.175,1);
    &:hover {
      border-radius: var(--Corner-Extra-small, 4px);
      background: var(--Colors-600, #751D28);
    }
  }
  a.main-custom-button {
    padding: 0px 32px;
    line-height: 50px;
  }

  .main-custom-link-primary {
    color: var(--Colors-500, var(--Colors-500, #931E31));
    font-family: var(--Family-Font---Body, Nohemi);
    font-size: var(--Typo-Body-M, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .main-custom-link-white {
    color: var(--Colors-White, var(--Colors-white, #FFF));
    font-family: var(--Family-Font---Body, Nohemi);
    font-size: var(--Typo-Body-M, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .main-input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Space-300, 12px);
    flex: 1 0 0;
  }
  .main-input-field__label {
    color: var(--Colors-Grey, var(--Colors-grey, #4E4E4E));
    font-family: var(--Family-Font---Body, Nohemi);
    font-size: var(--Typo-Body-M, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .main-input-field__input {
    display: flex;
    height: 45px;
    padding: 0 var(--Space-400, 16px);
    align-items: center;
    gap: 101px;
    align-self: stretch;
    border-radius: var(--Corner-Small, 8px);
    border: var(--Strokes-Small, 1px) solid var(--Colors-ligth_grey, #CDCDCD);
  }
  .main-global-button {
    display: flex;
    height: var(--Buttons-D-H, 50px);
    padding: var(--Space-400, 16px) var(--Space-800, 32px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: var(--Corner-Extra-small, 4px);
    background: var(--Colors-500, #931E31);
    color: var(--Colors-White, var(--Colors-white, #FFF));
    font-family: var(--Family-Font---Body, Nohemi);
    font-size: var(--Typo-Body-M, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    margin: 0 !important;
    width: 100%;
    border: 0;
    &:hover {
      opacity: 0.8;
    }
  }
}

.global-color-link {
  color: var(--Colors-500, var(--Colors-500, #931E31));
  font-family: var(--Family-Font---Body, Nohemi);
  font-size: var(--Typo-Body-M, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.global-color-text {
  color: var(--Colors-Grey, var(--Colors-grey, #5C5E5C));
  text-align: center;
  font-family: var(--Family-Font---Body, Nohemi);
  font-size: var(--Typo-Body-M, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.global-inlines {
  display: inline !important;
}

.global-edit-button {
  display: flex;
  max-width: var(--Buttons-D-MaxW, 300px);
  padding: var(--Space-200, 8px) var(--Space-300, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--Space-100, 4px);
  border-radius: var(--Corner-Full, 10000px);
  border: var(--Strokes-Medium, 2px) solid var(--Colors-500, #931E31);
  text-decoration: none;
  color: var(--Colors-500, var(--Colors-500, #931E31));
  font-family: var(--Family-Font---Body, Nohemi);
  font-size: var(--Typo-Body-M, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 13px;

  svg {
    margin-right: 0px !important;
  }
}

.flex-block {
  display: flex;
  flex-direction: column;
}