html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Nohemi';

  * {
    font-family: 'Nohemi';
  }

  .custom-section {
    box-sizing: border-box;
  }
  
  .b-box {
    box-sizing: border-box;
  }

  .pt {
    padding-top: 96px;
  }
  .pb {
    padding-bottom: 96px;
  }
  .pl {
    padding-left: 96px;
  }
  .pr {
    padding-right: 96px;
  }

  .ptm {
    padding-top: 48px;
  }
  .pbm {
    padding-bottom: 48px;
  }

  .main-custom-button {
    position: relative;
    height: var(--Buttons-D-H, 50px);
    padding: 16px 32px;
    border-radius: var(--Corner-Extra-small, 4px);
    background: var(--Colors-500, #931E31);
    color: var(--Colors-White, var(--Colors-white, #FFF));
    font-family: var(--Family-Font---Body, Nohemi);
    font-size: var(--Typo-Body-M, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: 0px;
    cursor: pointer;
    text-decoration: none;
  }
  a.main-custom-button {
    padding: 0px 32px;
    line-height: 50px;
  }

  .main-custom-link-primary {
    color: var(--Colors-500, var(--Colors-500, #931E31));
    font-family: var(--Family-Font---Body, Nohemi);
    font-size: var(--Typo-Body-M, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .main-custom-link-white {
    color: var(--Colors-White, var(--Colors-white, #FFF));
    font-family: var(--Family-Font---Body, Nohemi);
    font-size: var(--Typo-Body-M, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

.global-color-link {
  color: var(--Colors-500, var(--Colors-500, #931E31));
  font-family: var(--Family-Font---Body, Nohemi);
  font-size: var(--Typo-Body-M, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}