// Spaces
$Space-0: 0px;
$Space-050: 2px;
$Space-100: 4px;
$Space-150: 6px;
$Space-200: 8px;
$Space-300: 12px;
$Space-400: 16px;
$Space-600: 24px;
$Space-800: 32px;
$Space-1200: 48px;
$Space-1600: 64px;
$Space-2400: 96px;
$Space-4000: 160px;
$Space-Negative-100: -4px;
$Space-Negative-200: -8px;
$Space-Negative-300: -12px;
$Space-Negative-400: -16px;
$Space-Negative-600: -24px;

// Grids
$Grid-DGrid-Margin: 45px;
$Grid-DGrid-Gutter: 45px;
$Grid-MGrid-Margin: 20px;
$Grid-MGrid-Gutter: 20px;